- load markup resume_tags i18n


- if not to_pdf
    %h2<
        {% trans "C.V." %}

%article#resume.panel-group{'class': '{% if to_pdf %}to-pdf{% endif %}'}
    - for section in cv_sections
        .panel.panel-default
            .panel-heading
                %h2.panel-title
                    %a.accordion-toggle{'data-toggle' : 'collapse',
                                        'data-parent' : '#resume',
                                        'href'        : '#{{ section.slug }}'}
                        {{ section.name }}

            %section.panel-collapse.collapse{'id'   : '{{ section.slug }}',
                                             'class': '{% if to_pdf %} in{% endif %}'}
                .panel-block
                    .container
                        {% display_cat section.section_category.all to_pdf %}


    - if to_pdf
        - trans "You can download several documents such as academic degrees, tests results, etc., on my website: "
        <a href="http://{{ DOMAIN_NAME }}{% url "cv" %}">{{ DOMAIN_NAME }}{% url "cv" %}</a>
    - else
        .panel.panel-default
            .panel-heading
                %h2.panel-title
                    %a.accordion-toggle{'data-toggle' : 'collapse',
                                        'data-parent' : '#resume',
                                        'href'        : '#downloads'}
                        - trans "Downloads"

            %section#downloads.panel-collapse.collapse{'class': 'collapse{% if to_pdf %} in{% endif %}'}
                .panel-block
                    .container
                        .row
                            .title
                                %h3<
                                    - trans "Downloads"
                            .item
                                %ul.element.list-unstyled
                                    %li
                                        %a{'href': '{% url "cv_pdf" %}'}
                                            - trans "Download this C.V. as PDF"

                                    - for cat in cv_document_cats
                                        %li
                                            {{ cat.name }}
                                            %ul
                                                - for file in cat.category_document.all
                                                    %li
                                                        %a{'href': '{{ file.document.url }}'}
                                                            {{ file.name }}
                                        