/******************************************************************************
**									     **
**                        Variables and functions                            **
**									     **
******************************************************************************/

@blue-bg: #10161e; /* image color: 253344*/
@content-title-bg: #363636; /* image color: 242424 */
@page-size: 1000px;

.transition(@property: background-color,
	    @duration: 0.4s,
	    @timing: linear,
	    @delay: 0) {
    transition: @property @duration @timing @delay;
    -moz-transition: @property @duration @timing @delay;
    -o-transition: @property @duration @timing @delay;
    -webkit-transition: @property @duration @timing @delay;
}

/******************************************************************************
**									     **
**                        End variables and functions                        **
**									     **
******************************************************************************/

body{
    font-family: 'Arial', serif;
    font-size: 11px;
    color: white;
    background: @blue-bg url("../img/background.png");

    a {
	color: white;
	text-decoration: none;
    }

    h6 {
	font-family: 'Alice', serif;
	font-size:1em;
    }

    h5 {
	font-family: 'Alice', serif;
	font-size:1.1em;
    }

    h4 {
	font-family: 'Alice', serif;
	font-size:1.3em;
    }

    h3 {
	font-family: 'Alice', serif;
	font-size:1.6em;
    }

    h2 {
	font-family: 'Alice', serif;
	font-size: 2em;
    }

    header {
	width: @page-size;
	margin: 0 auto;
	margin-bottom: 80px;

	h1 {
	    font-family: 'Alice', serif;
	    height: 100px;
	    padding-top: 50px;
	    text-align: center;
	    font-size: 5em;

	    a {
		span {
		    position: relative;
		    .transition(all, 0.2s, ease-out);

		    &:hover{
			top: 10px;
		    }
		}
	    }
	}

	nav {
	    margin-left: 340px;
	    ul {
		li {
		    height: 32px;
		    width: 75px;

		    float: left;
		    margin-right: 10px;

		    border-radius: 12px;
		    .transition();

		    &:hover {
			background-color: rgba(255,255,255,0.17);
		    }

		    a {
			text-align: center;
			padding-top: 8px;
			font-size: 1.4em;
			font-weight: bolder;
			display: block;
			height: 37px;
		    }
		}
	    }
	}
    }

    #content-wrapper {
	width: @page-size - 40;
	background: @blue-bg url("../img/page_title_bg.png");
	border-radius: 40px;
	margin: 0 auto;
	box-shadow: 1px 1px 20px #000;
	padding: 20px;

	h2#content-title {
	    font-size: 4em;
	    font-weight:bolder;
	    height: 70px;
	    color: darken(@content-title-bg, 10%);
	    text-shadow: 0px 2px 3px lighten(@content-title-bg, 10%);
	}

	#content {
	    border-radius: 40px;
	    background-color: @blue-bg;
	    font-size: 1.3em;
	    line-height: 17px;

	    article {
		padding: 20px;
		padding-bottom: 10px;

		h2 {
		    font-size: 1.8em;
		    font-weight:bolder;
		    color: #ddd;
		    margin-bottom: 20px;
		}

		.article-content {
		    margin-left: 15px;
		}
	    }

	    hr {
		border: none;
		border-bottom: 1px solid #212121;
		color: black;
		background: black;
		margin: 25px auto;
		height: 1px;
		width: 900px;
	    }
	}
    }
}
