/******************************************************************************
**									     **
**                        Variables and functions                            **
**									     **
******************************************************************************/

@import "mixins.less";
@import "variables.less";

@blue-bg: #10161e; /* image color: 253344*/
@content-title-bg: #363636; /* image color: 242424 */

.noTransition() {
    transition: none;
    -o-transition: all, 0 none;
    -webkit-transition: none;
    -moz-transition: none;
}

/******************************************************************************
**									     **
**                        End variables and functions                        **
**									     **
******************************************************************************/

body {
    color: @white;
    background: @blue-bg url("../img/background.png");

    a {
	color: @blue;
	text-decoration: none;

	&:hover {
	    color: @blue;
	    text-decoration: inherit;
	}
    }

    h1, h2, h3, h4, h5, h6 {
	font-family: 'Alice', serif;

	a {
	    color: inherit;
	}
    }
}


header {
    h1 {
	height: 100px;
	padding-top: 50px;
	text-align: center;
	font-size: 55px;
	text-shadow: 1px 1px 10px black;
	font-weight: normal;

	a {
	    &:hover {
		color: @white;
		text-decoration: inherit;
	    }

	    span {
		position: relative;
		left:0;
		top:0;
		.transition(all 0.2s linear);

		&:hover{
		    top: 10px;
		}
	    }

	    span.char15 {
		left: 13px;
		top: -33px;
		.noTransition();
	    }

	    span.char16 {
		.noTransition();

		&:hover {
		    top: inherit;
		}
	    }
	}
    }
}



sup {
    vertical-align: 5px;
    font-size: 0.7em;
}

.hidden {
    display: none;
}

header {
    nav {
	margin-left: 340px; // 290px;

	ul {
	    li {
		height: 32px;
		width: 75px;

		float: left;
		margin-right: 10px;

		border-radius: 12px;
		.transition(background-color 0.4s linear);

		&:hover {
		    background-color: rgba(255,255,255,0.17);
		}

		a {
		    color: white;
		    text-align: center;
		    padding-top: 8px;
		    font-size: 1.4em;
		    font-weight: bolder;
		    display: block;
		    height: 37px;
		}
	    }
	}
    }
}

#content-wrapper {
    background: @blue-bg url("../img/page_title_bg.png");
    border-radius: 40px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 20px #000;
    padding: 20px;

    h2#content-title {
	font-size: 44px;
	height: 70px;
	color: darken(@content-title-bg, 10%);
	text-shadow: 0px 2px 3px lighten(@content-title-bg, 10%);
    }

    #content {
	border-radius: 40px;
	background-color: @blue-bg;
	padding-bottom: 20px;

	hr {
	    clear: both;
	    border: none;
	    border-bottom: 1px solid #212121;
	    color: black;
	    background: black;
	    margin: 25px auto;
	    height: 1px;
	    width: 80%;
	}

	section {
	    padding: 20px;
	    padding-bottom: 10px;

	    h2 {
		font-size: 1.8em;
		font-weight:bolder;
		color: #ddd;
		margin-bottom: 20px;
	    }

	    .content {
		margin-left: 15px;
	    }
	}

	section.portfolio {
	    figure {
		padding: 0;
		margin: 0;
		margin-right: 20px;

		.content {
		    overflow: hidden;
		}

		img {
		    border: 1px solid lighten(@blue-bg, 10%);
		    padding: 3px;
		}
	    }

	    footer {
		margin-top: 10px;
	    }

	    .label-list {
		margin-left: 10px;

		.label {
		    padding: 7px 5px;
		    border-radius: 5px;
		    width: 130px;
		    text-align: center;
		    margin-bottom: 10px;
		    font-size: 14px;
		    font-weight: normal;
		}
	    }
	}

	article#resume {
	    h2 {
		text-align: center;
		height: 46px;
		line-height: 46px;
		font-size: 2em;

		a {
		    display: block;

		    &:hover {
			color: #fff;
		    }
		}

		&:active {
		    background-position: left bottom;
		}
	    }

	    section {
		padding: 0;
		margin: 0 0 5px;
		overflow: hidden;
		clear: both;

		.block {
		    padding: 20px;

		    h3 {
			background-color: lighten(@blue-bg, 25%);
			border: 1px solid lighten(@blue-bg, 20%);
			border-top-color: lighten(@blue-bg, 40%);
			border-left-color: lighten(@blue-bg, 40%);
			text-shadow: 1px 1px 0 #000;

			padding: 5px;
			text-transform: uppercase;
			font-size: 1.3em;
			margin: 15px 0;
			font-weight: bolder;

			&.child {
			    width: 90%;
			}
		    }

		    ul {

			li {
			    padding: 2px 0 2px 10px;

			    p {
				display: inline;
				padding: 0;
				margin: 0;
			    }
			}
		    }

		    table {
			width: 100%;

			th, td {
			    padding: 5px;
			    padding-right: 15px;

			    border: 1px solid lighten(@blue-bg, 40%);

			    p {
				display: inline;
				padding: 0;
				margin: 0;
			    }
			}

			th {
			    background-color: lighten(@blue-bg, 10%);
			    font-weight: bolder;
			}
		    }
		}
	    }
	}
    }
}
