- load user_tags

- for item in items
    - if is_user
        .item
            {% square_thumbnail item '126' %}

            .caption
                %h6
                    %a{'data-ajax'  : 'body-content-only',
                       'data-depth' : '40',
                       'title'      : '{{ item.get_full_name }}',
                       'href'       : '{{ item.get_absolute_url }}'}
                        {{ item.get_full_name }}
                %p
                    {{ item.get_profile.occupation }}
    - else
        .item
            .thumbnail
                %img{'src'    : '{{ item.image.url }}',
                     'alt'    : '{{ item.name }}',
                     'title'  : '{{ item.name }}',
                     'width'  : '126',
                     'height' : '126'}
            .caption
                %h6
                    - if item.url
                        %a{'href'   :   '{{ item.url }}'}
                            {{ item.name }}
                    - else
                        {{ item.name }}
                %p
                    {{ item.description }}