
hr {
    border-top-color: #ccc;
}

body {
    padding-top: 60px;
}

[class^="icon-nivl"],
[class*=" icon-nivl"] {
    background-image: url("../img/icon-nivl.png");
}

.icon-nivl-white {
    background-image: url("../img/icon-nivl-white.png");
}

.icon-nivl-lab {
    background-position: 0 0;
}
