{% extends "base.html"%}

{% block "head_js" %}
    <script src="{{ STATIC_URL }}js/jquery.path.js"></script>
    <script src="{{ STATIC_URL }}js/about.js"></script>
{% endblock "head_js" %}

{% block "head_css" %}
  <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/about.less.min.css">
{% endblock "head_css" %}

{% block "body" %}
  <div id="content">
    <div class="title"></div>
    <div class="wrapper">
      <div id="images" class="images">
        <img id="image_about" src="{{ STATIC_URL }}img/about/1.2.png" alt="" width="402" height="402" />
        <img id="image_portfolio" src="{{ STATIC_URL }}img/about/2.2.png" alt="" width="402" height="402"/>
        <img id="image_contact" src="{{ STATIC_URL }}img/about/3.2.png" alt="" width="402" height="402" />
      </div>

      <div class="circleBig">
        <div id="menu" class="menu">
          <a id="about" class="about" href="">About me</a>
          <a id="portfolio" class="portfolio" href="">Portfolio</a>
          <a id="contact" class="contact" href="">Contact</a>
        </div>
      </div>
    </div>

    <div id="circle_about" class="circle">
      <div class="description">
        <ul>
          <li><a href="#">Who I am</a></li>
          <li><a href="#">What I do</a></li>
          <li><a href="#">My CV</a></li>
        </ul>
      </div>
    </div>

    <div id="circle_portfolio" class="circle">
      <div class="description">
        <div class="thumbs">
        </div>
      </div>
    </div>

    <div id="circle_contact" class="circle">
      <div class="description">
        <ul>
          <li><a href="https://plus.google.com/107029584179497153748">
	      Google+</a></li>
          <li><a href="https://facebook.com/melvin.py">Facebook</a></li>
	  <li><a href="https://twiter.com/Nivl_">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock "body" %}


<!--
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title>{% block "title" %}Home{% endblock %} - Laplanche Melv.in</title>

    <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet/less" media="screen" href="{{ STATIC_URL }}css/about.less">
    <!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
<!--    <script src="https://www.google.com/jsapi"></script>
    <script>
      google.load("chrome-frame", "1");
      google.load("jquery", "1.6");
    </script>
    <script src="{{ STATIC_URL }}js/less-1.3.3.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.path.js"></script>
    <script src="{{ STATIC_URL }}js/about.js"></script>
  </head>
  <body>

    <div id="content">
      <div class="title"></div>
      <div class="wrapper">
        <div id="images" class="images">
          <img id="image_about" src="{{ STATIC_URL }}img/about/1.2.png" alt="" width="402" height="402" />
          <img id="image_portfolio" src="{{ STATIC_URL }}img/about/2.2.png" alt="" width="402" height="402"/>
          <img id="image_contact" src="{{ STATIC_URL }}img/about/3.2.png" alt="" width="402" height="402" />
        </div>

        <div class="circleBig">
          <div id="menu" class="menu">
            <a id="about" class="about" href="">About me</a>
            <a id="portfolio" class="portfolio" href="">Portfolio</a>
            <a id="contact" class="contact" href="">Contact</a>
          </div>
        </div>
      </div>

      <div id="circle_about" class="circle">
        <div class="description">
          <ul>
            <li><a href="#">Who I am</a></li>
            <li><a href="#">What I do</a></li>
            <li><a href="#">My CV</a></li>
          </ul>
        </div>
      </div>

      <div id="circle_portfolio" class="circle">
        <div class="description">
          <div class="thumbs">
          </div>
        </div>
      </div>

      <div id="circle_contact" class="circle">
        <div class="description">
          <ul>
            <li><a href="https://plus.google.com/107029584179497153748">
		Google+</a></li>
            <li><a href="https://facebook.com/melvin.py">Facebook</a></li>
	        <li><a href="https://twiter.com/Nivl_">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
-->
