{% load comments i18n %}

<script type="text/javascript">
function bindPostCommentHandler() {
    $('#comment-form').submit(function() {
	$('#comment-form')
	    .find("button[type='submit']")
	    .button('loading')

        $.ajax({
            type: "POST",
            data: $('#comment-form').serialize(),
            url: '{% comment_form_target %}',
            cache: false,
            dataType: "html",
            success: function(html, textStatus) {
		$('#comment-form').replaceWith(html);
                bindPostCommentHandler();
	    },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
		$('#comment-form')
		    .find("button[type='submit']")
		    .button('reset')

                $('#comment-form').before('<div class="alert alert-error alert-block fade in"><a class="close" data-dismiss="alert">×</a><h4 class="alert-heading">{% trans "Error!" %}</h4>{% trans "Your comment was unable to be posted at this time. We apologise for the inconvenience." %}</div>');
            }
        });
        return false;
    });
}

$(document).ready(function() {
    bindPostCommentHandler();
});
</script>
