{% load markup %}
{% load humanize %}

<div class="entry">
  <h2><a href="/{{ entry.date|date:'Y/m/d' }}/{{ entry.slug }}">
      {{ entry.title }}
  </a></h2>
  <div class="entry-header">
    Posted {{ entry.date|naturalday:'F t, Y' }}
    at {{ entry.date|date:'h:i a' }}<br />
    Origin: <a href="/categories/{{ entry.category.slug }}">
      {{ entry.category.name }}
    </a>
    {% if entry.tags.all %}
      / Tags: {% for tag in entry.tags.all %}
                <a href="/tags/{{ tag.slug }}">
  	        {{ tag.slug }}</a>{% if not forloop.last %},{% endif %}
              {% endfor %}
    {% endif %}
  </div>
  <div class="entry-content">
    {{ entry.content|markdown:'safe,codehilite' }}
  </div>
</div>
