- extends "base_common.haml"
- load tag_lab i18n

- block "body-classes"
    lab-world
- block "menu-lab"
    active
- block "title"
    - trans "Lab"
- block "page-title"
    - trans "Lab"
- block "page-subtitle"
    - trans "Where I present my projects"

- block "page-menu"
    - include "lab/inc/menu.haml"


- block "breadcrumb-content"
    %li{'itemscope': None, 'itemtype': 'http://data-vocabulary.org/Breadcrumb'}
        %a{'itemprop'   : 'url',
           'data-depth' : '1',
           'data-ajax'  : 'body-content-only',
           'title'      : '{% trans "Lab" %}',
           'href'       : '{% url "lab" %}'}
            %span{'itemprop': 'title'}<
                - trans "Lab"

    - block "breadcrumb-subcontent"

- block "body-content"
    .container
        .row
            #body-content-only.span12{'role': 'main'}
                - block "content"