- extends "base_common.haml"
- load url from future
- load tag_lab i18n

- block "menu-lab"
    active
- block "title"
    - trans "Lab"
- block "page-title"
    - trans "Lab"
- block "page-subtitle"
    - trans "Where I present my projects"

- block "breadcrumb-content"
    %li<
        %span.divider<
            \/

    %li{'itemscope': None, 'itemtype': 'http://data-vocabulary.org/Breadcrumb'}
        %a{'itemprop'   : 'url',
           'data-depth' : '1',
           'data-ajax'  : 'body-content-only',
           'title'      : '{% trans "Lab" %}',
           'href'       : '{% url "lab" %}'}
            %span{'itemprop': 'title'}<
                - trans "Lab"

    - block "breadcrumb-subcontent"

- block "app_js"
    :javascript
        liveEdit('lab-project-description-', {}, 'lab-get-project-descr', 'lab-get-project-descr-form', 'lab-project-description-live-edit');
        liveEdit('lab-project-name-', {}, 'lab-get-project-name', 'lab-get-project-name-form', 'lab-project-name-live-edit', [null]);
        liveEdit('lab-project-catchphrase-', {}, 'lab-get-project-catchphrase', 'lab-get-project-catchphrase-form', 'lab-project-catchphrase-live-edit', [null]);
        liveEdit('lab-project-license-', {}, 'lab-get-project-license', 'lab-get-project-license-form', 'lab-project-license-live-edit', [null, 'A']);
        liveEdit('lab-project-realclients-', {}, 'lab-get-project-realclients', 'lab-get-project-realclients-form', 'lab-project-realclients-live-edit', ['DIV']);
        liveEdit('lab-project-clients-', {}, 'lab-get-project-clients', 'lab-get-project-clients-form', 'lab-project-clients-live-edit', ['DIV']);
        liveEdit('lab-project-realcoworkers-', {}, 'lab-get-project-realcoworkers', 'lab-get-project-realcoworkers-form', 'lab-project-realcoworkers-live-edit', ['DIV']);
        liveEdit('lab-project-coworkers-', {}, 'lab-get-project-coworkers', 'lab-get-project-coworkers-form', 'lab-project-coworkers-live-edit', ['DIV']);

- block "body-content"
    .container
        .row
            #body-content-only.span9{'role': 'main'}
                - block "content"

            - with act_menu="home"
                - block "menu"
                    - include "lab/inc/menu.haml"
