{% extends "base_common.html" %}
{% load url from future %}
{% load tag_lab i18n %}

{% block "header" %}
  {% with act_menu="lab" page_title="Lab" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block "breadcrumb-content" %}
  <li>
    <a data-depth="1"
       data-ajax="body-content-only"
       title="{% trans "Lab" %}"
       href="{% url "lab" %}">{% trans "Lab" %}</a>
{% endblock "breadcrumb-content" %}

{% block "body-content" %}
  <div id="modal-gallery" class="modal modal-gallery hide fade">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
      <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
      <a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
      <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
      <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div id="body-content-only" class="span9">
        {% block "content" %}{% endblock "content" %}
      </div>
      
      {% with act_menu="home" %}
        {% block "menu" %}
          {% include "lab/inc/menu.html" %}
        {% endblock "menu" %}
      {% endwith %}

    </div>
  </div>

{% endblock "body-content" %}
