{% extends "base_common.html" %}
{% load url from future  %}
{% load tag_lab  %}

{% block "head_js" %}
  {% block "sub_head_js" %}{% endblock "sub_head_js" %}
{% endblock "head_js" %}

{% block "header" %}
  {% with act_menu="lab" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}


{% block "body-content" %}
  <div id="modal-gallery" class="modal modal-gallery hide fade">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
      <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
      <a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
      <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
      <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div id="body" class="span9"
	   data-spy="scroll" data-target=".subnav">
	{% block "content" %}{% endblock "content" %}
      </div>
  {% with act_menu="home" %}
    {% block "menu" %}
      {% include "lab/menu.html" %}
    {% endblock "menu" %}
  {% endwith %}

    </div>
  </div>

{% endblock "body-content" %}
