- extends "base_common.haml"
- load url from future
- load tag_lab i18n

- block "menu-lab"
    active
- block "title"
    - trans "Lab"
- block "page-title"
    - trans "Lab"
- block "page-subtitle"
    - trans "Where I present my projects"

- block "breadcrumb-content"
    %li<
        %span.divider<
            \/

    %li{'itemscope': None, 'itemtype': 'http://data-vocabulary.org/Breadcrumb'}
        %a{'itemprop'   : 'url',
           'data-depth' : '1',
           'data-ajax'  : 'body-content-only',
           'title'      : '{% trans "Lab" %}',
           'href'       : '{% url "lab" %}'}
            %span{'itemprop': 'title'}<
                - trans "Lab"

    - block "breadcrumb-subcontent"

- block "app_js"
    :javascript
        liveEdit('lab-project-description-', {}, 'lab-get-project-description');
        liveEdit('lab-project-name-', {}, 'lab-get-project-name');
        liveEdit('lab-project-catchphrase-', {}, 'lab-get-project-catchphrase');
        liveEdit('lab-project-license-', {}, 'lab-get-project-license');
        liveEdit('lab-project-realclients-', {}, 'lab-get-project-realclients');
        liveEdit('lab-project-clients-', {}, 'lab-get-project-clients');
        liveEdit('lab-project-realcoworkers-', {}, 'lab-get-project-realcoworkers');
        liveEdit('lab-project-coworkers-', {}, 'lab-get-project-coworkers');
        liveEdit('lab-project-progress-rate-', {}, 'lab-get-project-progress-rate');
        liveEdit('lab-project-progress-date-', {}, 'lab-get-project-progress-date', 'pk');
        liveEdit('lab-project-progress-description-', {}, 'lab-get-project-progress-description', 'pk');
        liveEdit('lab-project-video-name-', {}, 'lab-get-project-video-name', 'pk');
        liveEdit('lab-project-video-description-', {}, 'lab-get-project-video-description', 'pk');

- block "body-content"
    .container
        .row
            #body-content-only.span9{'role': 'main'}
                - block "content"

            - with act_menu="home"
                - block "menu"
                    - include "lab/inc/menu.haml"
