- extends "lab/base.html"
- load tag_lab
- load url from future

- block "title"
    - if tag
        {{ tag.name }}
    - else
        {{ block.super }}

- block "meta-description"
    - if tag.seo.all.0
        {{ tag.seo.all.0 }}
    - else
        {{ block.super }}

- block "meta-keywords"
    - if tag.seo.all.0.keywords
        {{ tag.seo.all.0.keywords }}
    - else
        {{ block.super }}


- block "app_js"
    :javascript
        liveEdit('lab-project-description-', {}, 'lab-get-project-descr', 'lab-get-project-descr-form', 'lab-project-description-live-edit');
        liveEdit('lab-project-name-', {}, 'lab-get-project-name', 'lab-get-project-name-form', 'lab-project-name-live-edit', null);

- block "breadcrumb-subcontent"
    - if tag
        %li
            %span.divider<
                \/
        %li{'itemscope': None, 'itemtype': 'http://data-vocabulary.org/Breadcrumb'}
            %a{'itemprop'   : 'url',
               'data-depth' : '20',
               'data-ajax'  : 'body-content',
               'title'      : '{{ tag.name }}',
               'href'       : '{{ tag.get_absolute_url }}'}
                %span{'itemprop': 'title'}<
                    {{ tag.name }}

- if tag
    - block "menu"
        - with act_menu=menu_name
            {{ block.super }}

- block "content"
  - include "lab/inc/project_list.haml" with projects=projects
  - include "inc/pagination.haml" with paginator=projects
