{% extends "lab/base.html" %}

{% load url from future %}
{% load i18n %}

{% block "content" %}

  {% with progress=project.progress_set.all todo=project.todo_set.all images=project.image_set.all videos=project.video_set.all downloads=project.download_set.all %}

    <h1>{{ project.name }}</h1>

    <p class="lead">{{ project.catchphrase }}

      <ul class="nav nav-tabs">
	<li class="active"><a href="#informations" data-toggle="tab">{% trans "Informations" %}</a>
	  {% if progress %}
	    <li><a href="#progress" data-toggle="tab">{% trans "Progress" %}</a>
	  {% endif %}
	  {% if images %}
	    <li><a href="#images" data-toggle="tab">{% trans "Images" %}</a>
	  {% endif %}
	  {% if videos %}
	    <li><a href="#videos" data-toggle="tab">{% trans "Videos" %}</a>
	  {% endif %}
	  {% if downloads %}
	    <li><a href="#downloads" data-toggle="tab">{% trans "Downloads" %}</a>
	  {% endif %}
	  {% if project.demo_codebox %}
	    <li><a href="#demos" data-toggle="tab"><span>{% trans "Demos" %}</span></a>
	  {% endif %}
      </ul>

      <div class="tab-content">
	<div id="informations" class="tab-pane fade active in">
          {% include "lab/project_includes/infos.html" %}
	</div>

	{% if progress %}
	  <div id="progress" class="tab-pane fade">
	    {% include "lab/project_includes/progress.html" %}
	  </div>
	{% endif %}

	{% if images %}
	  <div id="images" class="tab-pane fade">
	    {% include "lab/project_includes/images.html" %}
	  </div>
	{% endif %}

	{% if videos %}
	  <div id="videos" class="tab-pane fade">
	    {% include "lab/project_includes/videos.html" %}
	  </div>
	{% endif %}

	{% if downloads %}
	  <div id="downloads" class="tab-pane fade">
	    {% include "lab/project_includes/downloads.html" %}
	  </div>
	{% endif %}

	{% if project.demo_codebox %}
	  <div id="demo" class="tab-pane fade">
	    <script>
	      {{ project.demo_codebox|safe }}
	    </script>
	    <canvas id="demo_canvas"></canvas>
	  </div>
	{% endif %}
      </div>
    {% endwith %}
  {% endblock %}
