- extends "lab/base.haml"

- load url from future
- load i18n

- block "title"
    {{ project.name }}

- block "meta-description"
    - if project.seo.all.0
        {{ project.seo.all.0 }}
    - else
        {{ block.super }}

- block "meta-keywords"
    - if project.seo.all.0.keywords
        {{ project.seo.all.0.keywords }}
    - else
        {{ block.super }}

- block "breadcrumb-subcontent"
    %li<
        %span.divider<
            \/

    %li{'itemscope': None, 'itemtype': 'http://data-vocabulary.org/Breadcrumb'}
        %a{'itemprop'   : 'url',
           'data-depth' : '30',
           'data-ajax'  : 'body-content',
           'title': '{{ project.name }',
           'href': '{{ project.get_absolute_url }}'}
            %span{'itemprop': 'title'}<
                {{ project.name }}

- block "content"
    %div{'itemscope': None, 'itemtype': 'http://schema.org/SoftwareApplication'}

        - for data in post.micro_data.all
            %meta{'itemprop': '{{ data.name }}', 'content': '{{ data.content }}'}

        - with progress=project.progress_project.all todo=project.todo_project.all images=project.image_project.all videos=project.video_project.all downloads=project.download_project.all
            %h1{'itemprop': 'name',
                'class'   : '{% if perms.lab.change_project %}lab-project-name-live-edit{% endif %}',
                'id'      : 'lab-project-name-{{ project.pk }}'}<
                - include 'ajax/single_field_value.haml' with value=project.name

            %p.lead.{'class'   : '{% if perms.lab.change_project %}lab-project-catchphrase-live-edit editable{% endif %}',
                     'id'      : 'lab-project-catchphrase-{{ project.pk }}'}<
                - include 'ajax/single_field_value.haml' with value=project.catchphrase

                %ul.nav.nav-tabs
                    %li.active
                        %a{'href'          : "#information",
                           'data-toggle'   : 'tab'}
                            - trans "Information"

                    - if progress
                        %li
                            %a{'href'        : '#progress',
                               'data-toggle' : 'tab'}
                               - trans "Progress"

                    - if images
                        %li
                            %a{'href'           :   '#images',
                               'data-toggle'    :   'tab'}
                               - trans "Images"

                    - if videos
                        %li
                            %a{'href'           : "#videos",
                               'data-toggle'    : 'tab'}
                                - trans "Videos"

                    - if downloads
                        %li
                            %a{'href'       : '#downloads',
                               'data-toggle': 'tab'}
                                - trans "Downloads"

                    - if project.demo_codebox
                        %li
                            %a{'href': '#demos', 'data-toggle': 'tab'}
                                %span
                                    - trans "Demos"


                .tab-content
                    #information.tab-pane.fade.active.in
                        - include "lab/inc/project_includes/infos.html"

                    - if progress
                        #progress.tab-pane.fade
                            - include "lab/inc/project_includes/progress.haml"

                    - if images
                        #images.tab-pane.fade
                            - include "lab/inc/project_includes/images.haml"

                    - if videos
                        #videos.tab-pane.fade
                            - include "lab/inc/project_includes/videos.haml"

                    - if downloads
                        #downloads.tab-pane.fade
                            - include "lab/inc/project_includes/downloads.haml"

                    - if project.demo_codebox
                        #demo.tab-pane.fade
                        :javascript
                          {{ project.demo_codebox|safe }}

                        %canvas#demo_canvas
