{% extends "lab/base.html" %}

{% load url from future %}
{% load i18n %}

{% block "sub_head_css" %}
  <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}lab/css/prettyPhoto.css">
  <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}lab/css/slicing.css">
{% endblock %}

{% block "sub_head_js" %}
  <script src="{% url "django.views.i18n.javascript_catalog" %}"></script>
  <script src="{{ STATIC_URL }}lab/js/raphael-2.0.0-min.js"></script>
  <script src="{{ STATIC_URL }}lab/js/jquery.easing.1.3.js"></script>
  <script src="{{ STATIC_URL }}lab/js/jquery.prettyPhoto.js"></script>
  <script src="{{ STATIC_URL }}lab/js/slicing.js"></script>
  <script src="{{ STATIC_URL }}lab/js/diagram.js"></script>
  <script src="{{ STATIC_URL }}lab/js/lab.js"></script>
{% endblock %}

{% block "content" %}

  {% with progress=project.progress_set.all images=project.image_set.all videos=project.video_set.all downloads=project.download_set.all %}

    <h1>{{ project.name }}</h1>

    <p class="lead">{{ project.catchphrase }}

    <div class="subnav">
      <ul class="nav nav-pills">
	<li><a href="#informations"><span>{% trans "Informations" %}</span></a>
	{% if progress %}
	  <li><a href="#progress"><span>{% trans "Progress" %}</span></a>
        {% endif %}
	{% if images %}
	  <li><a href="#images"><span>{% trans "Images" %}</span></a>
        {% endif %}
	{% if videos %}
	  <li><a href="#videos"><span>{% trans "Videos" %}</span></a>
        {% endif %}
	{% if downloads %}
	  <li><a href="#downloads"><span>{% trans "Downloads" %}</span></a>
        {% endif %}
	{% if project.demo_codebox %}
	  <li><a href="#demos"><span>{% trans "Demos" %}</span></a>
      {% endif %}
      </ul>
    </div>

    <div id="content">
      <div id="informations" class="anchor">
        {% include "lab/project_includes/infos.html" %}
      </div>

      {% if progress %}
	<div id="progress" class="anchor">
	  {% include "lab/project_includes/progress.html" %}
	</div>
      {% endif %}

      {% if images %}
	<div id="images" class="anchor">
	  {% include "lab/project_includes/images.html" %}
	</div>
      {% endif %}

      {% if videos %}
	<div id="videos" class="anchor">
	  {% include "lab/project_includes/videos.html" %}
	</div>
      {% endif %}

      {% if downloads %}
	<div id="downloads" class="anchor">
	  {% include "lab/project_includes/downloads.html" %}
	</div>
      {% endif %}

      {% if project.demo_codebox %}
	<div id="demo" class="anchor">
	  <script>
	    {{ project.demo_codebox|safe }}
	  </script>
	  <canvas id="demo_canvas"></canvas>
	</div>
      {% endif %}
    </div>
  {% endwith %}
{% endblock %}
