- load markup

- for content in cat.category_content.all
    .element
        - if content.key
            %h4<
                {{ content.key|safe }}
            .content
                {{ content.value|markdown:"def_list" }}
