/******************************************************************************
 * RESPONSIVE
 *****************************************************************************/

@media(max-width:320px) {
    .navbar {
        .brand {
            padding: 0px;
            margin: 15px 0 0 -20px;
            font-size: 22px;
        }
    }

    .sub-header {
        .form-search {
            margin-top: 10px;
            margin-left: 20px;
        }
    }
}

@media(max-width:920px) {
    .sub-header {
        .wrapper {
            h1 {
                display: none;
            }
        }
    }
}

/******************************************************************************
 * END RESPONSIVE
 *****************************************************************************/