{% load staticfiles i18n %}
{% load url from future %}

<div class="row center-text">
  <li class="span1">
    <figure class="inline-figure">
      <a rel="ajax-content"
	 data-depth="1"
	 title="{% trans "Lab" %}"
	 class="generated-icon"
	 href="{% url 'lab-home' %}"
	 id="lab-tag-home">
	<div class="main-icon"
	     style="background-image: url({% static "/commons/img/home.png" %});">

	  {% ifequal act_menu "home" %}
	    <img class="enabled active"
		 alt="home"
		 src="{% static "/commons/img/home.png" %}">

	    <img class="disabled hide"
		 alt="home"
		 src="{% static "/commons/img/home-grey.png" %}">
	  {% else %}
	    <img class="enabled hide"
		 alt="home"
		 src="{% static "/commons/img/home.png" %}">

	    <img class="disabled"
		 alt="home"
		 src="{% static "/commons/img/home-grey.png" %}">
	  {% endifequal %}
	</div>

	<figcaption>{% trans "Home" %}</figcaption>
      </a>
    </figure>

    {% for tag in tags %}
      <li class="span1">
	<figure class="inline-figure">
	  <a rel="ajax-content"
	     data-depth="10"
	     title="{{ tag.name }}"
	     class="generated-icon"
	     id="lab-tag-{{ tag.slug }}"
	     href="{% url "lab-tag" tag.slug %}">
	    <div class="main-icon"
		 style="background-image: url({{ tag.icon_enabled.url }});">

	      {% ifequal act_menu tag.slug %}
		<img class="enabled active"
		     alt="{{ tag.slug }}"
		     src="{{ tag.icon_enabled.url }}">

		<img class="disabled hide"
		     alt="{{ tag.slug }}"
		     src="{{ tag.icon_disabled.url }}">
	      {% else %}
		<img class="enabled hide"
		     alt="{{ tag.slug }}"
		     src="{{ tag.icon_enabled.url }}">

		<img class="disabled"
		     alt="{{ tag.slug }}"
		     src="{{ tag.icon_disabled.url }}">
	      {% endifequal %}
	    </div>

	    <figcaption>{{ tag.name }}</figcaption>
	  </a>
	</figure>
      {% if not forloop.counter|divisibleby:'2' and not forloop.last %}
	</div>
	<div class="row margin-top-2 center-text">
      {% endif %}
    {% endfor %}
</div>
