{% load staticfiles %}

<script>
  {% ifnotequal act_menu "home" %}
    $(".nivl-icon-home").hover(function() {
	$(this).find("img").animate({
	    opacity: 1,
	}, 300);
    },
    function() {
	$(this).find("img").animate({
	    opacity: 0,
	}, 300);
    });
  {% endifnotequal %}

  {% for tag in tags %}
    {% ifnotequal act_menu tag.slug %}
      $(".nivl-icon-{{ tag.slug }}").hover(function() {
	  $(this).find("img").animate({
	      opacity: 1,
	  }, 300);
      },
      function() {
	  $(this).find("img").animate({
	      opacity: 0,
	  }, 300);
      });
    {% endifnotequal %}
  {% endfor %}
</script>
