- load tag_lab i18n

#page-menu-icon
        %a{'href': '#'}
            %i.icon-chevron-right


#page-menu-wrapper
     .element
        .navbar
            .container
                %button.navbar-toggle{'data-toggle' : 'collapse', 'data-target' : '#submenu-collapse'}
                    %span.icon-bar
                    %span.icon-bar
                    %span.icon-bar

                %a.navbar-brand{'href': '{% url "lab" %}'}
                    %strong
                        - trans 'Lab'
                    Menu

                #submenu-collapse.nav-collapse.collapse
                    %ul.nav.navbar-nav.pull-right{'role': 'complementary'}
                        %li.dropdown
                            %a.dropdown-toggle{'data-toggle' : 'dropdown',
                                               'href'        :  '#'}
                                - trans "Tags"
                                %b.caret

                            %ul.dropdown-menu
                                - lab_tags
