- load i18n markup
- load url from future

- for project in projects
    %section.clean-section.live-edit{'itemscope': None, 'itemtype': 'http://schema.org/SoftwareApplication'}
        %h2{'itemprop': 'name'}<
            {{ project.name }}

            - if perms.lab.change_project
                %small
                    %a.edit-link{'href' : '#',
                                 'style': 'display:none;'}
                        %i.icon-edit

        .section-content.margin-top-1
            %span.editable_area{'itemprop': 'description',
                                'id'      : 'small-project-{{ project.slug }}'}
                - include 'lab/inc/project_description.haml'
            %a.btn{'itemprop'   : 'url',
                   'data-depth' : '30',
                   'data-ajax'  : 'body-content-only',
                   'title'      : '{{ project.name }}',
                   'href'       : '{% url "lab-project" project.slug %}'}
                {% trans "Know more" %}
    %hr
