- load i18n markup

- for project in projects
    %section.clean-section{'itemscope': None, 'itemtype': 'http://schema.org/SoftwareApplication'}
        %h2{'itemprop'    : 'name',
            'data-type'   :  '{% if perms.lab.change_project %}live-editable{% endif %}',
            'data-target' :  'lab-project-name',
            'data-pk'     :  '{{ project.pk }}'}<
            - include 'ajax/single_field_value.haml' with value=project.name

        .section-content.margin-top-10
            %div{'itemprop': 'description',
                 'data-type'   :  '{% if perms.lab.change_project %}live-editable{% endif %}',
                 'data-target' :  'lab-project-description',
                 'data-pk'     :  '{{ project.pk }}'}<
                - include 'ajax/single_field_value_md.haml' with value=project.description

            %a.btn.btn-reverse{'itemprop'   : 'url',
                               'data-depth' : '30',
                               'data-ajax'  : 'body-content-only',
                               'title'      : '{{ project.name }}',
                               'href'       : '{% url "lab-project" project.slug %}'}
                {% trans "Know more" %}
    %hr
