- load i18n markup
- load url from future

- for project in projects
    %section.clean-section{'itemscope': None, 'itemtype': 'http://schema.org/SoftwareApplication'}
        %h2{'itemprop': 'name'}<
            {{ project.name }}

        .section-content.margin-top-1
            %span{'itemprop': 'description',
                  'class'   : '{% if perms.lab.change_project %}edit-link{% endif %}',
                  'id'      : 'small-project-{{ project.slug }}'}
                - include 'ajax/single_field_value_md.haml' with value=project.description
            %a.btn{'itemprop'   : 'url',
                   'data-depth' : '30',
                   'data-ajax'  : 'body-content-only',
                   'title'      : '{{ project.name }}',
                   'href'       : '{% url "lab-project" project.slug %}'}
                {% trans "Know more" %}
    %hr
