{% extends "base.html" %}
{% load staticfiles %}

{% block "title" %}403 - Forbidden{% endblock %}

{% block "local_css" %}
  <link rel="stylesheet" href="{% static "commons/compiled/error.css" %}">
{% endblock %}

{% block "body" %}
    <div class="content">
        <div class="row">
            <div class="col-lg-7 col-lg-offset-4">
                <h1>403 <small>Forbidden</small></h1>

                <div class="msg">
                    <p>
                       Hey! What are you doing here?! <a href="#" onClick="javascript: history.go(-1); return false;">GO BACK!</a>
                    </p>
                    <p>
                       You can also <a href="{% url "contact" %}">contact us</a>, or go to the <a href="{% url "home" %}">home page</a>.
                   </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
