{% extends "base.html" %}

{% block "title" %}404{% endblock %}

{% block "head_css" %}
  <link rel="stylesheet" href="{{ STATIC_URL }}commons/css/error.min.css">
{% endblock %}

{% block "body" %}
  <div class="container">
    <div class="row">
      <div class="span8 offset4">

      </div>
    </div>

    <div class="row">
      <div class="span10 offset2">
	<img class="pull-left" src="{{ STATIC_URL }}/commons/img/error/reaper.jpg">

	<div class="content">
	  <h1>404</h1>
	  <p>Too late, i already took care of it.</p>
	  <small>You should go</small> -
	  <a href="/">
	    Go back to the main page
	  </a>
	</div>

      </div>
    </div>
  </div>
{% endblock %}
