{% load seo_tags i18n %}
{% get_seo %}

<!DOCTYPE html>
<html lang="{% trans "en" %}">
  <head>
    <meta charset="utf-8">
    <title>{% block "title" %}{{ seo.title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{ seo.keywords }}">
    <meta name="description"
	  content="{% block "meta-description" %}{{ seo.description }}{% endblock %}">

    <link rel="shortcut icon"  href="{{ STATIC_URL }}commons/img/favicon.ico">
    <link rel="stylesheet"
	  href="{{ STATIC_URL }}commons/css/bootstrap.min.css">

    <link rel="stylesheet"
	  href="{{ STATIC_URL }}commons/css/prettify.css">

    <link rel="stylesheet"
	  href="{{ STATIC_URL }}commons/css/main.min.css">

    {% block "head_css" %}{% endblock %}
    {% block "head_link" %}{% endblock %}

    <link rel="stylesheet"
	  href="{{ STATIC_URL }}commons/css/bootstrap-responsive.min.css">

    {% block "head_last_css" %}{% endblock %}

    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
	</script>
	<![endif]-->
  </head>

  <body{% block "body-params" %}{% endblock %}>
    {% block "body" %}{% endblock %}

    <script src="https://www.google.com/jsapi"></script>
    <script>
      var STATIC_URL = "{{ STATIC_URL }}";
      google.load("chrome-frame", "1");
      google.load("jquery", "1.7");
    </script>

    <script src="{{ STATIC_URL }}commons/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}commons/js/koco.jquery.js"></script>
    <script src="{{ STATIC_URL }}commons/js/dream.js"></script>
    <script src="{{ STATIC_URL }}commons/js/jquery.timers.js"></script>
    <script src="{{ STATIC_URL }}commons/js/prettify/prettify.js"></script>
    <script src="{{ STATIC_URL }}commons/js/main.js"></script>
    {% block "head_js" %}{% endblock %}
    {{ seo.free_block|safe }}
  </body>
</html>
