- extends "base.haml"
- load compressed staticfiles i18n user_tags

- block "local_css"
    - compressed_css 'assets'
    - compressed_css 'main'

- block "body"

    - if not request.is_ajax
        - include "inc/browser_warning.haml"
        - include "inc/signin.haml"
        - include "inc/help.haml"

    #editing-mode-box
        %p
            Live editing mode activated

    %header{'class': '{% block "header-classes" %}{% endblock %}'}
        #navbar.navbar
            .container
                %button.navbar-toggle{'data-toggle': "collapse", 'data-target': "#main-menu-collapse"}
                    %span.icon-bar
                    %span.icon-bar
                    %span.icon-bar

                %a.navbar-brand{'href': '{% url "home" %}'}<
                    {{ ADMIN.get_full_name }}

                #main-menu-collapse.nav-collapse.collapse{'role': 'navigation'}
                    %ul#navbar-main-list.nav.navbar-nav.pull-right
                        %li#navbar-blog.blog{'class': '{% block "menu-blog" %}{% endblock %}'}
                            %a{'data-depth' : '1',
                               'title'      : '{% trans "Blog" %}',
                               'data-ajax'  : 'body-content',
                               'href'       : '{% url "blog" %}'}<
                                - trans "Blog"

                        %li#navbar-lab.lab{'class': '{% block "menu-lab" %}{% endblock %}'}
                            %a{'data-depth' : '1',
                               'data-ajax'  : 'body-content',
                               'href'       : '{% url "lab" %}',
                               'title'      : '{% trans "Lab" %}'}<
                                - trans "Lab"

                        %li#navbar-about.about{'class': '{% block "menu-about" %}{% endblock %}'}
                            %a{'data-depth' : '1',
                               'rel'        : 'author',
                               'data-ajax'  : 'body-content',
                               'title'      : '{% trans "About" %}',
                               'href'       : '{% url "about" %}'}<
                                - trans "About"

                        %li#navbar-portfolio.portfolio{'class': '{% block "menu-portfolio" %}{% endblock %}'}
                            %a{'data-depth' : '1',
                               'data-ajax'  : 'body-content',
                               'title'      : '{% trans "Portfolio" %}',
                               'href'       : '{% url "portfolio" %}'}<
                                - trans "Portfolio"

                        %li#navbar-contact.contact{'class': '{% block "menu-contact" %}{% endblock %}'}
                            %a{'data-depth' : '1',
                               'data-ajax'  : 'body-content',
                               'title'      : '{% trans "Contact" %}',
                               'href'       : '{% url "contact" %}'}<
                                - trans "Contact"


                        %li.dropdown.user{'class': '{% block "menu-user" %}{% endblock %}'}
                            - if not user.is_authenticated

                                %a{'href': '#sign-in', 'data-toggle': 'modal'}<
                                    %i.icon-cog

                                -# %ul.dropdown-menu

                                -#     %li
                                -#         %a{'data-ajax'  : 'body-content',
                                -#            'data-depth' : '1',
                                -#            'title'      : '{% trans "Sign up" %}',
                                -#            'href'       : '{% url "sign-up" %}'}<
                                -#             - trans "Sign up"

                                -#     %li
                                -#         %a{'data-ajax'  : 'body-content',
                                -#            'data-depth'  : '1',
                                -#            'title'       : '{% trans "I lost my password" %}',
                                -#            'href'        : '{% url "reset-password" %}'}<
                                -#             - trans "I lost my password"

                                -#     %li.divider

                                -#     %li.login-box<
                                -#         %h5 {% trans "Sign in" %}

                                -#         .social-media-box.clearfix
                                -#             %p.login-sm.pull-left<
                                -#                 - trans "Sign in with:"

                                -#             %ul.nav.nav-pills.social-medias-icons<
                                -#                 {{ social_auth.backends|social_sign_in_links:request }}

                                -#         %p<
                                -#             - trans "Or sign in using your account:"

                                -#         %form{'action': '{% url "sign-in" %}', 'method': 'post'}
                                -#             {% csrf_token %}

                                -#             .form-group
                                -#                 %input.form-control{'placeholder': '{{ _("Username")|force_escape }}',
                                -#                        'id'         : 'id_username',
                                -#                        'name'       : 'username',
                                -#                        'type'       : 'text'}

                                -#             .form-group
                                -#                 %input.form-control{'placeholder' : '{% trans "Password" %}',
                                -#                        'type'        : 'password',
                                -#                        'id'          : 'id_password',
                                -#                        'name'        : 'password'}

                                -#             %input{'type': 'hidden',
                                -#                     'name': 'next',
                                -#                     'value': '{{ request.get_full_path }}'}

                                -#             %input.btn.btn-primary{'value': '{% trans "Sign in" %}',
                                -#                                    'type': 'submit'}
                            - else

                                %a.dropdown-toggle{'href': '#',
                                                   'data-toggle': 'dropdown'}<
                                    %i.icon-cog

                                %ul.dropdown-menu
                                    %li.nav-header.center-text {{ user.username }}

                                    %li.divider

                                    %li
                                        %a{'data-ajax'  : 'body-content',
                                           'data-depth' : '1',
                                           'title'      : '{% trans "My profile" %}',
                                           'href'       : '{{ user.get_absolute_url }}'}
                                            %i.icon-user
                                            - trans "My profile"

                                    %li{'class': '{% if not user.get_profile.has_password %}important{% endif %}'}
                                        %a{'data-ajax'  : 'body-content',
                                           'data-depth' : '1',
                                           'title'      : '{% trans "Edit my account" %}',
                                           'href'       : '{% url "edit-account" %}'}
                                            %i.icon-edit
                                            - trans "Edit my account"

                                    %li
                                        %a{'data-ajax'  : 'body-content',
                                           'data-depth' : '1',
                                           'title'      : '{% trans "Edit my profile picture" %}',
                                           'href'       : '{% url "edit-picture" %}'}
                                            %i.icon-camera
                                            - trans "Edit my profile picture"

                                    %li
                                        %a{'data-ajax'  : 'body-content',
                                           'data-depth' : '1',
                                           'title'      : '{% trans "Social media accounts" %}',
                                           'href'       : '{% url "manage-social-account" %}'}
                                            %i.icon-tasks
                                            - trans "Social media accounts"

                                    %li.divider

                                    %li
                                        %a{'href': '{% url "sign-out" %}?next={{ request.get_full_path }}'}
                                            %i.icon-off
                                            - trans "Sign out"

    #middle-header
        .container
            .row
                .wrapper
                    .col-lg-9
                        %h1#page-title<
                            - block "page-title"
                                - trans "Welcome"

                    .col-lg-3
                        %form.search-form{'method'     : 'get',
                                          'action'     : '{% url "haystack_search" %}',
                                          'data-ajax'  : 'body-content',
                                          'data-depth' : '1',
                                          'title'      : '{% trans "Search" %}'}

                            .input-group
                                %input.form-control{'type'          : 'text',
                                                    'placeholder'   : 'Search',
                                                    'name'          : 'q',
                                                    'data-provide'  : 'typeahead',
                                                    'data-items'    : '6'}

                                %span.input-group-btn
                                    %button.btn.btn-default{'type': 'submit'}
                                        %i.icon-search

            .row.margin-top-10
                .col-lg-12.clearfix
                    - block "breadcrumb"
                        %ul#breadcrumb.breadcrumb{'itemscope': None, 'itemtype': 'http://data-vocabulary.org/Breadcrumb'}
                            %li<
                                - trans "You are here"
                                →
                                %a{'href': '{% url "home" %}', 'itemprop': 'url'}
                                    %span{'itemprop': 'title'}
                                    - trans "Home"

    #bottom-header
        - block "page-menu"

        #subtitle-wrapper
            .element
                .container
                    .row
                        .col-lg-12
                            %h2#page-subtitle<
                                - block "page-subtitle"
                                    - trans "Where you have access to your data"

  .container
    .row
      .col-lg-12

        #loading-msg
          %img{'alt'  : 'loading',
               'src'  : '{% static "commons/img/loading-small.gif" %}'}
          &nbsp;loading...

        #body-content
          - block "body-content"

  - block "footer"
    - include "inc/footer.haml"
