{% load url from future %}
{% load seo_tags i18n staticfiles compressed %}
{% get_seo as _ %}

{% if not request.is_ajax %}
  <!DOCTYPE html>
  <html lang="{% trans "en" %}">
    <head>
      <meta charset="utf-8">
      <title>{% block "title" %}{{ seo.title }}{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="keywords" content="{{ seo.keywords }}">
      <meta name="description"
            content="{% block "meta-description" %}{{ seo.description }}{% endblock %}">

      <link rel="shortcut icon" href="{% static "commons/img/favicon.ico" %}">

      {{ seo.free_head_block|safe }}

      {% block "local_css" %}{% endblock %}
      {% block "head_link" %}{% endblock %}

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <!--[if lt IE 9]>
          <script src="{% static "commons/js/html5shiv.js" %}">
          </script>
          <![endif]-->
    </head>

    <body{% block "body-params" %}{% endblock %}>

      {% endif %}
        <div id="body">
          {% block "body" %}{% endblock %}
        </div>
      {% if not request.is_ajax %}

        <script>var STATIC_URL="{% static "" %}";</script>

        <script src="https://apis.google.com/js/plusone.js">
          {parsetags: 'explicit'}
        </script>

        <script src="{% url "django.views.i18n.javascript_catalog" %}"></script>
        <script src="{% url "jsurls" %}"></script>

        {% compressed_js 'main' %}
      {% endif %}

      {% block "app_js" %}{% endblock %}

      {% if not request.is_ajax %}
          {{ seo.free_javascript_block|safe }}
      </body>
    </html>
  {% endif %}
