{% load url from future %}
{% load seo_tags i18n staticfiles %}
{% get_seo as _ %}

<!DOCTYPE html>
<html lang="{% trans "en" %}">
  <head>
    <meta charset="utf-8">
    <title>{% block "title" %}{{ seo.title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{ seo.keywords }}">
    <meta name="description"
	  content="{% block "meta-description" %}{{ seo.description }}{% endblock %}">

    <link rel="shortcut icon" href="{% static "commons/img/favicon.ico" %}">

    <link rel="publisher" href="https://plus.google.com/107029584179497153748">

    <link rel="stylesheet"
	  href="{% static "commons/css/bootstrap.min.css" %}">

    <link rel="stylesheet"
	  href="{% static "commons/css/prettify.css" %}">

    <link rel="stylesheet"
	  href="{% static "commons/css/main.min.css" %}">

    {% block "head_css" %}{% endblock %}
    {% block "head_link" %}{% endblock %}

    <link rel="stylesheet"
	  href="{% static "commons/css/bootstrap-responsive.min.css" %}">

    {% block "head_last_css" %}{% endblock %}

    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
	</script>
    <![endif]-->
  </head>

  <body{% block "body-params" %}{% endblock %}>

    <div id="body">
      {% block "body" %}{% endblock %}
    </div>

    <script src="https://www.google.com/jsapi"></script>
    <script>
      var STATIC_URL = "{% static "" %}";
      google.load("chrome-frame", "1");
      google.load("jquery", "1.7");
    </script>

    <script src="{% static "commons/js/bootstrap.min.js" %}"></script>
    <script src="{% static "commons/js/jquery/jquery.koco.js" %}"></script>
    <script src="{% static "commons/js/jquery/jquery.timers.js" %}"></script>
    <script src="{% static "commons/js/jquery/jquery.cookie.js" %}"></script>
    <script src="{% static "commons/js/jquery/jquery.hoverdir.js" %}"></script>
    <script src="{% static "commons/js/jquery/jquery.oninput.min.js" %}"></script>
    <script src="{% static "commons/js/jquery/jquery.color.js" %}"></script>
    <script src="{% static "commons/js/prettify/prettify.js" %}"></script>
    <script src="{% static "commons/js/Markdown.Converter.js" %}"></script>
    <script src="{% static "commons/js/Markdown.Sanitizer.js" %}"></script>
    <script src="{% url "django.views.i18n.javascript_catalog" %}"></script>
    <script src="{% static "django_js_utils.js" %}"></script>
    <script src="{% url "jsurls" %}"></script>
    <script src="{% static "commons/js/Ajaxion.js" %}"></script>
    <script src="{% static "commons/js/main.js" %}"></script>
    <script src="{% static "commons/js/browsers-warning.js" %}"></script>

    {% block "head_js" %}{% endblock %}
    {{ seo.free_block|safe }}
  </body>
</html>
