{% extends "base.html" %}
{% load compressed staticfiles %}

{% block "local_css" %}
  {% compressed_css 'main' %}
{% endblock %}

{% block "body" %}
  {% include "inc/browser_warning.html" %}

  {% block "header" %}
    {% include "inc/header.html" %}
  {% endblock "header" %}

  <div id="loading-msg">
    <img alt="loading" src="{% static "commons/img/loading-small.gif" %}">
    &nbsp;loading...
  </div>

  {% block "breadcrumb" %}
    <div id="breadcrumb-container">
      <div class="container">
	<div class="row">
	  <div class="span9">
	    <ul id="breadcrumb" class="breadcrumb {% block "breadcrumb-classes" %}{% endblock %}">
	      {% block "breadcrumb-content" %}{% endblock %}
	    </ul>
	  </div>
	</div>
      </div>
    </div>
  {% endblock "breadcrumb" %}

  <div id="body-content">
    {% block "body-content" %}{% endblock "body-content" %}
  </div>

  {% include "inc/footer.html" %}
{% endblock "body" %}
