{% load i18n  %}
{% load url from future  %}

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse"
	 data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">
	Laplanche-melv<span class="n-dot">.</span>in
       </a>
      <div class="nav-collapse">
        <ul class="nav">

	  <li{% ifequal act_menu "blog" %} class="active"{% endifequal %}>
	    <a href="{% url "blog" %}">
	      <i class="icon-book icon-white"></i>
	      {% trans "Blog" %}
	    </a>

	  <li{% ifequal act_menu "contact" %} class="active"{% endifequal %}>
	    <a href="{% url "contact" %}">
	      <i class="icon-envelope icon-white"></i>
	      {% trans "Contact" %}
	    </a>

	  <li{% ifequal act_menu "lab" %} class="active"{% endifequal %}>
	    <a href="{% url "lab-home" %}">
	      <i class="icon-nivl-lab icon-nivl-white"></i>
	      {% trans "Lab" %}
	    </a>

	  {% block "menu-about" %}
	    <li id="menu_about" class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" href="#menu_about">
		<i class="icon-user icon-white"></i>
		{% trans "About" %}
		<i class="caret"></i>
	      </a>
	      <ul class="dropdown-menu">
		<li>
		  <a href="{% url "home" %}">
		    <i class="icon-user"></i>
		    Melvin
		  </a>

		<li>
		  <a href="{% url "portfolio" %}">
		    <i class="icon-picture"></i>
		    {% trans "His portfolio" %}
		  </a>

		<li>
		  <a href="{% url "cv" %}">
		    <i class="icon-th-list"></i>
		    {% trans "His C.V." %}
		  </a>

		<li class="divider">

		<li>
		  <a href="https://github.com/Nivl/nivls_website">
		    <i class="icon-share-alt"></i>
		    Nivl's Website
		  </a>
	      </ul>
	    {% endblock %}
        </ul>

	<ul class="nav pull-right">
	  {% if not user.is_authenticated %}
	    <li><a href="{% url "signup" %}">Sign up</a>
	    <li class="divider-vertical">
	    <li class="dropdown">
	      <a class="dropdown-toggle" href="#" data-toggle="dropdown">
		Sign in <i class="caret"></i>
	      </a>
	      <div class="dropdown-menu login-box">

		<div class="social-media-box clearfix">
		  <p class="login-sm pull-left">{% trans "sign in with:" %}</p>

		  <ul class="nav nav-pills social-medias-icons">
		    <li id="facebook-icon">
		      <a href="{% url "socialauth_begin" "facebook" %}?next={{ request.get_full_path }}"></a>
		    <li id="twitter-icon">
		      <a href="{% url "socialauth_begin" "twitter" %}?next={{ request.get_full_path }}"></a>
		    <li id="google-icon">
		      <a href="{% url "socialauth_begin" "google-oauth2" %}?next={{ request.get_full_path }}"></a>
		    <li id="github-icon">
		      <a href="{% url "socialauth_begin" "github" %}?next={{ request.get_full_path }}"></a>
		  </ul>
		</div>
		<p>{% trans "Or sign in using your account:" %}</p>
		<form action="{% url "signin" %}" method="post">
		  {% csrf_token %}
		  <input placeholder="{% trans "Username" %}"
			 id="id_username" name="username" type="text" />
		  <input placeholder="{% trans "Password" %}"
			 type="password" id="id_password"  name="password" />
		  <input type="hidden" name="next"
			 value="{{ request.get_full_path }}" />
		  <input value="{% trans "Sign In" %}"
			 class="btn btn-primary" type="submit" />
		</form>
	      </div>
	    {% else %}
	      <li class="dropdown">
		<a class="dropdown-toggle" href="#" data-toggle="dropdown">
		  <i class="icon-wrench icon-white"></i>
		</a>
		<ul class="dropdown-menu">
		  <li class="nav-header centered-text">{{ user.username }}
		  <li class="divider">
		  <li><a href="{% url "view-account" %}"><i class="icon-user"></i> {% trans "My profile" %}</a>
		  <li><a href="{% url "edit-account" %}"><i class="icon-edit"></i> {% trans "Edit my informations" %}</a>
		  <li><a href="{% url "manage-social-account" %}"><i class="icon-tasks"></i> {% trans "Social media accounts" %}</a>
		  <li class="divider">
		  <li><a href="{% url "signout" %}?next={{ request.get_full_path }}">
		      <i class="icon-off"></i> Sign out
		    </a>
		</ul>
	    {% endif %}
	</ul>

	{% block "menu-new-links" %} {% endblock %}

      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

{% block "next" %}{% endblock %}
