{% load i18n %}

<section class="pagination pagination-centered">
  <ul>
    {% if paginator.has_previous %}
      <li>
	<a rel="ajax-content"
	   title="{% blocktrans with i=paginator.previous_page_number %}Page {{ i }}{% endblocktrans %}"
	   data-depth="20"
	   href="?page={{ paginator.previous_page_number }}">«</a>

    {% else %}
      <li class="disabled">
	<a rel="ajax-content"
	   title="{% blocktrans with i=1 %}Page {{ i }}{% endblocktrans %}"
	   data-depth="20"
	   href="?page=1">«</a>
    {% endif %}

    {% for i in paginator.paginator.page_range %}
      <li{% ifequal i paginator.number %} class="active"{% endifequal %}>
      	<a data-depth="20"
	   title="{% blocktrans %}Page {{ i }}{% endblocktrans %}"
	   rel="ajax-content"
	   href="?page={{ i }}">{{ i }}</a>
    {% endfor %}

    <li{% if not paginator.has_next %} class="disabled"{% endif %}>
      <a data-depth="20"
	 title="{% blocktrans with i=paginator.paginator.num_pages %}Page {{ i }}{% endblocktrans %}"
	 rel="ajax-content"
	 href="?page={{ paginator.paginator.num_pages }}">»</a>

  </ul>
</section>
