section:nth-child(2) {
  background-color: #212121;
}

section:nth-child(3) {
  background-color: #333;
}

section:nth-child(4) {
  background-color: #444;
}

section:nth-child(5) {
  background-color: #3c3b3b;
}
