{% load url from future %}
{% load i18n %}

<script type="text/javascript">
function bindPostContactHandler() {
    $('#contact-form').submit(function() {
	$('#contact-form')
	    .find("button[type='submit']")
	    .button('loading')

        $.ajax({
            type: "POST",
            data: $('#contact-form').serialize(),
            url: '{% url "contact" %}',
            cache: false,
            dataType: "html",
            success: function(html, textStatus) {
		var form = $(html).find("#contact-form")
		if (form.text() == '')
		{
		    $('#contact-form')
			.find("button[type='submit']")
			.button('reset');

		    $('#contact-form').before(html);
		    $('#contact-form').replaceWith('<div class="centered-text" id="contact-form"><img src="{{ STATIC_URL }}/commons/img/ajax-loader.gif" alt="loading..." /></div>');

		    $('<div>').load('{% url "contact" %} #contact-form', function() {
			$('#contact-form').replaceWith($(this).html());
			bindPostContactHandler();
		    });
		}
		else
		    $('#contact-form').replaceWith(form);
                bindPostContactHandler();
	    },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
		$('#contact-form')
		    .find("button[type='submit']")
		    .button('reset')

                $('#contact-form').before('<div class="alert alert-error alert-block fade in"><a class="close" data-dismiss="alert">×</a><h4 class="alert-heading">{% trans "Error!" %}</h4>{% trans "Your message was unable to be sent at this time. We apologise for the inconvenience." %}</div>');
            }
        });
        return false;
    });
}

$(document).ready(function() {
    bindPostContactHandler();
});
</script>
