{% extends "base_common.html" %}
{% load url from future  %}

{% block "head_link" %}
  <link rel="alternate" type="application/atom+xml"
	title="ATOM Feed" href="{% url "atom-blog-latest" %}" />

  <link rel="alternate" type="application/rss+xml"
	title="RSS Feed" href="{% url "rss-blog-latest" %}" />
  {% block "sub_head_link" %}{% endblock "sub_head_link" %}
{% endblock "head_link" %}

{% block "body-content" %}
  <div class="container">
    <div class="row">

      <div id="body-content-only" class="span9">
	{% block "content" %}{% endblock "content" %}
      </div>

      {% include "blog/menu.html" %}

    </div>
  </div>
{% endblock "body-content" %}
