- extends "base_common.haml"
- load url from future
- load i18n

- block "menu-blog"
    active
- block "page-title"
    - trans "Blog"
- block "page-subtitle"
    - trans "Where I tell my life story"

- block "head_link"
    %link{'rel'     : 'alternate',
          'type'    : 'application/atom+xml',
          'title'   : 'ATOM Feed',
          'href'    : '{% url "atom-blog-latest" %}'}

    %link{'rel'     : 'alternate',
          'type'    : 'application/rss+xml',
          'title'   : 'RSS Feed',
          'href'    : '{% url "rss-blog-latest" %}'}

    - block "sub_head_link"


- block "breadcrumb-content"
    %li
        %span.divider
            \/
    %li
        %a{'data-depth' : '1',
           'data-ajax'  : 'body-content-only',
           'title'      : '{% trans "Blog" %}',
           'href'       : '{% url "blog" %}'}
            {% trans "Blog" %}

    - block "breadcrumb-subcontent"

- block "body-content"
    .container
        .row
            #body-content-only.span12
                - block "content"

            {% include "blog/inc/menu.html" %}
