{% extends "base.html" %}
{% load url from future  %}

{% block "head_link" %}
  <link rel="alternate" type="application/atom+xml"
	title="ATOM Feed" href="{% url "atom-blog-latest" %}" />

  <link rel="alternate" type="application/rss+xml"
	title="RSS Feed" href="{% url "rss-blog-latest" %}" />
  {% block "sub_head_link" %}{% endblock "sub_head_link" %}
{% endblock "head_link" %}

{% block "head_js" %}
  {% block "sub_head_js" %}{% endblock "sub_head_js" %}
  <script src="{{ STATIC_URL }}blog/js/slides.min.jquery.js"></script>
  <script src="{{ STATIC_URL }}blog/js/blog.js"></script>
{% endblock "head_js" %}

{% block "head_css" %}
  {% block "sub_head_css" %}{% endblock "sub_head_css" %}
  <link rel="stylesheet" media="screen"
	href="{{ STATIC_URL }}blog/css/blog.min.css">
{% endblock "head_css" %}

{% block "body" %}

  {% with act_menu="blog" %}
    {% block "header" %}
      {% include "blog/header.html" %}
    {% endblock %}
  {% endwith %}

  <div class="container">
    <div class="row">

      <div id="body" class="span9">
	{% block "content" %}{% endblock "content" %}
      </div>

      {% include "blog/menu.html" %}

    </div>
  </div>

  {% include "blog/footer.html" %}
{% endblock "body" %}
