{% extends "base.html" %}

{% block "head_js" %}
  <script src="{{ STATIC_URL }}js/blog/slides.min.jquery.js"></script>
  <script src="{{ STATIC_URL }}js/blog/blog.js"></script>

{% endblock "head_js" %}

{% block "head_css" %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/blog/blog.less.min.css">
{% endblock "head_css" %}

{% block "body" %}
  <div id="body">
    <div id="body-container">
      {% include "blog/header.html" %}

      {% include "blog/menu.html" %}
      <section id="page-content">
	{% block "content" %}{% endblock "content" %}
      </section>
    </div>
    {% include "blog/footer.html" %}
  </div>
{% endblock "body" %}
