- extends "base_common.haml"
- load i18n

- block "body-classes"
    blog-world
- block "menu-blog"
    active
- block "title"
    - trans "Blog"
- block "page-title"
    - trans "Blog"
- block "page-subtitle"
    - trans "Where I tell my life story"

- block "app_js"
    - block "app_sub_js"

- block "head_link"
    %link{'rel'     : 'alternate',
          'type'    : 'application/atom+xml',
          'title'   : 'ATOM Feed',
          'href'    : '{% url "atom-blog-latest" %}'}

    %link{'rel'     : 'alternate',
          'type'    : 'application/rss+xml',
          'title'   : 'RSS Feed',
          'href'    : '{% url "rss-blog-latest" %}'}

    - block "sub_head_link"


- block "breadcrumb-content"
    %li
        %span.divider
            \/
    %li{'itemscope': None, 'itemtype': 'http://data-vocabulary.org/Breadcrumb'}
        %a{'itemprop': 'url',
           'data-depth' : '1',
           'data-ajax'  : 'body-content-only',
           'title'      : '{% trans "Blog" %}',
           'href'       : '{% url "blog" %}'}
            %span{'itemprop': 'title'}
                {% trans "Blog" %}

    - block "breadcrumb-subcontent"

- block "body-content"
    .container
        .row
            #body-content-only.span12{'role': 'main'}
                - block "content"

            {% include "blog/inc/menu.html" %}
