{% load i18n %}

<script src="{{ STATIC_URL }}commons/js/ajax_form.js"></script>
<script src="{{ STATIC_URL }}commons/js/jquery.color.js"></script>

<script type="text/javascript">
function addNewComment() {
  {% if user.is_authenticated %}
    $('.comment').last().prev().animateHighlight();
  {% endif %}
  preview();
}

function bindPostCommentHandler() {
  ajax = new Ajaxion('{{ post.get_absolute_url }}',
                     {'selector': '#comment-form',
                      'events': 'submit'},
                     'POST',
                     [
			{
                         'url': '{{ post.get_absolute_url }}',
                         'visible': true,
                         'callbacks': [bindPostCommentHandler],
                         'selectors' : {'#post-footer': '#post-footer'},
                        },
                     ],
                     {
                         'success': [
                                     {
                                      'callback': bindPostCommentHandler,
                                      'force': 1
                                     },
                                     ],

                     }

  )
  ajax.start();
}

/*
function bindPostCommentHandler() {
  ajax_form('#comment-form'
	      , '{{ post.get_absolute_url }}'
	      , bindPostCommentHandler
	      , '{% trans "Your comment was unable to be sent at this time. We apologise for the inconvenience." %}',
	     false,
             function () {},
             addNewComment,
	     ['#post-footer']);
}
*/
bindPostCommentHandler();
</script>
