{% load markup humanize common_tags user_tags i18n tz %}

{% for comment in comments %}
  <section class="comment clearfix">
    <span class="info">
      {% trans "By " %}

      {% if comment.user %}
	<a href="{{ comment.user.get_absolute_url }}">
	  {% if comment.user.get_profile.use_name %}{{ comment.user.get_full_name }}{% else %}{{ comment.user.username }}{% endif %}</a>,

      {% else %}
	{% if comment.website %}
	  <a href="{{ comment.website }}">{{ comment.name }}</a>,
	{% else %}
	  {{ comment.name }},
	{% endif %}
      {% endif %}

      <time datetime="{{ comment.pub_date|utc|date:"Y-m-d H:i\Z" }}">
	{{ comment.pub_date|naturalday }}
	{% trans "at " %}{{ comment.pub_date|date }}
      </time>
      <a class="edit-comment-link" href="#" style="display:none;">
	<i class="icon-edit"></i>
      </a>
    </span>


    <div id="comment_{{ comment.pk }}_avatar" class="pull-left margin-right-1">
      {% if comment.user %}
	{{ comment.user|square_thumbnail }}
      {% else %}
	{{ comment.email|gravatar_from_email }}
      {% endif  %}
    </div>

    <div id="comment_{{ comment.pk }}" class="content editable_area">
      {% include "blog/comment_single.html" with comment=comment.comment %}
    </div>
  </section>

{% endfor %}
