{% load i18n %}

<script src="{{ STATIC_URL }}commons/js/ajax_form.js"></script>
<script src="{{ STATIC_URL }}commons/js/jquery.color.js"></script>

<script type="text/javascript">
function addNewComment() {
  {% if user.is_authenticated %}
    $('.comment').last().prev().animateHighlight();
  {% endif %}
  preview();
}


function bindPostCommentHandler() {
  ajax_form('#comment-form'
	      , '{{ post.get_absolute_url }}'
	      , bindPostCommentHandler
	      , '{% trans "Your comment was unable to be sent at this time. We apologise for the inconvenience." %}',
	     false,
             function () {},
             addNewComment,
	     ['#comments']);
}

bindPostCommentHandler();
</script>
