{% load i18n %}

<script src="{{ STATIC_URL }}commons/js/Ajaxion.js"></script>
<script src="{{ STATIC_URL }}commons/js/jquery.color.js"></script>

<script type="text/javascript">
function addNewComment() {
  $('#comment-list .comment:last-child').animateHighlight();
}

function bindPostCommentHandler() {
  ajax = new Ajaxion('{{ post.get_form_url }}',
                     {'selector': '#comment-form',
                      'events': 'submit'},
                     'POST',
                     [
			{
                         'url': '{{ post.get_form_url }}',
                         'visible': true,
                         'callbacks': [
                                       bindPostCommentHandler,
                                       preview,
                                       ],
                         'selectors' : [
                                         {
                                           'current': '#comment-form',
                                           'target': '*',
                                           'insert': false
                                         }
                                       ],
                        },
			{% if user.is_authenticated %}
                         {
                           'url': '{{ post.get_comments_url }}',
                           'visible': false,
                           'callbacks': [
                                         addNewComment,
                                         preview,
					],
                           'selectors' : [
                                           {
                                             'current': '#comment-list',
                                             'target': '*',
                                             'insert': true
                                           }
                                         ],
                          },
                          {
                           'url': '{{ post.get_comment_count_url }}',
                           'visible': false,
                           'selectors' : [
                                           {
                                             'current': '#comments-count',
                                             'target': '*',
                                             'insert': true
                                           }
                                         ],
                          },
			{% endif %}
                     ],
                     {
                         'success': [
                                     {
                                      'callback': bindPostCommentHandler,
                                      'force': 1
                                     },
                                     {'callback': ajaxion_cb_push_before}
                                     ],

                     }

  )
  ajax.start();
}
bindPostCommentHandler();
</script>
