{% load url from future %}
{% load i18n %}

<script type="text/javascript">
function bindPostContactHandler() {
var ajax = new Ajaxion('{% url "contact-form" %}',
                       {'selector': '#contact-form',
			'events': 'submit'},
                       'POST',
                       [
			   {
                               'url': '{% url "contact-form" %}',
                               'visible': true,
                               'selectors' : [
                                   {
                                       'current': '#contact-form',
                                       'target': '*',
                                       'insert': false
                                   }
                               ],
                           }
		       ],
                       {
                           'success': [
                               {'callback': Ajaxion.cb_push_before}
                           ],

                       }
                      );
    ajax.start();
}

bindPostContactHandler();
</script>
