{% load url from future %}
{% load i18n %}

<script type="text/javascript">
function bindPostContactHandler() {
  ajax = new Ajaxion('{% url "contact-form" %}',
                     {'selector': '#contact-form',
                      'events': 'submit'},
                     'POST',
                     [
			{
                         'url': '{% url "contact-form" %}',
                         'visible': true,
                         'callbacks': [
                                       bindPostContactHandler,
                                       ],
                         'selectors' : [
                                         {
                                           'current': '#contact-form',
                                           'target': '*',
                                           'insert': false
                                         }
                                       ],
                        }
			],
                     {
                         'success': [
                                     {
                                      'callback': bindPostContactHandler,
                                      'force': 1
                                     },
                                     {'callback': ajaxion_cb_push_before}
                                     ],

                     }
                    );
  ajax.start();
}

bindPostContactHandler();
</script>
