{% extends "header.html" %}

{% load i18n  %}
{% load url from future  %}


{% block "menu-new-links" %}
  <ul class="nav pull-right n-socialm-icons">
    <li id="github-icon" class="icons">
      <a href="https://github.com/Nivl"></a>
    <li id="rss-icon" class="icons">
      <a href="{% url "atom-blog-latest" %}"></a>
    <li id="google-icon" class="icons">
      <a href="https://plus.google.com/107029584179497153748/posts"></a>
    <li id="twitter-icon" class="icons">
      <a href="https://twitter.com/Nivl_"></a>
    <li id="facebook-icon" class="icons">
      <a href="https://facebook.com/melvin.laplanche"></a>
  </ul>
{% endblock %}
