{% load i18n  %}

<header id="page-header">
  <div id="header-central">
    <h1>Laplanche-Melv<span class="dot">.</span>in</h1>
  </div>
  <nav id="second-list">
    <ul>
      <li><a href="{% url blog %}">{% trans "Blog" %}</a>
      <li><a href="{% url contact %}">{% trans "Contact" %}</a>
      <li><a href="{% url home %}">{% trans "about" %}</a>

      <li id="facebook-icon" class="icons">
	<a href="https://facebook.com/melvin.laplanche"></a>
      <li id="twitter-icon" class="icons">
	<a href="https://twitter.com/Nivl_"></a>
      <li id="google-icon" class="icons">
	<a href="https://plus.google.com/107029584179497153748/posts"></a>
      <li id="rss-icon" class="icons">
	<a href="{% url atom-blog-latest %}"></a>
      <li id="github-icon" class="icons">
	<a href="https://github.com/Nivl"></a>
    </ul>
  </nav>
</header>
