{% extends "blog/base.html" %}
{% load url from future %}
{% load i18n %}

{% block "title" %}{% trans "Login" %}{% endblock "title" %}

{% block "content" %}

  <h1 class="centered-text">{% trans "Login" %}</h1>

<form method="post"
      class="form-horizontal"
      action="{% url 'django.contrib.auth.views.login' %}">
  {% csrf_token %}

  {{ form }}
  <input type="hidden" name="next" value="{{ next }}" />


  <div class="form-actions">
    <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
  </div>
</form>

{% endblock %}
