<nav id="menu">
  <section>
    <h3>Categories</h3>
    <ul>
      <li><a href="/categories/epitech/">Epitech</a>
      <li><a href="/categories/projet/">Projet</a>
    </ul>
  </section>

  <section>
    <h3>See also</h3>
    <ul>
      <li><a href="http://loick-michard.com">Loick Michard</a>
      <li><a href="http://aurao.com">Gael Du Plessix</a>
    </ul>
  </section>

  <section>
    <h3>Archive</h3>
    <ul>
      <li><a href="/2011/07">Juillet</a>
      <li><a href="/2011/06">Juin</a>
    </ul>
  </section>
</nav>
