{% load i18n %}

<section class="pagination pagination-centered">
  <ul>
    <li{% if not paginator.has_previous %} class="disabled"{% endif %}>
      <a rel="ajax-content"
	 title="{% blocktrans with i=paginator.previous_page_number %}Page {{ i }}{% endblocktrans %}"
	 data-depth="20"
	 href="?page={{ paginator.previous_page_number }}">«</a>

    {% for i in paginator.paginator.page_range %}
      <li{% ifequal i paginator.number %} class="active"{% endifequal %}>
      	<a data-depth="20"
	   title="{% blocktrans %}Page {{ i }}{% endblocktrans %}"
	   rel="ajax-content"
	   href="?page={{ i }}">{{ i }}</a>
    {% endfor %}

    <li{% if not paginator.has_next %} class="disabled"{% endif %}>
      <a data-depth="20"
	 title="{% blocktrans with i=paginator.next_page_number %}Page {{ i }}{% endblocktrans %}"
	 rel="ajax-content"
	 href="?page={{ paginator.next_page_number }}">»</a>

  </ul>
</section>
