- extends "blog/base.haml"
- load blog_tags markup humanize common_tags i18n

- block "title"
    {{ obj.name }}

- block "meta-description"
    - if obj.seo.all.0
        {{ obj.seo.all.0 }}
    - else
        {{ block.super }}

- block "meta-keywords"
    - if obj.seo.all.0.keywords
        {{ obj.seo.all.0.keywords }}
    - else
        {{ block.super }}

- block "sub_head_link"
    - if obj.feed
        %link{'rel'     : 'alternate',
              'type'    : 'application/atom+xml',
              'title'   : '{{ obj.name }} ATOM Feed',
              'href'    : '{{ obj.feed.atom }}'}

        %link{'rel'     : 'alternate',
              'type'    : 'application/rss+xml',
              'title'   : '{{ obj.name }} RSS Feed',
              'href'    : '{{ obj.feed.rss }}'}

- block "breadcrumb-subcontent"
    %li
        %span.divider
            \/
    %li{'itemscope': None, 'itemtype': 'http://data-vocabulary.org/Breadcrumb'}
        %a{'itemprop': 'url',
           'data-depth' : '10',
           'data-ajax'  : 'body-content-only',
           'title'      : '{{ obj.name }}',
           'href'       : '{{ obj.url }}'}
            %span{'itemprop': 'title'}
                {{ obj.name }}


- block "content"
    %h1.center-text
        {{ obj.name }}

    - include "blog/inc/listing.html" with posts=posts
    - include "inc/pagination.html" with paginator=posts
