- extends "blog/base.haml"
- load blog_tags markup humanize common_tags i18n tz

- block "app_js"
    :javascript
        reloadShareButtons();

   - include "blog/inc/comment_ajax.haml" with post=post user=user

- block "title"
    {{ post.title }}

- block "meta-description"
    - if post.seo.all.0
        {{ post.seo.all.0 }}
    - else
        {{ block.super }}

- block "meta-keywords"
    - if post.seo.all.0.keywords
        {{ post.seo.all.0.keywords }}
    - else
        {{ block.super }}


- block "breadcrumb-subcontent"
    %li
        %span.divider
            \/
    %li{'itemscope': None, 'itemtype': 'http://data-vocabulary.org/Breadcrumb'}
        %a{'itemprop'   : 'url',
           'data-depth' : '10',
           'data-ajax'  : 'body-content-only',
           'title'      : '{{ post.category.name }}',
           'href'       : '{{ post.category.get_absolute_url }}'}
            %span{'itemprop': 'title'}
                {{ post.category.name }}
    %li
        %span.divider
            \/
    %li{'itemscope': None, 'itemtype': 'http://data-vocabulary.org/Breadcrumb'}
        %a{'itemprop'   : 'url',
           'data-depth' : '30',
           'data-ajax'  : 'body-content-only',
           'title'      : '{{ post.title }}',
           'href'       : '{{ post.get_absolute_url }}'}
            %span{'itemprop': 'title'}
                {{ post.title }}

- block "content"
    %article.post{'itemscope': None, 'itemtype': 'http://schema.org/BlogPosting'}

        %meta{'itemprop': 'wordCount', 'content': '{{ post.parsed_content|markdown|wordcount }}'}
        %meta{'itemprop': 'description', 'content': '{{ post.description|markdown }}'}

        - for data in post.micro_data.all
            %meta{'itemprop': '{{ data.name }}', 'content': '{{ data.content }}'}

        %header
            %h2{'itemprop' : 'name'}<
                {{ post.title }}

            .pull-right.share-btn
                .g-plusone.item{'data-size': 'small'}

            .info
                - trans "By "

                %span{'itemprop': 'creator'}<
                    - if post.author.get_profile.use_name
                        {{ post.author.get_full_name }}
                    - else
                        {{ post.author }}
                \-
                %time{'itemprop'    : 'datePublished',
                      'datetime'    : '{{ post.pub_date|utc|date:"Y-m-d H:i\Z" }}'}
                    {{ post.pub_date|naturalday }}

                - trans "In: "
                %a{'data-ajax'  : 'body-content-only',
                   'data-depth' : '10',
                   'href'       : '{{ post.category.get_absolute_url }}'}

                    {{ post.category }}


                - with post.tags.all as tags
                    - if tags
                        %br
                        %i.icon-tags

                        - for tag in tags
                            %a{'data-ajax'  : 'body-content-only',
                               'data-depth' : '10',
                               'href'       : '{{ tag.get_absolute_url }}'}
                                {{ tag.name }}

                            - if not forloop.last
                                \-

                - with post.i18n.all as rels
                    - if rels
                        %br
                        %i.icon-globe

                        - for rel in rels
                            %a{'href' : 'http://{{ rel.site.site }}{{ rel.get_absolute_url }}#'}

                                %img.flag.valign-inherit{'width'   : '14',
                                                         'src'     : '{{ rel.site.flag.url }}'}

                            - if not forloop.last
                                &nbsp;

        %section.content.clearfix{'itemprop': 'articleBody'}
            {{ post.parsed_content|markdown }}

        %footer#post-footer
            - if post.lab
                .lab-button
                    %a.btn{'data-depth'      : '1',
                           'data-ajax'       : 'body-content',
                           'data-navbar'     : '#navbar-lab',
                           'title'           : '{% trans "Lab" %}',
                           'data-subtitle'   : '{% trans "Where I present my projects" %}',
                           'href'            : '{{ post.lab.get_absolute_url }}'}

                            %i.icon-info-sign.icon-white
                            &nbsp;
                            - trans "Know more"

            - include "blog/inc/comment.haml" with post=post form=form

