{% extends "blog/base.html" %}
{% load blog_tags markup comments %}

{% block "sub_head_js" %}
  {% include "comments/ajax_form.html" %}
{% endblock "sub_head_js" %}

{% block "content" %}
  <article id="post">
    <header>
      <h2>{{ post.title }}</h2>
      <div class="add-this">
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style ">
	  <a class="addthis_button_google_plusone" g:plusone:count="false"></a>
	  <a class="addthis_button_facebook"></a>
	  <a class="addthis_button_twitter"></a>
	  <a href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=xa-4e6d17e05f6e608b" class="addthis_button_compact">Share</a>
	</div>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e6d17e05f6e608b"></script>
	<!-- AddThis Button END -->
      </div>
      <div class="info">
	Par {{ post.author }}
	le {{ post.pub_date|date:"d/m/Y" }}
	à {{ post.pub_date|date:"H:i" }}
	Dans: <a href="{{ post.category.get_absolute_url }}">
	  {{ post.category }}
	</a>
	{% if post.tags.all %}
	  <br />
	  Taggé sous: {% for tag in post.tags.all %}
	    <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
	    {% if not forloop.last %},{% endif %}
	  {% endfor %}
	{% endif %}
      </div>
    </header>

    <section class="content">
      {{ post.parsed_content|markdown:"codehilite" }}
    </section>

    <footer>
      <h2>Commentaires</h2>

      {% get_comment_count for post as comment_count %}
      {% ifequal comment_count 0 %}
	Auncun commentaire
      {% else %}
	{% ifequal comment_count 1 %}
	  1 commentaire
	{% else %}
	  {{ comment_count }} commentaires
	{% endifequal %}
      {% endifequal %}

      {% render_comment_list for post %}

      {% if post.allow_comment %}
	<div id="comment_form">
	  {% render_comment_form for post %}
	</div>
      {% else %}
	Les commentaires ont été désactivé pour cet article.
      {% endif %}
    </footer>
  </article>
{% endblock %}
