- extends "blog/base.haml"
- load blog_tags markup humanize common_tags i18n tz

- block "app_sub_js"
    - include "blog/inc/comment_ajax.haml" with post=post user=user

- block "title"
    {{ post.title }}

- block "meta-description"
    - if post.seo.all.0
        {{ post.seo.all.0 }}
    - else
        {{ block.super }}

- block "meta-keywords"
    - if post.seo.all.0.keywords
        {{ post.seo.all.0.keywords }}
    - else
        {{ block.super }}


- block "breadcrumb-subcontent"
    %li
        %span.divider
            \/
    %li{'itemscope': None, 'itemtype': 'http://data-vocabulary.org/Breadcrumb'}
        %a{'itemprop'   : 'url',
           'data-depth' : '10',
           'data-ajax'  : 'body-content-only',
           'title'      : '{{ post.category.name }}',
           'href'       : '{{ post.category.get_absolute_url }}'}
            %span{'itemprop': 'title'}
                {{ post.category.name }}
    %li
        %span.divider
            \/
    %li{'itemscope': None, 'itemtype': 'http://data-vocabulary.org/Breadcrumb'}
        %a{'itemprop'   : 'url',
           'data-depth' : '30',
           'data-ajax'  : 'body-content-only',
           'title'      : '{{ post.title }}',
           'href'       : '{{ post.get_absolute_url }}'}
            %span{'itemprop': 'title'}
                {{ post.title }}

- block "content"
    %article.post{'itemscope': None, 'itemtype': 'http://schema.org/BlogPosting'}

        %meta{'itemprop': 'wordCount', 'content': '{{ post.parsed_content|markdown|wordcount }}'}
        %meta{'itemprop': 'description', 'content': '{{ post.description|markdown }}'}

        - for data in post.micro_data.all
            %meta{'itemprop': '{{ data.name }}', 'content': '{{ data.content }}'}

        %header
            %h2{'itemprop'  : 'name',
                'id'        : 'blog-post-title-{{ post.pk }}',
                'class'     : '{% if perms.blog.change_post %}blog-post-title-live-edit{% endif %}'}<
                {{ post.title }}

            .pull-right.share-btn
                .g-plusone.item{'data-size': 'small'}

            .info
                %i.icon-reorder
                %span{'id'    : 'blog-post-category-{{ post.pk }}',
                     'class' : '{% if perms.blog.change_post %}blog-post-category-live-edit{% endif %}'}

                    %a{'data-ajax'  : 'body-content-only',
                       'data-depth' : '10',
                       'href'       : '{{ post.category.get_absolute_url }}'}
                        {{ post.category }}

                - with post.tags.all as tags
                    - if tags
                        %br
                        %i.icon-tags

                        - for tag in tags
                            %a{'data-ajax'  : 'body-content-only',
                               'data-depth' : '10',
                               'href'       : '{{ tag.get_absolute_url }}'}
                                {{ tag.name }}

                            - if not forloop.last
                                \-

                - with post.i18n.all as rels
                    - if rels
                        %br
                        %i.icon-globe

                        - for rel in rels
                            %a{'href' : 'http://{{ rel.site.site }}{{ rel.get_absolute_url }}#'}

                                %img.flag.valign-inherit{'width'   : '14',
                                                         'src'     : '{{ rel.site.flag.url }}'}

                            - if not forloop.last
                                &nbsp;

                - if perms.blog.change_post
                    %br

                    %div{'id'    : 'blog-post-is-public-{{ post.pk }}',
                         'class' : '{% if perms.blog.change_post %}blog-post-is-public-live-edit{% endif %}'}
                        - include 'blog/ajax/is_public.haml' with value=post.is_public


        %section.content.clearfix{'itemprop': 'articleBody',
                                  'id'    : 'blog-post-parsed-content-{{ post.pk }}',
                                  'class' : '{% if perms.blog.change_post %}blog-post-parsed-content-live-edit{% endif %}'}
            - include 'ajax/single_field_value_md.haml' with value=post.parsed_content

        %footer#post-footer
            - if post.lab
                .lab-button
                    %a.btn{'data-depth'      : '1',
                           'data-ajax'       : 'body-content',
                           'data-navbar'     : '#navbar-lab',
                           'title'           : '{% trans "Lab" %}',
                           'data-subtitle'   : '{% trans "Where I present my projects" %}',
                           'href'            : '{{ post.lab.get_absolute_url }}'}

                            %i.icon-info-sign.icon-white
                            &nbsp;
                            - trans "Know more"

            - include "blog/inc/comment.haml" with post=post form=form

