{% extends "blog/base.html" %}
{% load blog_tags markup humanize common_tags i18n %}

{% block "header" %}
  {% with act_menu="blog" %}
    {{ block.super }}
  {% endwith %}
{% endblock "header" %}

{% block "sub_head_link" %}
  {% if obj_feed %}
    <link rel="alternate" type="application/atom+xml"
	  title="{{ obj_name }} ATOM Feed" href="{{ obj_feed.atom }}">

    <link rel="alternate" type="application/rss+xml"
	  title="{{ obj_name }} RSS Feed" href="{{ obj_feed.rss }}">
  {% endif %}
{% endblock "sub_head_link" %}

{% block "title" %}{{ obj_name }}{% endblock "title" %}

{% block "content" %}

  <h1 class="centered-text">{{ obj_name }}</h1>

  {% include "blog/listing.html" with posts=posts %}
  {% include "blog/pagination.html" with paginator=posts %}
{% endblock %}
