{% extends "blog/base.html" %}
{% load blog_tags markup humanize common_tags i18n tz %}

{% block "header" %}
  {% with act_menu="blog" %}
    {{ block.super }}
  {% endwith %}
{% endblock "header" %}

{% block "sub_head_js" %}

  <script src="{{ STATIC_URL }}commons/js/Markdown.Converter.js"></script>
  <script src="{{ STATIC_URL }}commons/js/Markdown.Sanitizer.js"></script>
  <script src="{{ STATIC_URL }}commons/js/jquery.oninput.min.js"></script>

  {% include "blog/comment_ajax.html" with post=post user=user %}

{% endblock "sub_head_js" %}

{% block "title" %}{{ post.title }}{% endblock "title" %}

{% block "content" %}
  <article id="post">
    <header>
      <h2>{{ post.title }}</h2>
      <div class="pull-right add-this">
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style ">
	  <a class="addthis_button_google_plusone" g:plusone:count="false"></a>
	  <a class="addthis_button_facebook"></a>
	  <a class="addthis_button_twitter"></a>
	  <a href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=xa-4e6d17e05f6e608b" class="addthis_button_compact">{% trans "Share" %}</a>
	</div>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e6d17e05f6e608b"></script>
	<!-- AddThis Button END -->
      </div>
      <div class="info">
	{% trans "By " %}{{ post.author }},
	<time datetime="{{ post.pub_date|utc|date:"Y-m-d H:i\Z" }}">
	  {{ post.pub_date|naturalday }}
	</time>
	{% trans "In: " %}<a href="{{ post.category.get_absolute_url }}">
	  {{ post.category }}
	</a>
	{% with post.tags.all as tags %}
	  {% if tags %}
	    <br />
	    <i class="icon-tags"></i>
	    {% for tag in tags %}
	      <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
	      {% if not forloop.last %},{% endif %}
	    {% endfor %}
	  {% endif %}
	{% endwith %}
	{% with post.i18n.all as rels %}
	  {% if rels %}
	    <br />
	    {% trans "Available in: " %}
	    {% for rel in rels %}
	      <a href="http://{{ rel.site.site }}{{ rel.get_absolute_url }}">
		<img class="flag" width="16" height="11"
		     src="{{ rel.site.flag.url }}">
	      </a>
	      {% if not forloop.last %}&nbsp;{% endif %}
	    {% endfor %}
	  {% endif %}
	{% endwith %}
      </div>
    </header>

    <section class="content clearfix">
      {{ post.parsed_content|markdown }}
    </section>

    <footer id="post-footer">
      {% if post.lab %}
	<div class="lab-button">
	  <a class="btn btn-info lab-project"
	     href="{{ post.lab.get_absolute_url }}">
	    <i class="icon-info-sign icon-white"></i>
	    {% trans "Know more" %}
	  </a>
	</div>
	{% endif %}

	{% include "blog/comment.html" with post=post form=form %}
    </footer>
  </article>
{% endblock %}
