{% extends "blog/base.html" %}
{% load blog_tags markup humanize common_tags i18n %}

{% block "title" %}{{ obj.name }}{% endblock "title" %}

{% block "sub_head_link" %}
  {% if obj.feed %}
    <link rel="alternate" type="application/atom+xml" title="{{ obj.name }} ATOM Feed" href="{{ obj.feed.atom }}">
    <link rel="alternate" type="application/rss+xml" title="{{ obj.name }} RSS Feed" href="{{ obj.feed.rss }}">
  {% endif %}
{% endblock "sub_head_link" %}

{% block "breadcrumb-subcontent" %}
  <li>
    <span class="divider">/</span>
    <a data-depth="10" data-ajax="body-content-only" title="{{ obj.name }}" href="{{ obj.url }}">
      {{ obj.name }}
    </a>
  </li>
{% endblock "breadcrumb-subcontent" %}

{% block "content" %}
  <h1 class="center-text">{{ obj.name }}</h1>

  {% include "blog/inc/listing.html" with posts=posts %}
  {% include "inc/pagination.html" with paginator=posts %}
{% endblock %}
