/******************************************************************************
**									     **
**                        Variables and functions                            **
**									     **
******************************************************************************/

@bg-color: #ededed;

/******************************************************************************
 **									     **
 **                        End variables and functions                       **
 **									     **
 *****************************************************************************/

html, body {
    background-color: @bg-color;
}

#body {
    h1 {
	margin-bottom: 20px;
    }
}
