@import "../../../../vendors/bootstrap/less/mixins";
@import "../../../../vendors/bootstrap/less/variables";

@media(max-width: 767px) {
    body {
        padding: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .navbar {
        margin-bottom: 0;

        .brand {
            padding: 0px;
            padding-left: 10px;
            margin: 15px 0 0 -20px;
            font-size: 22px;
        }

        .navbar-collapse {
            & > ul {
                height: auto;

                li {
                    width: auto;
                    height: auto;

                    &.dropdown.open {
                        & > a {
                            background-color: #e9e9e9;
                        }
                    }

                    &.active {
                        .box-shadow(none);

                    }

                    a {
                        border: none !important;
                        padding-top: 15px !important;

                        &:hover {
                            padding-top: 15px !important;
                        }
                    }
                }
            }
        }
    }

    #body > footer {
        text-align: center;

        .brand {
            margin-top: 0px;
        }
    }

    #body {
        #body-content {
            padding: 0 10px;
            margin-top: 35px;
        }

        .post-list .row .post:first-child {
            margin-left: 0px;
        }
    }

    #middle-header {
        .form-search {
            margin-top: 10px;
            margin-left: 20px;
        }

        #page-title {
            display: none;
        }
    }

    #bottom-header {
        overflow: visible;
        height: 100%;

        #subtitle-wrapper {
            display: none;
        }

        #page-menu-icon {
            display: none;
        }

        #page-menu-wrapper {
            position: static;

            .element {
                height: 100%;

                .nav-collapse {
                    float: none;

                    .tagscloud {
                        width: 215px;
                    }
                }
            }
        }
    }
}

@media(max-width: 979px) {
    #body {
        .post-list {
           .row {
                .post {
                    border-left: 1px solid #eaeadd !important;
                    border-right: 1px solid #eaeadd !important;
                    border-bottom: 1px solid #eaeadd !important;
                    border-top: none;
                }

                &:first-child {
                    .post:first-child {
                        border-top: 1px solid #eaeadd !important;
                    }
                }
            }
        }
    }
}

@media(max-width: 979px) and (min-width: 768px) {
    #body > footer {
        .brand {
            font-size: 19px;

            small {
                font-size: 10px;
            }
        }
    }

    #body {
        .post-list .row .post {
            min-height: 250px;
        }
    }
}

@media(max-width:1199px) and (min-width: 980px) {
    #body {
        .post-list .row .post {
            min-height: 370px;
        }
    }

    #body > footer {
        .brand {
            font-size: 26px;
        }
    }
}
