{% load comments %}

<script type="text/javascript" charset="utf-8">
function bindPostCommentHandler() {
    $('#comment_form form input.submit-preview').remove();
    $('#comment_form form').submit(function() {
        $.ajax({
            type: "POST",
            data: $('#comment_form form').serialize(),
            url: "{% comment_form_target %}",
            cache: false,
            dataType: "html",
            success: function(html, textStatus) {
		$('#comment_form form').replaceWith(html)
                bindPostCommentHandler();
	    },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#comment_form form').replaceWith('<div class="error">Your comment was unable to be posted at this time.  We apologise for the inconvenience.</div>');
            }
        });
        return false;
    });
}


$(document).ready(function() {
    bindPostCommentHandler();
});
</script>
