{% load comments markup humanize common_tags %}

<section id="comments">
  {% get_comment_list for post as comment_list %}

  {% for comment in comment_list %}
    <section class="comment">
      <span class="info">
	Par
	{% if comment.url %}
	  <a href="{{ comment.url }}">{{ comment.user_name }}</a>
	{% else %}
	  {{ comment.user_name }}
	{% endif %}
	le <time datetime="{{ comment.submit_date|date:"cO"|fix_html5_tz }}" pubdate>
	  {{ comment.submit_date|naturalday:'d F Y' }}
	  à {{ comment.submit_date|date:"H:i" }}
	</time>
      </span>

      <div class="content">
	{{ comment.comment|markdown:"safe,codehilite" }}
      </div>

    </section>
  {% endfor %}
</section>
