- load i18n bootstrap

%form.form-inline{'id': '{{ id }}',
                  'method': 'post',
                  'action': '{{ url }}',
                  'style': 'display: inline'}
    - csrf_token

    - for field in form.visible_fields
        {{ field }}

    %button.btn.btn-primary{'type'             : 'submit',
                           'data-loading-text' : '{% trans "Sending..." %}'}<
        %i.icon-ok.icon-white

    %button.btn.btn-danger{'type': 'reset'}<
        %i.icon-remove.icon-white
