/******************************************************************************
**									     **
**                        Variables and functions                            **
**									     **
******************************************************************************/

@green: #092e20;
@blue: #0091ff;

/******************************************************************************
**									     **
**                        End variables and functions                        **
**									     **
******************************************************************************/


/******************************************************************************
**									     **
**                                  Color                                    **
**									     **
******************************************************************************/

#cboxLoadedContent {
    font-family: verdana, serif;
    background-color: @green;
    color: white;
    font-size: 13px;
    padding: 20px;
}

/******************************************************************************
**									     **
**                               End Colorbox                                **
**									     **
******************************************************************************/

body{
    font-family: verdana, serif;
    font-size: 11px;
    color: white;
    background: @green url("../../img/about/background.png");
    background-repeat: no-repeat;
    background-position: top right;

    a {
	color: @blue;
	text-decoration: none;
    }

    .title{
	z-index: -1;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 130px;
	height: 570px;
	background: @green url("../../img/about/laplanche-melv.in.png");
	background-repeat: no-repeat;
	backgroung-position: top left;
    }

    #slider {
	max-height: 600px;
	overflow: hidden;

	#resume {
	    z-index: 999;
	    position: relative;
	    top: -450px; // wrapper height
	    left: 110%;
	    width: 100%;
	    color: black;

	    #resume-container {
		position: relative;
		left: 12%;
		width: 75%;
	    }

	    ul.tabs {
		margin-top: 20px;
		margin-bottom: 9px;

		li {
		    display: inline;

		    a {
			background-color: #092e20;
			color: #ffe761;
			padding: 8px 14px 8px 14px;
			text-decoration: none;
			font-size: 9px;
			font-weight: bold;
			text-transform: uppercase;
			border: 1px solid #464c54;

			&:hover {
			    color: white;
			    background-color: #234f32;
			    border-color: #2f343a;
			}

			&.active {
			    background-color: #ffffff;
			    color: #282e32;
			    border: 1px solid #464c54;
			    border-bottom: 1px solid #ffffff;
			}
		    }
		}
	    }

	    .content {
		background-color: #fff;
		padding: 10px;
		border: 1px solid #464c54;

		h3 {
		    background-color: #ebebeb;
		    border: 1px solid #ddd;
		    border-top-color: #bcbcbc;
		    border-left-color: #bcbcbc;
		    color: #666;
		    text-shadow: 1px 1px 0 #fff;

		    padding: 3px;
		    text-transform: uppercase;
		    font-size: 1.4em;
		    margin: 10px 0;
		    font-weight: bolder;
		}

		li {
		    padding: 2px 0 2px 10px;
		}

		table {
		    th, td {
			padding: 5px;
			padding-right: 15px;

			border: 2px solid white;
		    }

		    th {
			background-color: #92cc47;
			color: @green;
			font-weight: bolder;
		    }
		}
	    }

	    #content-skills, #content-awards {
		display: none;
	    }
	}

	.wrapper{
	    width: 100%;
	    height: 450px;
	    position: relative;
	    top: 150px;
	    left: 200px;

	    .images img{
		display: none;
		position: absolute;
		left: 6px;
		top: 6px;
	    }

	    #image_about {
		display: block;
	    }
	}

	.circleBig{
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    width: 418px;
	    height: 418px;
	    background:transparent url("../../img/about/circlebg.png");
	    background-repeat: no-repeat;
	    background-position: top left;

	    .menu{
		position: absolute;
		width: 101px;
		height: 74px;
		top: 240px;
		left: 260px;
		z-index: 999;


		a.about, a.portfolio, a.contact{
		    float: left;
		    clear: both;
		    height: 23px;
		    margin-bottom: 10px;
		    width: 105px;
		    text-indent: -2000000px;
		    opacity: 0.8;
		    background: transparent url("../../img/about/menu.png");
		    background-repeat: no-repeat;
		    background-position: top left;

		    &:hover{
			opacity: 1.0;
		    }
		}

		a.portfolio{
		    width: 90px;
		    background-position: -105px 0px;
		}

		a.contact{
		    width: 88px;
		    background-position: -199px 0px;
		}
	    }
	}

	.circle{
	    margin-top: -88px;
	    margin-left: -88px;
	    width: 176px;
	    height: 176px;
	    position: absolute;
	    left: 0;
	    top: 0;
	    background: transparent url("../../img/about/circle.png");
	    background-repeat: no-repeat;
	    background-position: top left;
	    z-index: 10;
	    opacity: 0;

	    .description{
		width: 120px;
		margin: 40px auto;
		text-align: center;

		ul{
		    list-style: none;
		    text-align: center;

		    a{
			line-height: 30px;
			font-weight: bold;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 11px;
			text-shadow: 1px 1px 1px #aaa;

			&:hover {
			    color: #f0f0f0;
			}
		    }
		}
	    }
	}
    }
}
