openapi: "3.0.0"
servers:
    - url: "https://api.melvin.la"
info:
    version: 1.0.0
    title: melvin.la API specs
    description: This is the API specification for melvin.la.
tags:
    - name: fortnite
      description: This is the fortnite API. It is used to manage fortnite-related data.
components:
    schemas:
        ErrorResponse:
            description: Object returned to any query that fails with an error code that expects a body (400, 409, ...)
            type: object
            required:
                - code
                - message
            properties:
                code:
                    type: integer
                    description: Error Code
                    example: 400
                message:
                    type: string
                    description: Descriptive error message
                    example: "user must be logged in to make the request"
                field:
                    type: string
                    description: The name of the field/param that caused the error
                    example: "id"
                location:
                    type: string
                    enum: [query, path, body, header, cookie]
                    description: Location of where the field/param was found
                    example: "body"
        FortniteStatsDetails:
            description: represents the actual stats of a Fortnite player.
            type: object
            required:
                - score
                - scorePerMin
                - scorePerMatch
                - kills
                - killsPerMin
                - killsPerMatch
                - deaths
                - kd
                - matches
                - winRate
                - minutesPlayed
                - playersOutlived
                - lastModified
                - wins
            properties:
                score:
                    type: integer
                    description: Total score of the player.
                    example: 4595929
                scorePerMin:
                    type: number
                    format: double
                    description: Average score per minute played.
                    example: 15.699
                scorePerMatch:
                    type: number
                    format: double
                    description: Average score per match played.
                    example: 217.446
                kills:
                    type: number
                    format: double
                    description: Total amount of enemies killed.
                    example: 77833
                killsPerMin:
                    type: number
                    format: double
                    description: Average of enemies killed per minute.
                    example: 0.256
                killsPerMatch:
                    type: number
                    format: double
                    description: Average of enemies killed per match.
                    example: 3.682
                deaths:
                    type: integer
                    description: Total amount of time the player died.
                    example: 18361
                kd:
                    type: number
                    format: double
                    description: kill/Death ratio.
                    example: 4.239
                matches:
                    type: integer
                    description: Total amount of matches played.
                    example: 21136
                winRate:
                    type: number
                    format: double
                    description: How often the player wins, in %.
                    example: 13.129
                minutesPlayed:
                    type: integer
                    description: Total amount of minutes played.
                    example: 292752
                playersOutlived:
                    type: integer
                    description: Total amount of players outlived.
                    example: 659524
                lastModified:
                    type: string
                    description: Last time the player's stats were modified.
                    example: "2025-05-10T00:56:28Z"
                wins:
                    type: integer
                    description: Total amount of victory royales.
                    example: 2775
                top3:
                    type: integer
                    description: Total amount of top 3 placements.
                    example: 1401
                top5:
                    type: integer
                    description: Total amount of top 5 placements.
                    example: 1187
                top6:
                    type: integer
                    description: Total amount of top 6 placements.
                    example: 1885
                top10:
                    type: integer
                    description: Total amount of top 10 placements.
                    example: 958
                top12:
                    type: integer
                    description: Total amount of top 12 placements.
                    example: 1787
                top25:
                    type: integer
                    description: Total amount of top 25 placements.
                    example: 1673
        FortniteStatsCategories:
            type: object
            description: The categories holding stats.
            required:
                - overall
            properties:
                overall:
                    $ref: "#/components/schemas/FortniteStatsDetails"
                solo:
                    $ref: "#/components/schemas/FortniteStatsDetails"
                duo:
                    $ref: "#/components/schemas/FortniteStatsDetails"
                squad:
                    $ref: "#/components/schemas/FortniteStatsDetails"
                ltm:
                    $ref: "#/components/schemas/FortniteStatsDetails"
        FortniteStats:
            type: object
            description: The content of the Stats endpoint.
            required:
                - status
                - data
            properties:
                status:
                    type: integer
                    description: HTTP Status of the response
                    example: 200
                data:
                    type: object
                    description: Data of the response
                    required:
                        - account
                        - battlePass
                        - stats
                    properties:
                        account:
                            type: object
                            description: information about the player's account
                            required:
                                - id
                                - name
                            properties:
                                id:
                                    x-go-name: ID
                                    type: string
                                    description: ID of the account
                                    example: "883abec4cded42f3bea87531ce0aa5c8"
                                name:
                                    type: string
                                    description: Name of the account
                                    example: "M8 Nîkof"
                        battlePass:
                            type: object
                            description: information about the player's battle pass
                            required:
                                - level
                                - progress
                            properties:
                                level:
                                    type: integer
                                    description: Current level of the player
                                    example: 43
                                progress:
                                    type: integer
                                    description: Progress in % toward the next level
                                    example: 51
                        stats:
                            type: object
                            description: information about the player's battle pass
                            required:
                                - all
                            properties:
                                all:
                                    $ref: "#/components/schemas/FortniteStatsCategories"
                                keyboardMouse:
                                    $ref: "#/components/schemas/FortniteStatsCategories"
                                gamepad:
                                    $ref: "#/components/schemas/FortniteStatsCategories"
                                touch:
                                    $ref: "#/components/schemas/FortniteStatsCategories"
    securitySchemes:
        ApiKeyAuth:
            type: apiKey
            in: header
            name: X-Api-Key
paths:
    /fortnite/stats/{username}/{platform}/{timeWindow}:
        get:
            description: Retrieve Fortnite stats for a player.
            summary: Get Fortnite stats.
            operationId: fortniteGetStats
            security:
                - ApiKeyAuth: []
            tags:
                - fortnite
            parameters:
                - name: username
                  in: path
                  required: true
                  description: The username of the player
                  schema:
                    type: string
                - name: platform
                  in: path
                  required: true
                  description: The platform the player plays on.
                  schema:
                    type: string
                    enum:
                        - epic
                        - xbl
                        - psn
                - name: timeWindow
                  in: path
                  required: true
                  description: Time window of the stats. Current season or lifetime.
                  schema:
                    type: string
                    enum:
                        - season
                        - lifetime
            responses:
                "200":
                    description: Successfully retrieved a list of post
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/FortniteStats"
                "400":
                    description: The path/body/query/header contains missing or invalid data
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorResponse"
                            examples:
                                example-1:
                                    value:
                                        code: 400
                                        message: "invalid value"
                                        field: "platform"
                                        location: "path"
                "403":
                    description: The player's account is private
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorResponse"
                            examples:
                                example-1:
                                    value:
                                        code: 403
                                        message: "Account is private"
                "404":
                    description: Cannot find the player on the given platform
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorResponse"
                            examples:
                                example-1:
                                    value:
                                        code: 404
                                        message: "not found"
                "500":
                    description: Something wrong happened
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorResponse"
                            examples:
                                example-1:
                                    value:
                                        code: 500
                                        message: "Internal Server Error"
