openapi: "3.0.0"

servers:
  - url: "https://api.melvin.la"

info:
  version: 1.0.0
  title: melvin.la API specs
  description: This is the API specification for melvin.la.

tags:
  - name: users
    description: This is the user API. It is used to manage users.
  - name: auth
    description: This is the auth API. It is used to manage sessions
      and authentication.
  - name: blog
    description: This is the blog API. It is used to manage blog posts
      and revisions.

components:
  responses:
    BodyError:
      $ref: "./components/responses/BodyError.yml"
    AlreadyLoggedIn:
      $ref: "./components/responses/AlreadyLoggedIn.yml"
    NotLoggedIn:
      $ref: "./components/responses/NotLoggedIn.yml"

  examples:
    UserExample:
      $ref: "./components/examples/UserExample.yml"
    SessionExample:
      $ref: "./components/examples/SessionExample.yml"
    BlogPostExample:
      $ref: "./components/examples/BlogPostExample.yml"

  schemas:
    ErrorResponse:
      $ref: "./components/schemas/ErrorResponse.yml"
    User:
      $ref: "./components/schemas/User.yml"
    Session:
      $ref: "./components/schemas/Session.yml"
    BlogPost:
      $ref: "./components/schemas/BlogPost.yml"

  securitySchemes:
    ApiKeyAuth:
      $ref: "./components/securitySchemes/ApiKeyAuth.yml"

paths:
  /users:
    $ref: "./paths/users/_index.yml"

  /users/{id}:
    $ref: "./paths/users/{id}/_index.yml"

  /sessions:
    $ref: "./paths/sessions/_index.yml"

  /blog/posts:
    $ref: "./paths/blog/posts/_index.yml"

  /blog/posts/{id}:
    $ref: "./paths/blog/posts/{id}/_index.yml"

  /blog/posts/{id-or-slug}:
    $ref: "./paths/blog/posts/{id-or-slug}/_index.yml"
