@theme {
  --color-theme-sand: oklch(81.27% 0.0967 62);
}

[data-theme="sand"] {
  /* Border Radius */
  --radius: 0.25rem;
  --field-radius: 0.25rem;

  /* Colors */
  --accent: oklch(81.27% 0.0967 62);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0.0044 62);
  --border: oklch(90% 0.0044 62);
  --danger: oklch(65.32% 0.2348 2.72);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94% 0.0044 62);
  --default-foreground: oklch(21.03% 0.0059 62);
  --field-background: oklch(100% 0.0022 62);
  --field-foreground: oklch(21.03% 0.0044 62);
  --field-placeholder: oklch(55.17% 0.0088 62);
  --focus: oklch(81.27% 0.0967 62);
  --foreground: oklch(21.03% 0.0044 62);
  --muted: oklch(55.17% 0.0088 62);
  --overlay: oklch(100% 0.0013 62);
  --overlay-foreground: oklch(21.03% 0.0044 62);
  --scrollbar: oklch(87.1% 0.0044 62);
  --segment: oklch(100% 0.0044 62);
  --segment-foreground: oklch(21.03% 0.0044 62);
  --separator: oklch(92% 0.0044 62);
  --success: oklch(73.29% 0.1952 127.79);
  --success-foreground: oklch(21.03% 0.0059 127.79);
  --surface: oklch(100% 0.0022 62);
  --surface-foreground: oklch(21.03% 0.0044 62);
  --surface-secondary: oklch(95.24% 0.0035 62);
  --surface-secondary-foreground: oklch(21.03% 0.0044 62);
  --surface-tertiary: oklch(93.73% 0.0035 62);
  --surface-tertiary-foreground: oklch(21.03% 0.0044 62);
  --warning: oklch(78.19% 0.1599 49.31);
  --warning-foreground: oklch(21.03% 0.0059 49.31);

  /* extra */
  --color-grad-from: oklch(81.27% 0.0967 62);
  --color-grad-to: oklch(85.235% 0.06602 63.714);
}

[data-appearance="dark"][data-theme="sand"] {
  color-scheme: dark;

  --accent: oklch(81.27% 0.0967 62);
  --accent-foreground: oklch(15% 0.0193 62);
  --background: oklch(12% 0.0044 62);
  --border: oklch(28% 0.0044 62);
  --danger: oklch(59.4% 0.1984 1.61);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.4% 0.0044 62);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0088 62);
  --field-foreground: oklch(99.11% 0.0044 62);
  --field-placeholder: oklch(70.5% 0.0088 62);
  --focus: oklch(81.27% 0.0967 62);
  --foreground: oklch(99.11% 0.0044 62);
  --muted: oklch(70.5% 0.0088 62);
  --overlay: oklch(21.03% 0.0088 62);
  --overlay-foreground: oklch(99.11% 0.0044 62);
  --scrollbar: oklch(70.5% 0.0044 62);
  --segment: oklch(39.64% 0.0044 62);
  --segment-foreground: oklch(99.11% 0.0044 62);
  --separator: oklch(25% 0.0044 62);
  --success: oklch(73.29% 0.1952 127.79);
  --success-foreground: oklch(21.03% 0.0059 127.79);
  --surface: oklch(21.03% 0.0088 62);
  --surface-foreground: oklch(99.11% 0.0044 62);
  --surface-secondary: oklch(25.7% 0.0066 62);
  --surface-secondary-foreground: oklch(99.11% 0.0044 62);
  --surface-tertiary: oklch(27.21% 0.0066 62);
  --surface-tertiary-foreground: oklch(99.11% 0.0044 62);
  --warning: oklch(82.03% 0.14 53.32);
  --warning-foreground: oklch(21.03% 0.0059 53.32);

  /* extra */
  --color-grad-to: oklch(0.5125 0.0967 62);
}
