/******************************************************************************
 * Google prettify r244
 *****************************************************************************/

.prettyprint.linenums {
   .box-shadow(~"inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0");
}

ol.linenums li {
    list-style-type: decimal;
    background-color: #f7f7f9;
    padding-left: 12px;
    color: #bebec5;
    line-height: 20px;
    text-shadow: 0 1px 0 #fff;
}

pre.prettyprint { padding: 8px; border: 1px solid #e1e1e8 }

@media screen {
    .pln { color: #48484c; }
    .com { color: #93A1A1; }
    .lit { color: #195F91; }
    .kwd, .tag { color: #1E347B; }
    .fun { color: #dc322f; }
    .pun, .opt, .clo { color: #93a1a1; }
    .typ, .dec, .var, .atn { color: teal; }
}

/******************************************************************************
 * Google prettify r244
 *****************************************************************************/