@lightRed:       #f16451;

@home-color:      #56b0e5;
@blog-color:      #9d7adb;
@lab-color:       #37b369;
@about-color:     #f16451;
@portfolio-color: #20A3Af;
@contact-color:   #ff8949;
@user-color:      #00d6c6;