{% extends "error_base.html" %}

{% block "title" %}404{% endblock %}

{% block "body" %}
  <div class="parallax" id="parallax">
    <div class="layer layer-0">
      <img src="{{ STATIC_URL }}img/errors/background.png" />
    </div>
    <div class="layer small-tie-hunter">
      <img src="{{ STATIC_URL }}img/errors/tie_hunter_small.png" />
    </div>
    <div class="layer ackbar">
      <img src="{{ STATIC_URL }}img/errors/ackbar.png" />
    </div>
    <div class="layer its-a-trap">
      <img src="{{ STATIC_URL }}img/errors/its_a_trap.png" />
    </div>
    <div class="layer tie-hunter">
      <img src="{{ STATIC_URL }}img/errors/tie_hunter.png" />
    </div>
    <div class="layer e404">
      <img src="{{ STATIC_URL }}img/errors/404.png" />
    </div>
{% endblock %}
