<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title>{% block "title" %}Home{% endblock %} - Laplanche Melv.in</title>

    <link href="http://fonts.googleapis.com/css?family=Alice" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}commons/css/reset.css">
    <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}commons/css/main.less.min.css">
    {% block "head_link" %}{% endblock %}
    {% block "head_css" %}{% endblock %}
    <!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <script src="https://www.google.com/jsapi"></script>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22265570-3']);
      _gaq.push(['_setDomainName', '.lapanche-melv.in']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script>
      var STATIC_URL = "{{ STATIC_URL }}";
      google.load("chrome-frame", "1");
      google.load("jquery", "1.6");
    </script>
    <script src="{{ STATIC_URL }}commons/js/koco.jquery.js"></script>
    {% block "head_js" %}{% endblock %}
  </head>
  <body>
    {% block "body" %}{% endblock %}
  </body>
</html>
