{% load i18n %}
<!DOCTYPE html>

<html lang="{% trans "en" %}">
  <head>
    <meta charset="UTF-8">

    <title>{% block "title" %}{% trans "Server Error" %}{% endblock %}</title>

    <link href="http://fonts.googleapis.com/css?family=Alice" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}commons/css/reset.css">
    <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}commons/css/main.less.min.css">
    <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}commons/css/error.less.min.css">
    {% block "head_css" %}{% endblock %}
    <!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <script src="https://www.google.com/jsapi"></script>
    <script>
      var STATIC_URL = "{{ STATIC_URL }}";
      google.load("chrome-frame", "1");
      google.load("jquery", "1.2.6");
    </script>
    <script src="{{ STATIC_URL }}commons/js/jquery.jparallax.js"></script>
    <script src="{{ STATIC_URL }}commons/js/errors.js"></script>
  </head>
  <body>

    <div id="wrapper">
      <header>
	<h1><a href="/">Laplanche-melv<span class="dot">.</span>in</a><h1>
      </header>

      <section id="content">
	{% block "body" %}{% endblock %}
      </section>
    </div>
  </body>
</html>
