{% extends "base.html" %}

{% load markup blog %}

{% block page_title %}{{ entry.title }}{% endblock page_title %}
{% block title %}{% endblock title %}

{% block content %}
  {% display_entry entry 1 %}

  <div class="comment-list">
    <h1 id="comments">Comments</h1>
    {% display_comment_list entry %}
    {% if preview %}
      {% display_comment entry preview 1 %}
    {% endif %}
  </div>

  <form id="comment-form"
	action="{{ entry.get_absolute_url }}#comment-form"
	method="post">
    {% csrf_token %}
    {% for field in form %}
      {% if field.is_hidden %}
        {{ field }}
      {% else %}
        {% if field.errors %}{{ field.errors }}{% endif %}
        <p
          {% if field.errors %}
            class="error"
          {% endif %}
          {% ifequal field.name "honeypot" %}
            style="display:none;"
	  {% endifequal %}>
          {{ field.label_tag }} {{ field }}
	</p>
      {% endif %}
    {% endfor %}
    <p>
      <input type="submit" name="post" value="Post" />
      <input type="submit" name="preview" value="Preview" />
    </p>
  </form>
{% endblock content %}
