- load i18n l10n

- if dates
    %li.dropdown
        %a.dropdown-toggle{'data-toggle' : 'dropdown',
                           'href'        :  '#'}
            - trans "Archives"
            %b.caret
        %ul.dropdown-menu
            - for date in dates
                %li
                    %a{'data-depth': '10',
                       'data-ajax': 'body-content-only',
                       'title': '{% blocktrans with date|date:"F Y" as date %}Archives from {{ date }}{% endblocktrans %}',
                       'href' : '{% url "archives-month" year=date|date:"Y" month=date|date:"m" %}'}
                        {{ date|date:'F Y' }}
