.carousel-wrapper
    #homeCarousel.nivoSlider
        - for item in posts
            - if outside
                %a{'data-depth'     : '30',
                   'data-navbar'    : '#navbar-blog',
                   'data-ajax'      : 'body-content',
                   'title'          : '{{ item.post.title }}',
                   'href'           : '{{ item.post.get_absolute_url }}'}
                    %img{'src'  : '{{ item.post.main_image.url }}',
                         'alt'  : '{{ item.post.title }}',
                         'title': '{{ item.post.short_description }}'}
            - else
                %a{'data-depth' : '30',
                   'data-ajax'  : 'body-content-only',
                   'title'      : '{{ item.post.title }}',
                   'href'       : '{{ item.post.get_absolute_url }}'}
                    %img{'src'  : '{{ item.post.main_image.url }}',
                         'alt'  : '{{ item.post.title }}',
                         'title': '{{ item.post.short_description }}'}
