{% load i18n %}

<li class="nav-header">
  <i class="icon-th-list"></i>
  {% trans "Categories" %}
</li>

{% for object in nested_tree %}
  {% ifequal object "level_down" %}
    </ul>
  {% else %}
    {% ifequal object "level_up" %}
      <ul class="nested_tree_child">
    {% else %}
      <li>
        <a href="{{ object.get_absolute_url }}"
	   title="{% blocktrans count counter=object.num_post %}1 post{% plural %}{{ counter }} posts{% endblocktrans %}">
	  {{ object.name }}
	</a>
    {% endifequal %}
  {% endifequal %}
{% empty %}
  <li>{% trans "There are no categories." %}
{% endfor %}
