- load i18n

- if menus
    - for menu in menus
        %li.dropdown
            %a.dropdown-toggle{'data-toggle' : 'dropdown',
                               'href'        :  '#'}
                {{ menu.name }}
                %b.caret
            %ul.dropdown-menu
                - with menu.menu_link.all as links
                    - for link in links
                        %li
                            %a{'title'  : '{{ link.title }}',
                               'href'   : '{{ link.url }}'}
                                {{ link.name }}
                    - empty
                        %li.center-text
                            - trans "There are no links."
