{% load i18n %}

{% if menus %}

  <li class="links">
    <a href="#"></a>
    <ul class="content unstyled space-li-clean-first">
      {% for menu in menus %}
	<li class="nav-header margin-top-1">{{ menu.name }}
	  {% with menu.link_set.all as links %}
	    {% for link in links %}
	      <li class="margin-left-1">
		<a title="{{ link.title }}" href="{{ link.url }}">
		  {{ link.name }}
		</a>
	    {% empty %}
	      <li> {% trans "There are no links." %}
	    {% endfor %}
	  {% endwith %}
      {% endfor %}
    </ul>
{% endif %}
