{% load markup humanize %}

{% for post in posts %}
  <article>
    <div class="thumbnail">
      <img src="{{ post.thumbnail.url }}" alt="thumbnail"
	   width="115" height="115" />
    </div>
    <header>
      <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
      <span class="info">
	Par {{ post.author }}
	le <time datetime="{{ post.pub_date|date:"cO" }}" pubdate>
	  {{ post.pub_date|naturalday:'d F Y' }}
	  à {{ post.pub_date|date:"H:i" }}
	</time>
	Dans: <a href="{{ post.category.get_absolute_url }}">
	  {{ post.category }}
	</a>
	{% with post.tags.all as tags %}
	  {% if tags %}
	    - Taggé sous: {% for tag in tags %}
	      <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
	      {% if not forloop.last %},{% endif %}
	    {% endfor %}
	  {% endif %}
	{% endwith %}
      </span>
    </header>

    <section class="content">
      {{ post.long_description|markdown }}
    </section>

    <footer>
      <a class="button" href="{{ post.get_absolute_url }}">Lire l'article</a>
    </footer>
  </article>
{% empty %}
  <p>There are no posts.</p>
{% endfor %}
