{% load markup humanize common_tags i18n %}

<section id="post-list">
  {% for post in posts %}
    {% if forloop.counter0|divisibleby:3 %}
      <div class="row-fluid">
	<ul class="thumbnails">
    {% endif %}

    <li class="span3">
      <div class="thumbnail">
	<img src="{{ post.thumbnail.url }}" alt="thumbnail" />

	<div class="caption">
	  <h5>{{ post.title }}</h5>

	  <section class="description">
	    {{ post.long_description|markdown }}
	  </section>

	  <p>
	    <a class="btn btn-info" href="{{ post.get_absolute_url }}">
	      <i class="icon-plus-sign icon-white"></i>
	      {% trans "Read more" %}
	    </a>
	  </p>
	</div>
      </div>

    {% if forloop.counter|divisibleby:3 or forloop.last %}
      </ul>
      </div>
    {% endif %}

  {% empty %}
    <p>{% trans "There are no posts." %}</p>
  {% endfor %}
</section>
