- load i18n

- if tags
    %li.dropdown
        %a.dropdown-toggle{'data-toggle' : 'dropdown',
                           'href'        :  '#'}
            - trans "Tags"
            %b.caret
        %ul.dropdown-menu.tagscloud
            %li
                .center-text
                    - for tag in tags
                        %a{'data-depth' : '10',
                           'data-ajax'  : 'body-content-only',
                           'href'       : '{{ tag.obj.get_absolute_url }}',
                           'style'      : 'font-size: {{tag.size}}px;'}<
                            {{ tag.obj.name }}
