/******************************************************************************
**									     **
**                        Variables and functions                            **
**									     **
******************************************************************************/

@import "variables.less";
@import "mixins.less";

@bg-color: #ededed;

/******************************************************************************
 **									     **
 **                        End variables and functions                       **
 **									     **
 *****************************************************************************/

#tagcloud {
    text-align: center;

    a {
	&:hover{
	    text-decoration: none;
	}
    }
}
