header {
  width: 100%;
  display: flex;
  flex-direction: column;

  h1 {
    display: inline-flex;
    align-items: center;
    border-bottom-color: var(--color-text);
    color: var(--color-text);

    padding: 0 var(--space-lg) var(--space-xs) var(--space-lg);
    margin-left: auto;
    margin-right: auto;

    font-size: var(--text-xxxl);
    font-weight: 800;

    .simplified-svg-logo {
      margin-right: 1em;

      svg {
        width: var(--text-lg);
      }
    }
  }

  .subtitle {
    margin: 0 auto;
    font-weight: 400;
  }
}
