.thumbnail
    - if microdata
        %img{'alt'     :  '{{ alt }}',
             'src'     : '{{ src }}?s={{ size }}',
             'itemprop': '{{ microdata }}'}
    - else
        %img{'alt'     :  '{{ alt }}',
             'src'     : '{{ src }}?s={{ size }}'}