- load markup

- for content in cat.category_content.all
    .element
        - if content.key
            %h4{'data-type'   :  '{% if perms.resume.change_content %}live-editable{% endif %}',
                'data-target' :  'resume-content-key',
                'data-pk'     :  '{{ content.pk }}'}<
                - include 'ajax/single_field_value_md.haml' with value=content.key

            .content{'data-type'   :  '{% if perms.resume.change_content %}live-editable{% endif %}',
                     'data-target' :  'resume-content-value',
                     'data-pk'     :  '{{ content.pk }}'}
                - include 'ajax/single_field_value_md.haml' with value=content.value
