- load markup

- for content in cat.category_content.all
    .element
        - if content.key
            %h4{'id'      : 'resume-content-key-{{ content.pk }}',
                'class'   : '{% if perms.resume.change_content %}resume-content-key-live-edit{% endif %}'}<
                - include 'ajax/single_field_value_md.haml' with value=content.key

            .content{'id'      : 'resume-content-value-{{ content.pk }}',
                     'class'   : '{% if perms.resume.change_content %}resume-content-value-live-edit{% endif %}'}
                - include 'ajax/single_field_value_md.haml' with value=content.value
