{% extends "about/base.html" %}

{% load url from future %}
{% load markup i18n %}

{% block "content-title" %}{% trans "Home" %}{% endblock "content-title" %}

{% block "content" %}
  <section>
    <h2>{% trans "Who am I?" %}</h2>
    <div class="content">
      <a href="{% url "cv" %}" class="pull-right">
	{% if profile.free_for_job %}
	  <img alt="{% trans "Free for job" %}"
	       src="{{ STATIC_URL }}about/img/free_for_job.png">
	{% else %}
	  <img alt="{% trans "Not Free for job" %}"
	       src="{{ STATIC_URL }}about/img/not_free_for_job.png">
	{% endif %}
      </a>
      {{ profile.about_me|markdown }}
    </div>
  </section>

  <hr />

  <section>
    <h2>{% trans "Contact me" %}</h2>
    <div class="content centered-text">
      {% for link in contact_links %}
	<a href="{{ link.link }}">
	  <img src="{{ link.image.url }}" alt="{{ link.name }}">
	</a>
      {% endfor %}
    </div>
  </section>

{% endblock "content" %}
