- extends "about/base.haml"

- load url from future
- load markup i18n compressed about_tags

- block "menu-about"
   active
- block "page-title"
    - trans "About"
- block "page-subtitle"
    - trans "Where you learn more about me"

- block "breadcrumb-content"
    %li<
        %span.divider /
    %li
        %a{'data-depth' : '1',
           'data-ajax'  : 'body-content',
           'title'      : '{% trans "About" %}',
           'href'       : '{% url "about" %}'}
            - trans "About"

- block "header-classes"
    - if to_pdf
        hide

- block "footer"
    - if not to_pdf
        {{ block.super }}

- block "local_css"
    - if to_pdf
        - compressed_css 'wkhtml2pdf'
        :css
            #body-content{
                margin-top: 0px;
            }
    - else
        {{ block.super }}

- block "content"
    - if not to_pdf
        %section.clean-section
            %h2<
                {% trans "Welcome to my website" %}
            .section-content
                {{ profile.about_me|markdown }}

        %hr
        %h2<
            {% trans "C.V." %}

    %article#resume.accordion.clean-accordion.main-accordion
        - for section in cv_sections
            .accordion-group
                %h2
                    %a.accordion-toggle{'data-toggle' : 'collapse',
                                        'data-parent' : '#resume',
                                        'href'        : '#{{ section.slug }}'}
                        {{ section.name }}

                %section{'id'   : '{{ section.slug }}',
                         'class': 'collapse{% if to_pdf %} in{% endif %}'}

                    .block
                        .container-fluid
                            {% display_cat section.cvcategory_set.all to_pdf %}

        .accordion-group
            %h2
                %a.accordion-toggle{'data-toggle' : 'collapse',
                                    'data-parent' : '#resume',
                                    'href'        : '#downloads'}
                    - trans "Downloads"

            %section#downloads{'class': 'collapse{% if to_pdf %} in{% endif %}'}
                .block
                    .container-fluid
                        .row-fluid
                            .span3
                                %h3<
                                    - trans "Downloads"

                            .span9
                                %ul.element.unstyled
                                    - if not to_pdf
                                        %li
                                            %a{'href': '{% url "cv_pdf" %}'}
                                                - trans "Download this C.V. as PDF"
                                        - for file in cv_documents
                                            %li
                                                %a{'href': '{{ file.document.url }}'}
                                                    {{ file.name }}
                                    - else
                                        %li
                                            - trans "You can download several documents such as academic degrees, tests results, etc., on my website: "
                                            <a href="http://{{ DOMAIN_NAME }}{% url "cv" %}">{{ DOMAIN_NAME }}{% url "cv" %}</a>
        - if not to_pdf
            %hr

            %section.clean-section-full-size
                %h2<
                    - trans "Be social"

                - for link in contact_links
                    - if forloop.counter0|divisibleby:4
                        <div class="row">
                    .span3
                        .big-badge
                            %a{'{{ link.attributes|safe }}' : None,
                               'href'                       : '{{ link.link }}'}

                                .informations
                                    %h4
                                        {{ link.name }}

                                    %i{'class': '{{ link.icon }}'}

                                    %p
                                        {{ link.description }}

                    - if forloop.counter|divisibleby:4 or forloop.last
                        </div>