- extends "about/base.haml"

- load markup i18n compressed

- block "body-classes"
    about-world
- block "menu-about"
   active
- block "title"
    - trans "About"
- block "page-title"
    - trans "About"
- block "page-subtitle"
    - trans "Where you learn more about me"

- block "breadcrumb-content"
    %li<
        %span.divider /
    %li
        %a{'data-depth' : '1',
           'data-ajax'  : 'body-content',
           'title'      : '{% trans "About" %}',
           'href'       : '{% url "about" %}'}
            - trans "About"

- block "header-classes"
    - if to_pdf
        hide

- block "footer"
    - if not to_pdf
        {{ block.super }}

- block "local_css"
    - if to_pdf
        - compressed_css 'wkhtml2pdf'
        :css
            #body-content{
                margin-top: 0px;
            }
    - else
        {{ block.super }}

- block "content"
    - if not to_pdf
        %section.clean-section
            %h2<
                {% trans "Welcome to my website" %}
            .section-content{'data-type'   :  '{% if perms.about.change_profile %}live-editable{% endif %}',
                             'data-target' :  'about-profile-about-me',
                             'data-pk'     :  '{{ profile.pk }}'}
                - include 'ajax/single_field_value_md.haml' with value=profile.about_me

        %hr

    - include "resume/inc/resume.haml"

    - if not to_pdf
        %hr

        %section.clean-section-full-size
            %h2<
                - trans "Be social"

            - for link in contact_links
                - if forloop.counter0|divisibleby:4
                    <div class="row">
                .span3
                    .big-badge{'data-type'   :  '{% if perms.about.change_profile %}live-editable{% endif %}',
                               'data-target' :  'about-contactLink-model',
                               'data-pk'     :  '{{ link.pk }}'}
                        - include 'about/ajax/big_badge.haml' with object=link

                - if forloop.counter|divisibleby:4 or forloop.last
                    </div>