- extends "base_common.haml"

- load markup i18n

- block "body-content"
  .container{'role': 'main'}
    .row
      %div{'class': '{% block "position" %}span12{% endblock %}'}
        - block "content"