- extends "base_common.haml"

- load url from future
- load markup i18n

- block "app_js"
    :javascript
        liveEdit('about-profile-about-me-', {}, 'about-get-profile-about-me');

        liveEdit('lab-project-name-', {}, 'lab-get-project-name');
        liveEdit('about-project-description-', {}, 'about-get-project-description');

        liveEdit('resume-category-name-', {}, 'resume-get-category-name');
        liveEdit('resume-content-key-', {}, 'resume-get-content-key');
        liveEdit('resume-content-value-', {}, 'resume-get-content-value');

- block "body-content"
  .container{'role': 'main'}
    .row
      %div{'class': '{% block "position" %}span12{% endblock %}'}
        - block "content"