{% extends "base.html"%}

{% load markup %}

{% block "head_js" %}
  <script src="{{ STATIC_URL }}about/js/jquery.lettering.js"></script>
  <script src="{{ STATIC_URL }}about/js/about.js"></script>
{% endblock "head_js" %}

{% block "head_css" %}
  <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}about/css/about.less.min.css">
{% endblock "head_css" %}

{% block "body" %}
  <header>
    <h1><a id="site-title" href="/">Laplanche Melv.in</a></h1>

    <nav>
      <ul>
	<li><a href="{% url home %}">Home</a>
	<li><a href="{% url portfolio %}">Portfolio</a>
	<li><a href="{% url cv %}">C.V.</a>
	<li><a href="http://blog.{{ DOMAIN_NAME }}">Blog</a>
<!--	<li><a href="http://lab.{{ DOMAIN_NAME }}">Lab</a> -->
      </ul>
    </nav>
  </header>

  <div id="content-wrapper">
    <h2 id="content-title">
      {% block "content-title" %}{% endblock "content-title" %}
    </h2>

    <div id="content">
      {% block "content" %}{% endblock "content" %}
    </div>
  </div>

  <footer>

  </footer>

{% endblock "body" %}
