- extends "base_common.html"

- load url from future
- load markup i18n

- block "body-content"
  .container
    .row
      %div{'class': '{% block "position" %}span12{% endblock %}'}
        - block "content"