- extends "base_common.haml"

- load url from future
- load markup i18n

- block "app_js"
    :javascript
        liveEdit('about-profile-about-me');
        liveEdit('about-navigationLink-model');
        liveEdit('about-contactLink-model');

        liveEdit('lab-project-name');
        liveEdit('about-project-description');

        liveEdit('resume-category-name');
        liveEdit('resume-content-key');
        liveEdit('resume-content-value');

- block "body-content"
  .container{'role': 'main'}
    .row
      %div{'class': '{% block "position" %}span12{% endblock %}'}
        - block "content"