- extends "base_common.haml"

- load url from future
- load markup i18n

- block "app_js"
    :javascript
        liveEdit('about-profile-about-me-', {}, 'about-get-profile-about-me', 'about-get-profile-about-me-form', 'about-profile-about-me-live-edit', ['P'], 'pk');
        liveEdit('resume-content-key-', {}, 'resume-get-content-key', 'resume-get-content-key-form', 'resume-content-key-live-edit', ['P', 'STRONG', null], 'pk');
        liveEdit('resume-content-value-', {}, 'resume-get-content-value', 'resume-get-content-value-form', 'resume-content-value-live-edit', ['P', 'UL', 'OL', 'STRONG', null], 'pk');

- block "body-content"
  .container{'role': 'main'}
    .row
      %div{'class': '{% block "position" %}span12{% endblock %}'}
        - block "content"