{% extends "base.html"%}

{% load url from future %}
{% load markup i18n %}

{% block "head_js" %}
  <script src="{{ STATIC_URL }}about/js/jquery.lettering.js"></script>
  <script src="{{ STATIC_URL }}about/js/about.js"></script>
{% endblock "head_js" %}

{% block "head_css" %}
  <link href="http://fonts.googleapis.com/css?family=Alice" rel="stylesheet">
  <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}about/css/about.min.css">
{% endblock "head_css" %}

{% block "body" %}

  {% with act_menu="home" %}
    {% block "header" %}
      {% include "about/header.html" %}
    {% endblock %}
  {% endwith %}


<!--
  <header>
    <nav>
      <ul>
	<li><a href="{% url "home" %}">{% trans "Home" %}</a>
	<li><a href="{% url "portfolio" %}">{% trans "Portfolio" %}</a>
	<li><a href="{% url "cv" %}">{% trans "C.V." %}</a>
	<li><a href="{% url "blog" %}">{% trans "Blog" %}</a>
      </ul>
    </nav>
  </header>

-->

  <div class="container">
    <div class="row">
      <div id="body" class="span12">
	<div id="content-wrapper">
	  <h2 id="content-title">
	    {% block "content-title" %}{% endblock "content-title" %}
	  </h2>

	  <div id="content">
	    {% block "content" %}{% endblock "content" %}
	  </div>
	</div>
      </div>
    </div>
  </div>

{% endblock "body" %}
