- load i18n bootstrap
- load url from future

%form{'id'      : 'contact-form',
      'method'  : 'post',
      'class'   : 'form-horizontal bigger-fields',
      'action'  : '{% url "contact-form" %}'}

    - csrf_token

    {{ form|bootstrap }}

    .form-actions
        %button.btn.btn-primary{'type'              : 'submit',
                                'data-loading-text' : '{% trans "Sending..." %}'}
            - trans "Send"
        %button.btn.btn-danger{'type'               : 'reset',
                               'data-storage-reset' : 'contact-message'}
            - trans "Reset"