- extends "about/base.haml"
- load i18n

- block "body-classes"
    contact-world
- block "menu-contact"
    active
- block "title"
    - trans "Contact"
- block "page-title"
    - trans "Contact"
- block "page-subtitle"
    - trans "Where we can get in touch"

- block "position"
    col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2

- block "content"
    - include "about/contact_form.html" with form=form
