{% extends "about/base.html" %}

{% load markup i18n %}

{% block "title" %}{% trans "C.V." %}{% endblock "title" %}
{% block "content-title" %}{% trans "C.V." %}{% endblock "content-title" %}

{% block "content" %}
  <article id="resume">

    <h2 class="acc_trigger">
      <a href="#">{% trans "Profile" %}</a>
    </h2>
    <div class="acc_container">
      <div class="block">{{ static_infos.profile|markdown:'extra' }}</div>
    </div>

    <h2 class="acc_trigger">
      <a href="#">{% trans "Skills" %}</a>
    </h2>
    <div class="acc_container">
      <div class="block">{{ static_infos.skills|markdown:'extra' }}</div>
    </div>

    <h2 class="acc_trigger">
      <a href="#">{% trans "Awards" %}</a>
    </h2>
    <div class="acc_container">
      <div class="block">{{ static_infos.awards|markdown }}</div>
    </div>

    <h2 class="acc_trigger">
      <a href="#">{% trans "Downloads" %}</a>
    </h2>
    <div class="acc_container">
      <div class="block">
	<h3>{% trans "Downloads" %}</h3>
	<ul>
	  <li><a href="{% url cv-pdf %}">
	      {% trans "Download this C.V. as PDF" %}
	    </a>
	</ul>
      </div>
    </div>
  </article>

{% endblock "content" %}

