{% extends "about/base.html" %}

{% load url from future %}
{% load markup i18n about_tags %}

{% block "title" %}{% trans "C.V." %}{% endblock "title" %}
{% block "content-title" %}{% trans "C.V." %}{% endblock "content-title" %}

{% block "content" %}

  <article id="resume">

    {% for section in sections %}
      <h2>
        <a class="accordion-toggle" data-toggle="collapse"
	   data-parent="#resume" href="#{{ section.slug }}">
          {{ section.name }}
        </a>
      </h2>

      <section id="{{ section.slug }}" class="collapse in">

	<div class="block">
	  <div class="container-fluid">
	    <div class="row-fluid">
	      {% display_cat section.cvcategory_set.all.0 12 %}
	    </div>
	  </div>
	</div>
      </section>
    {% endfor %}

    <h2>
      <a class="accordion-toggle" data-toggle="collapse"
	 data-parent="#resume" href="#downloads">{% trans "Downloads" %}</a>
    </h2>
    <section id="downloads" class="collapse in">
      <div class="block">
	<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span12">
	      <h3>{% trans "Downloads" %}</h3>
	      <ul>
		<li><a href="{% url "cv-pdf" %}">
		    {% trans "Download this C.V. as PDF" %}
		  </a>
	      </ul>
	    </div>
	  </div>
	</div>
      </div>
    </section>

  </article>

{% endblock "content" %}

