{% extends "base.html"%}

{% load ssi from future %}
{% load markup common_tags i18n about_tags %}

{% block "head_css" %}
  {% with bootstrap=STATIC_ROOT|add:"/commons/css/bootstrap.min.css" main=STATIC_ROOT|add:"/commons/css/main.min.css" cv=STATIC_ROOT|add:"/about/css/cv.min.css" %}
    <style>
      {% ssi bootstrap %}
      {% ssi main %}
      {% ssi cv %}
    </style>
  {% endwith %}
{% endblock "head_css" %}


{% block "body" %}
  <article id="resume">

    {% for section in sections %}
      <h2>
        <a class="accordion-toggle" data-toggle="collapse"
	   data-parent="#resume" href="#{{ section.slug }}">
          {{ section.name }}
        </a>
      </h2>

      <section id="{{ section.slug }}" class="collapse in">
	<div class="block">
	  <div class="container-fluid">
	    <div class="row-fluid">
	      {% display_cat section.cvcategory_set.all.0 12 %}
	    </div>
	  </div>
	</div>
      </section>
    {% endfor %}
  </article>
{% endblock "body" %}

