{% extends "header.html" %}

{% load i18n  %}
{% load url from future  %}

{% block "menu-about" %}
  <li{% ifequal act_menu "home" %} class="active"{% endifequal %}>
    <a href="{% url "home" %}">
      <i class="icon-user icon-white"></i>
      {% trans "About" %}
    </a>

  <li{% ifequal act_menu "portfolio" %} class="active"{% endifequal %}>
    <a href="{% url "portfolio" %}">
      <i class="icon-picture icon-white"></i>
      {% trans "Portfolio" %}
    </a>

   <li{% ifequal act_menu "cv" %} class="active"{% endifequal %}>
     <a href="{% url "cv" %}">
       <i class="icon-th-list icon-white"></i>
       {% trans "C.V." %}
     </a>
{% endblock %}
