- extends 'about/base.haml'

- load url from future
- load markup i18n staticfiles blog_tags

- block "page-subtitle"
  - trans "Welcome to my website"

- block "content"

    - for link in navigation_links

        - if forloop.counter0|divisibleby:4
          <div class="row">
        .span3
            .big-badge{'class'   : '{% if perms.lab.change_navigationlink %}about-navigationLink-model-live-edit{% endif %}',
                       'id'      : 'about-navigationLink-model-{{ link.pk }}'}
                - include "about/ajax/big_badge.haml" with object=link

        - if forloop.counter|divisibleby:4 or forloop.last
          </div>

  %hr

  %section.clean-section-full-length
    %h2
      {% trans "Featured blog posts" %}
    {% blog_carousel 1 %}

  %hr

  %section.clean-section-full-length
    %h2
      {% trans "Latest blog posts" %}
    {% blog_latest_posts 3 1 %}
