{% extends "about/base.html" %}

{% load markup %}

{% block "title" %}Porfolio{% endblock "title" %}
{% block "content-title" %}Portfolio{% endblock "content-title" %}

{% block "content" %}
  <div id="projects">
    {% for project in projects %}
      <article class="portfolio">
	<figure>
	  <a href="{{ project.url }}">
	    <img src="{{ project.screenshot.url }}" />
	  </a>
	</figure>

	<h2>{{ project.name }}</h2>

	<div class="article-content">
	  {% with project.works.all as labels %}
	    {% if labels %}
	      <div class="label-list">
		{% for label in labels %}
		  <div class="label"
		       style="background-color:#{{ label.color }};">
		    {{ label.name }}
		  </div>
		{% endfor %}
	      </div>
	    {% endif %}
	  {% endwith %}
	  <div class="description">
	    {{ project.description|linebreaksbr }}
	  </div>
	</div>

	<footer>
	  {% if project.lab %}
	    <a class="button lab-project"
	       href="{{ project.lab.get_absolute_url }}">
	      En savoir plus
	    </a> -
	{% endif %}

	  <a href="{{ project.url }}">Visiter {{ project.name }}</a>
	</footer>
      </article>

      {%  if not forloop.last %}
	<hr />
      {% endif %}
    {% endfor %}
  </div>
{% endblock "content" %}

