{% extends "about/base.html" %}

{% load markup i18n staticfiles %}
{% load url from future %}

{% block "menu-portfolio" %} class="active"{% endblock %}
{% block "page-title" %}{% trans "Portfolio" %}{% endblock %}
{% block "page-subtitle" %}{% trans "Where my professional projects are" %}{% endblock %}

{% block "breadcrumb-content" %}
  <li><span class="divider">/</span>
  <li>
    <a data-depth="1" data-ajax="body-content" title="{% trans "Portfolio" %}" href="{% url "portfolio" %}">
      {% trans "Portfolio" %}
    </a>
  </li>
{% endblock "breadcrumb-content" %}

{% block "content" %}

  {% for project in projects %}
    <section class="clean-section">
      <h2>{{ project.lab.name }}</h2>
      <div class="section-content">
        <div class="section-image-left">

          <img src="{{ project.screenshot.url }}"
               alt="{{ project.lab.name }}"
               class="img-polaroid img-rounded" />
        </div>

        <div>
          <div class="info margin-bottom-3">
            <strong>{% trans "Job(s):" %}</strong>
            {% for label in project.works.all %}
              {% if forloop.counter0 > 0 %}
                -
              {%endif%}
              {{ label }}
            {% endfor %}
          </div>

          <div>
            {{ project.description|markdown }}

            <a data-depth="1"
               data-ajax="body-content"
               data-navbar="#navbar-lab"
               title="{% trans "Lab" %}"
               href="{{ project.lab.get_absolute_url }}"
               class="btn">
               {% trans "Know more" %}
             </a>
          </div>
        </div>
      </div>
    </section>

    <hr />
  {% endfor %}


  <section class="clean-section">
    <h2>{% trans "See more projects" %}</h2>
    <div class="section-content">
      <div class="section-image-left">

        <img src="{% static "commons/img/portfolio_+.png" %}"
             alt="{{ project.lab.name }}"
             class="img-polaroid img-rounded" />
      </div>

      <div>
        <div>
          {{ project.lab.description|markdown }}

          <a data-depth="1"
             data-ajax="body-content"
             data-navbar="#navbar-lab"
             title="{% trans "Lab" %}"
             href="{% url "lab" %}"
             class="btn">
             {% trans "See more projects" %}
           </a>
         </div>
       </div>
     </div>
   </section>
{% endblock "content" %}
