/******************************************************************************
**									     **
**                        Variables and functions                            **
**									     **
******************************************************************************/

@import "mixins.less";

/******************************************************************************
**									     **
**                        End variables and functions                        **
**									     **
******************************************************************************/

body {
    padding-top: 40px;
}

#menu {
    height: 100%;
    position: fixed;

    &.well {
	.border-radius(0px)
    }

    ul {
	li {
	    text-align: center;
	    margin-bottom: 10px;

	    a {
		color: inherit;

		&:hover {
		    background-color: inherit;
		}

		small {
		    font-size: 11px;
		}
	    }
	}
    }
}


#body {
    margin-top: 20px;

    h2 {
	a {
	    color: inherit;

	    &:hover {
		text-decoration: inherit;
	    }
	}
    }
}
