- load i18n

.alert.alert-success.alert-block.fade.in
    %a.close{'data-dismiss': 'alert'}<
        ×
    %h4.alert-heading<
        - trans "Sent!"
    - trans "Your comment has been successfully saved, it will soon be validated by an administrator."
