- load markup humanize common_tags user_tags i18n tz

- for comment in comments
    %section.comment.clearfix{'itemscope'   : None,
                              'itemtype'    : 'http://schema.org/UserComments',
                              'itemprop'    : 'comment'}
        %span.info
            - trans "By "

            - if comment.user
                %a{'data-ajax'  : 'body-content-only',
                   'data-depth' : '40',
                   'href'       : '{{ comment.user.get_absolute_url }}'}<

                    - if comment.user.get_profile.use_name
                        {{ comment.user.get_full_name }}
                    - else
                        {{ comment.user.username }}
                \-

            - elif comment.website
                %a{'href': '{{ comment.website }}'}
                    {{ comment.name }},
            - else
                {{ comment.name }},

            %time{'itemprop' : 'commentTime',
                  'datetime': '{{ comment.pub_date|utc|date:"Y-m-d H:i\Z" }}'}
                {{ comment.pub_date|naturalday }}
                - trans "at "
                {{ comment.pub_date|time }}

        .comment-avatar
            - if comment.user
                {% square_thumbnail comment.user %}
            - else
                {% gravatar_from_email comment.email %}

        .content{'itemprop'   : 'commentText',
                 'data-type'   :  '{% if user.is_authenticated and user == comment.user or perms.blog.change_comment %}live-editable{% endif %}',
                 'data-target' :  'blog-comment-comment',
                 'data-pk'     :  '{{ comment.pk }}'}
            - include 'ajax/single_field_value_external.haml' with value=comment.comment
