- load i18n bootstrap

%form.form-horizontal.bigger-fields{'id'        : 'comment-form',
                                    'method'    : 'post',
                                    'action'    : '{{ url }}'}
    - csrf_token

    {{ form|bootstrap_horizontal }}

    .row
        .form-action-horizontal
            %button.btn.btn-primary{'type'              : 'submit',
                                    'data-loading-text' : '{% trans "Sending..." %}'}

                - trans "Send"

            %button.btn.btn-danger{'type'               : 'reset',
                                   'data-storage-reset' : '{{ storage_key }}'}
                - trans "Reset"
