{% load category_list %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/media/img/favicon.ico" />
    <title>{% block page_title %}Home{% endblock %} - Nivl’s Blog</title>
    <link rel="stylesheet" media="screen" href="/media/css/style.css" />
    <link rel="stylesheet" media="screen" href="/media/css/pygment.css" />
    <script type="text/javascript" src="/media/js/scripts.min.js"></script>
  </head>
  <body>
    <div id="header">
      <a href="/"><img alt="header" src="/media/img/header.png"/></a>
    </div>

    <div id="nav">
      <ul class="kwicks">
	<li class="home first"><a href="/">Home</a></li>
	<li class="contact"><a href="/contact/">Contact</a></li>
	<li class="downloads"><a href="#">Downloads</a></li>
	<li class="search last"><a href="#">Search</a></li>
      </ul>
    </div>

    <div id="menu">
      <div class="submenu">
	<h3>Categories</h3>
	<ul>
	  {% category_list %}
	</ul>
      </div>

      <div class="submenu">
	<h3>Title 1</h3>
	<ul>
	  <li><a href="#">Link 1</a></li>
	  <li><a href="#">Link 2</a></li>
	  <li><a href="#">Link 3</a></li>
	  <li><a href="#">Link 4</a></li>
	</ul>
      </div>

      <div class="submenu">
	<h3>Title 2</h3>
	<ul>
	  <li><a href="#">Link 1</a></li>
	  <li><a href="#">Link 2</a></li>
	  <li><a href="#">Link 3</a></li>
	  <li><a href="#">Link 4</a></li>
	</ul>
      </div>

      <div class="submenu">
	<h3>Title 3</h3>
	<ul>
	  <li>Link 1
	    <ul>
	      <li><a href="#">Sublink 1</a></li>
	      <li><a href="#">Sublink 2</a></li>
	    </ul>
	  </li>
	  <li>Link 2<ul>
	      <li><a href="#">Sublink 1</a></li>
	      <li><a href="#">Sublink 2</a></li>
	    </ul>
	  </li>
	  <li>Link 3<ul>
	      <li><a href="#">Sublink 1</a></li>
	      <li><a href="#">Sublink 2</a></li>
	    </ul>
	  </li>
	  <li>Link 4<ul>
	      <li><a href="#">Sublink 1</a></li>
	      <li><a href="#">Sublink 2</a></li>
	    </ul>
	  </li>
	</ul>
      </div>
    </div>

    <div id="page-content-shadow">
      <div id="page-content">
	<h1>{% block title %}TITLE’S MISSING{% endblock title %}</h1>
	{% block content %}{% endblock content %}
      </div>
    </div>

    <div id="footer">
      <ul>
	<li class="title">System
	  <ul>
	    <li><a href="http://djangoproject.com">
		<img src="/media/img/mini/django.png" alt="Dj" /> Django
	    </a></li>
	    <li><a href="http://jquery.com/">
		<img src="/media/img/mini/jquery.png" alt="jQuery" /> jQuery
	    </a></li>
	    <li><a href="http://validator.w3.org/check?uri=referer">
		<img src="/media/img/mini/w3c.png" alt="W3" /> XHTML
	    </a></li>
	    <li><a href="http://alwaysdata.com">
		<img src="/media/img/mini/alwaysdata.png" alt="Alwaysdata" />
		Alwaysdata
	    </a></li>
	  </ul>
	</li>
      </ul>

      <ul>
	<li class="title">See also
	  <ul>
	    <li><a href="http://siteduzero.com">
		<img src="/media/img/mini/sdz.png" alt="SdZ" /> Le Site du Zéro
	    </a></li>
	    <li><a href="http://http://www.chromium.org/Home">
		<img src="/media/img/mini/chromium.png" alt="SdZ" /> Chromium
	    </a></li>
	    <li><a href="http://sfml-dev.org">
		<img src="/media/img/mini/sfml.png" alt="SdZ" /> SFML
	    </a></li>
	  </ul>
	</li>
      </ul>

      <ul>
	<li class="title">Follow me on…
	  <ul>
	    <li><a href="http://twitter.com/Nivl_">
		<img src="/media/img/mini/twitter.png" alt="Twitter" />
		Twitter
	      </a>
	    </li>
	    <li>
	      <a href="http://facebook.com/profile.php?id=577642807">
		<img src="/media/img/mini/fb.png" alt="Facebook" />
		Facebook
	      </a>
	    </li>
	    <li>
	      <a href="http://github.com/Nivl">
		<img src="/media/img/mini/github.png" alt="Github" />
		Github
	      </a>
	    </li>
	  </ul>
	</li>
      </ul>
    </div>
  </body>
</html>
