{% load static %}

<div id="slideshow">
  <div id="slides">
    <div class="slides_container">

      {% for item in object %}
	<div class="slide">
	  <a href="{{ item.get_absolute_url }}" title="{{ item.title }}">
	    <img src="{{ item.main_image.url }}" width="570" height="270"
		 alt="{{ item.title }}">
	  </a>
	  <div class="caption">
	    <p>{{ item.description }}</p>
	  </div>
	</div>
      {% endfor %}

    <a href="#" class="prev">
      <img src="{% get_static_prefix %}img/slideshow/arrow-prev.png"
	   width="24" height="43" alt="Arrow Prev" />
    </a>
    <a href="#" class="next">
      <img src="{% get_static_prefix %}img/slideshow/arrow-next.png"
	   width="24" height="43" alt="Arrow Next" />
    </a>

  </div>
  <img src="{% get_static_prefix %}img/slideshow/frame.png"
       width="739" height="341" alt="Example Frame" id="frame" />
</div>
