.tech {
  display: flex;
  flex-direction: row;
  align-items: center;

  .tech-content {
    text-align: left;
    width: 100%;
  }

  .logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 1em;

    .tech-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100% * (1 / 3) - 10px - 1px);
      padding-top: var(--space-lg);

      border: none;

      svg {
        max-width: 70px;
        max-height: 70px;
      }
    }
  }
}

.inverted {
  flex-direction: row-reverse;

  .tech-content {
    text-align: right;
  }
}
