- load i18n

:javascript
    function confirmPasswordAjax(that) {
        var url = '{% url "reset-password-confirm-form" uidb36=e_uidb36 token=e_token %}';

        ajaxPost(url, '#confirm-password-form', function (data) {
            $(that).replaceWith(data);
            ajaxSwitchElem(url, '#comfirm-password-form', '*');
        }, function () {
           ajaxCb_pushBefore(that);
        });
    }