- load i18n

:javascript
    function confirmPasswordAjax(that) {
        var url = '{% url "reset-password-confirm-form" uidb36=e_uidb36 token=e_token %}';

        Ajaxion_post(url, '#confirm-password-form', function (data) {
            $(that).replaceWith(data);
            Ajaxion_switch_elem(url, '#comfirm-password-form', '*');
        }, function () {
           Ajaxion_cb_error_push_before(that);
        });
    }