{% load url from future %}
{% load i18n %}

<script type="text/javascript">
var psw_ajax = new Ajaxion('{% url "edit-password-form" %}',
			   {'selector': '#edit-password-form',
			    'events': 'submit'},
			   'POST',
			   [
			       {
				   'url': '{% url "edit-password-form" %}',
				   'visible': true,
				   'selectors' : [
				       {
					   'current': '#edit-password-form',
					   'target': '*',
					   'insert': false
				       }
				   ],
			       },
			       {
				   'url': '{% url "edit-email-form" %}',
				   'visible': true,
				   'selectors' : [
				       {
					   'current': '#edit-email-form',
					   'target': '*',
					   'insert': false
				       }
				   ],
			       },
			       {
				   'url': '{% url "get-common-header" %}',
				   'visible': true,
				   'selectors' : [
				       {
					   'current': '#header-menu-user',
					   'target': '#header-menu-user',
					   'insert': false
				       }
				   ],
			       }
			   ],
			   {
			       'success': [
				   {'callback': Ajaxion.cb_push_before}
			       ],

			   }
			  );


var email_ajax = new Ajaxion('{% url "edit-email-form" %}',
			     {'selector': '#edit-email-form',
			      'events': 'submit'},
			     'POST',
			     [
				 {
				     'url': '{% url "edit-password-form" %}',
				     'visible': true,
				     'selectors' : [
					 {
					     'current': '#edit-password-form',
					     'target': '*',
					     'insert': false
					 }
				     ],
				 },
				 {
				     'url': '{% url "edit-email-form" %}',
				     'visible': true,
				     'selectors' : [
					 {
					     'current': '#edit-email-form',
					     'target': '*',
					     'insert': false
					 }
				     ],
				 },
				 {
				     'url': '{% url "get-common-header" %}',
				     'visible': true,
				     'selectors' : [
					 {
					     'current': '#header-menu-user',
					     'target': '#header-menu-user',
					     'insert': false
					 }
				     ],
				 }
			     ],
			     {
				 'success': [
				     {'callback': Ajaxion.cb_push_before}
				 ],

			     }
			    );
psw_ajax.start();
email_ajax.start();

</script>
