- extends "base_common.haml"
- load i18n

- block "body-classes"
    user-world
- block "menu-user"
    active
- block "page-subtitle"
    - trans "Where you have access to your data"
- block "page-title"
    - trans "User panel"

- block "body-content"
    .container{'role': 'main'}
        .row
            #body-content-only{'class': '{% block "body_classes" %}col-lg-12{% endblock %}'}
                - block "content"
