{% load url from future %}
{% load i18n %}

<form class="form-horizontal"
      id="edit-email-form"
      method="post"
      action="{% url "edit-email-form" %}">

    <div class="modal-body">
      {% if not user.get_profile.has_password %}
	<div class="alert alert-error">
	  {% trans "You didn't set a password, you cannot change your email address" %}
	</div>
      {% endif %}

      {% csrf_token %}
      {{ form }}
    </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">
      {% trans "Edit" %}
    </button>

    <button type="reset" class="btn btn-danger">
      {% trans "Reset" %}
    </button>
  </div>
</form>
