- extends "users/base.haml"
- load i18n staticfiles

- block "title"
    - trans "Edit my profile picture"

- block "breadcrumb-content"
    %li{'itemscope': None, 'itemtype': 'http://data-vocabulary.org/Breadcrumb'}
        %a{'itemprop'   : 'url',
           'data-depth' : '1',
           'data-ajax'  : 'body-content',
           'title'      : '{% trans "Edit my profile picture" %}',
           'href'       : '{% url "edit-picture" %}'}
            %span{'itemprop': 'title'}
                - trans "Edit my profile picture"

- block "content"
    %h2.text-center
        - trans "You can drop your new picture in this box: "

    #drop-profil-picture.drop-area
        - include "users/ajax/edit_picture_drop_form.haml"

    .col-lg-8.col-lg-offset-2.col-sm-8.col-sm-offset-2
        %h2.text-center
            - trans "Or you can use this form: "

        - include "users/ajax/edit_picture_form.haml"
