{% load url from future %}
{% load i18n bootstrap %}


<form class="form-horizontal"
      id="edit-account-form"
      method="post"
      enctype="multipart/form-data"
      action="{% url "edit-account-form" %}">

  <div class="modal-body">
    {% csrf_token %}
    {{ account_form }}
    {{ profile_form|bootstrap }}
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">
      {% trans "Edit" %}
    </button>

    <button type="reset" class="btn btn-danger">
      {% trans "Reset" %}
    </button>
  </div>
</form>
