{% load url from future %}
{% load i18n %}

<script type="text/javascript">
var ajax = new Ajaxion('{% url "edit-settings-form" %}',
                       {'selector': '#edit-settings-form',
			'events': 'submit'},
                       'POST',
                       [
			   {
                               'url': '{% url "edit-settings-form" %}',
                               'visible': true,
                               'selectors' : [
				   {
                                       'current': '#edit-settings-form',
                                       'target': '*',
                                       'insert': false
				   }
                               ],
			   },
	               ],
                       {
			   'success': [
                               {'callback': Ajaxion.cb_push_before}
			   ],

                       }
                      );
ajax.start();

</script>
