{% load url from future %}
{% load i18n %}

<script type="text/javascript">
 var ajax = new Ajaxion('{% url "edit-avatar-form" %}',
			{'selector': '#edit-avatar-form',
			 'events': 'submit'},
			'POST',
			[
			    {
				'url': '{% url "edit-avatar-form" %}',
				'visible': true,
				'selectors' : [
                                    {
                                        'current': '#edit-avatar-form',
                                        'target': '*',
                                        'insert': false
                                    }
                                ],
                            }
			],
			{
                            'success': [
                                {'callback': Ajaxion.cb_push_before}
                            ],
			    'error': [Ajaxion.cb_error_push_before],
			}
                       );
ajax.start();
</script>
