{% extends "users/base.html" %}
{% load l10n i18n %}

{% block "title" %}{% trans "Edit thumbnail" %}{% endblock "title" %}
{% block body_classes %}span12{% endblock %}

{% block "sub_head_css" %}
  <link rel="stylesheet" media="screen"
	href="{{ STATIC_URL }}commons/css/jquery.Jcrop.min.css">
{% endblock "sub_head_css" %}

{% block "sub_head_js" %}
  {% include "users/edit_avatar_ajax.html" %}
  <script src="{{ STATIC_URL }}/commons/js/jquery.Jcrop.min.js"></script>
  <script>
    var jcrop_api, boundx, boundy, multiplicator;

    $('#avatar-img').Jcrop({
      onChange: updatePreview,
      onSelect: updatePreview,
      aspectRatio: {{ ratio|unlocalize }},

      {% if min_size %}
	minSize: [{{ min_size.0 }}, {{ min_size.1 }}],
      {% endif %}

      {% if max_size %}
	maxSize: [{{ max_size.0 }}, {{ max_size.1 }}],
      {% endif %}

      {% if select %}
	setSelect: [{{ select.0.0 }}, {{ select.0.1 }}, {{ select.1.0 }}, {{ select.1.1 }}],
      {% endif %}
    }, function(){
         var bounds = this.getBounds();
         boundx = bounds[0];
         boundy = bounds[1];
	 multiplicator =  boundx / {{ picture.width }}
         jcrop_api = this;
	 this.animateTo([ {{ select.0.0 }} * multiplicator, {{ select.0.1 }} * multiplicator, ({{ select.1.0 }} + {{ select.0.0 }}) * multiplicator, ({{ select.1.1 }} + {{ select.0.1 }}) * multiplicator ]);
    });

    function updatePreview(c) {
      if (parseInt(c.w) > 0) {
        var rx = 125 / c.w;
        var ry = 125 / c.h;

	$('#id_coordinates').val(parseInt(c.x / multiplicator) + "x" + parseInt(c.y / multiplicator) + " " + parseInt(c.w / multiplicator) + "x" + parseInt(c.h / multiplicator))

        $('#preview').css({
          width: Math.round(rx * boundx) + 'px',
          height: Math.round(ry * boundy) + 'px',
          marginLeft: '-' + Math.round(rx * c.x) + 'px',
          marginTop: '-' + Math.round(ry * c.y) + 'px'
        });
      }
    };
   </script>
{% endblock "sub_head_js" %}

{% block "content" %}
  <h1 class="centered-text">{% trans "Edit thumbnail" %}</h1>

  {% include "users/edit_avatar_form.html" with form=form %}

  <div class="row">
    <div class="span10">
      <img src="{{ picture.url }}" id="avatar-img" />
    </div>

    <div class="span2">
      <h2>Preview</h2>

      <div class="avatar-preview">
	<img src="{{ picture.url }}" id="preview" alt="Preview"
	     class="jcrop-preview" />
      </div>
    </div>
  </div>
{% endblock %}
