{% load url from future %}
{% load i18n %}

<script type="text/javascript">

$(document).on('hidden', '[id^=modal-edit-]', function() {
    console.log('in');

    var target = $(this).find('[id^=edit-][id$=-form]');

    console.log(target);

    target.replaceWith('<div id="' + target.prop('id') + '"><img src="{{ STATIC_URL }}commons/img/ajax-loader.gif" alt="loading"></div>');
});


// HELPERS

function hideOnSuccess(html, textStatus, that) {
    $(that.bind['selector']).parents('.modal').modal('hide');
}

function clearError(data, that) {
    $(that.bind['selector']).css('background-color', '#fff');
}

function colorOnError(XMLHttpRequest, textStatus, errorThrown, that) {
    $(that.bind['selector']).parents('.modal').css('background-color', '#f2dede');
}


// Ajax var
var edit_profile = new Ajaxion('{% url "edit-account-form" %}',
			       {'selector': '#edit-account-form',
				'events': 'submit'},
			       'POST',
			       [
				   {
				       'url': '{% url "get-common-header" %}',
				       'visible': true,
				       'selectors' : [
					   {
					       'current': '#header-menu-user',
					       'target': '#header-menu-user',
					       'insert': false
					   }
				       ],
				   }
			       ],
			       {
				   'success': [
				       {'callback': hideOnSuccess}
				   ],

				   'error': [
				       colorOnError
				   ],
			       }
			      );


var load_profile = new Ajaxion('{% url "edit-account-form" %}',
				 {'selector': '#modal-edit-profile',
				  'events': 'shown'},
				 'GET',
				 [
				     {
					 'url': '{% url "edit-account-form" %}',
					 'visible': true,
					 'callbacks': [clearError],
					 'selectors' : [
					     {
						 'current': '#edit-account-form',
						 'target': '*',
						 'insert': false
					     }
					 ],
				     },
				 ]
				);


var edit_settings = new Ajaxion('{% url "edit-settings-form" %}',
				{'selector': '#edit-settings-form',
				 'events': 'submit'},
				'POST',
				[],
				{
				    'success': [
					{'callback': hideOnSuccess}
				    ],

				    'error': [
					colorOnError
				    ],
				}
			       );


var load_settings = new Ajaxion('{% url "edit-settings-form" %}',
				  {'selector': '#modal-edit-settings',
				   'events': 'shown'},
				  'GET',
				  [
				      {
					  'url': '{% url "edit-settings-form" %}',
					  'visible': true,
					  'callbacks': [clearError],
					  'selectors' : [
					      {
						  'current': '#edit-settings-form',
						  'target': '*',
						  'insert': false
					      }
					  ],
				      },
				  ]
				 );


var edit_psw = new Ajaxion('{% url "edit-password-form" %}',
			   {'selector': '#edit-password-form',
			    'events': 'submit'},
			   'POST',
			   [
			       {% if not user.get_profile.has_password %}
			         {
				     'url': '{% url "get-common-header" %}',
				     'visible': true,
				     'selectors' : [
					 {
					     'current': '#header-menu-user',
					     'target': '#header-menu-user',
					     'insert': false
					 }
				     ],
				 },
			         {
				     'url': '{% url "edit-email-form" %}',
				     'visible': true,
				     'selectors' : [
					 {
					     'current': '#edit-email-form',
					     'target': '*',
					     'insert': false
					 }
				     ],
				 }
			       {% endif %}
			   ],
			   {
			       'success': [
				   {'callback': hideOnSuccess},
				   {'callback': function (a, b, that) {
				       $('a[href="#' + $(that.bind['selector']).parents('.modal').prop('id')  + '"]')
					   .removeClass('important');
				   }}
			       ],
			       'error': [colorOnError]
			   }
			  );


var load_psw = new Ajaxion('{% url "edit-password-form" %}',
			     {'selector': '#modal-edit-password',
			      'events': 'shown'},
			     'GET',
			     [
				 {
				     'url': '{% url "edit-password-form" %}',
				     'visible': true,
				     'callbacks': [clearError],
				     'selectors' : [
					 {
					     'current': '#edit-password-form',
					     'target': '*',
					     'insert': false
					 }
				     ],
				 },
			     ]
			    );


var edit_email = new Ajaxion('{% url "edit-email-form" %}',
			     {'selector': '#edit-email-form',
			      'events': 'submit'},
			     'POST',
			     [],
			     {
				 'success': [
				     {'callback': hideOnSuccess}
				 ],

				 'error': [colorOnError]
			     }
			    );

var load_email = new Ajaxion('{% url "edit-email-form" %}',
			       {'selector': '#modal-edit-email',
				'events': 'shown'},
			       'GET',
			       [
				   {
				       'url': '{% url "edit-email-form" %}',
				       'visible': true,
				       'callbacks': [clearError],
				       'selectors' : [
					   {
					       'current': '#edit-email-form',
					       'target': '*',
					       'insert': false
					   }
				       ],
				   },
			       ]
			      );

// Start

edit_profile.fileUpload = true;
edit_profile.start();
load_profile.start();

edit_settings.start();
load_settings.start();

edit_email.start();
load_email.start();

edit_psw.start();
load_psw.start();

</script>
