{% extends "users/base.html" %}
{% load l10n i18n %}
{% block "title" %}{% trans "Edit thumbnail" %}{% endblock "title" %}

{% block "content" %}
  <h1 class="center-text">{% trans "Edit thumbnail" %}</h1>

  {% include "users/ajax/edit_avatar_form.html" with form=form %}

  <div class="row">
    <div class="span10">
      <img src="{{ picture.url }}"
	   id="image-id-picture"
	   data-real-width="{{ picture.width }}" />
    </div>

    <div class="span2">
      <h2>Preview</h2>

      <div class="avatar-preview">
	<img src="{{ picture.url }}" id="preview_id_avatar" alt="Preview"
	     class="jcrop-preview" />
      </div>
    </div>
  </div>
{% endblock %}
