{% extends "users/base.html" %}
{% load i18n staticfiles %}
{% load url from future %}

{% block "title" %}{% trans "Edit my profile picture" %}{% endblock "title" %}

{% block "breadcrumb-content" %}
  <li><span class="divider">/</span>
  <li>
    <a data-depth="1" data-ajax="body-content" title="{% trans "Edit my profile picture" %}" href="{% url "edit-picture" %}">
     {% trans "Edit my profile picture" %}
    </a>
  </li>
{% endblock "breadcrumb-content" %}

{% block "content" %}
  <h2 class="center-text">
    {% trans "You can drop your new picture in this box: " %}
  </h2>

  <div id="drop-profil-picture" class="drop-area">
    {% include "users/ajax/edit_picture_drop_form.html" %}
  </div>

  <div class="span8 offset2">
    <h2 class="center-text">
      {% trans "Or you can use this form: " %}
    </h2>
    {% include "users/ajax/edit_picture_form.html" %}
  </div>

{% endblock %}
