{% load url from future %}
{% load i18n %}

<form class="form-horizontal"
      id="edit-password-form"
      method="post"
      action="{% url "edit-password-form" %}">

  <div class="modal-body">
    {% if not user.get_profile.has_password %}
      <div class="alert alert-error">
	{% trans "You didn't set a password. You should set one quickly" %}
      </div>
    {% endif %}
  </div>

  {% csrf_token %}
  {{ form }}

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">
      {% trans "Edit" %}
    </button>

    <button type="reset" class="btn btn-danger">
      {% trans "Reset" %}
    </button>
  </div>
</form>
