- extends "users/base.haml"
- load l10n i18n
- block "title"
    - trans "Edit thumbnail"

- block "content"
    %h1.text-center
        - trans "Edit thumbnail"

    - include "users/ajax/edit_avatar_form.haml" with form=form

    .row
        .col-lg-10
            %img#image-id-picture{'src'               : '{{ picture.url }}',
                                  'data-real-width'   : '{{ picture.width }}'}

        .col-lg-2
            %h2<
                Preview

            .avatar-preview
                %img.jcrop-preview{'src'    : '{{ picture.url }}',
                                   'id'     : 'preview_id_avatar',
                                   'alt'    : 'Preview'}