{% extends "users/base.html" %}
{% load url from future %}
{% load i18n common_tags user_tags %}

{% block "title" %}{% trans "Manage social media accounts" %}{% endblock "title" %}

{% block "content" %}
  <h1 class="centered-text">{% trans "Manage social media accounts" %}</h1>

  <p class="alert alert-info">
    {% blocktrans %}Here you can link/unlink your social media accounts to this website.<br/>Linking your accounts will help you to sign in here in an easier way: You will only have to click on a linked account on the sign in menu to be logged.{% endblocktrans %}
  </p>

  <div class="alert alert-block">
    <h4 class="alert-heading">Warning!</h4>
    {% blocktrans %}If you want to completely revoke an access, you have to do it on your provider's website.{% endblocktrans %}
  </div>

  <p>{% trans "List of your linked accounts:" %}</p>

  <ul class="unstyled well">
    {% for account in social_auth.associated %}
      <li><span class="label label-important">
	  <a href="{% url "socialauth_disconnect_individual" account.provider|replace:",_,-" account.id %}?next={{ request.get_full_path }}">
	    {% trans "Delete" %}
	  </a>
	</span>
	&nbsp;
	<strong>{{ account.provider }}</strong> {% trans "with account" %} <strong>{{ account|social_link }}</strong>
    {% empty %}
      {% trans "No account linked" %}
    {% endfor %}
  </ul>


  {% if messages %}
    {% for message in messages %}{% endfor %}
    <div class="alert alert-danger alert-block fade in">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <h4 class="alert-heading">Error!</h4>
      {% trans "The link has failed. If you think the problem comes from us, feel free to contact us." %}
    </div>
  {% endif %}

  <p class="centered-text">
    {% trans "List of linkable social media (click to link, you can link multiple accounts from the same social media):" %}
  </p>

  <ul class="nav nav-pills social-medias-icons pull-center-ugly">
    {{ social_auth.backends|social_sign_in_links:request }}
  </ul>
{% endblock %}
