- extends "users/base.haml"
- load i18n

- block "title"
    - trans "Reset my password"
- block "body_classes"
    col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2

- block "breadcrumb-content"
    %li{'itemscope': None, 'itemtype': 'http://data-vocabulary.org/Breadcrumb'}
        %a{'itemprop': 'url',
           'data-depth' : '1',
           'data-ajax'  : 'body-content',
           'title'      : '{% trans "I lost my password" %}',
           'href'       : '{% url "reset-password" %}'}
            %span{'itemprop': 'title'}
                - trans "I lost my password"

- block "content"
    %h2.text-center
        - trans "Reset my password"

  - include "users/ajax/password_reset_form.haml"
