- extends "users/base.haml"
- load i18n

- block "app_js"
    - include "users/inc/password_confirm_ajax.haml"

- block "title"
    - trans "Reset my password"
- block "body_classes"
    span8 offset2

- block "content"
    %h1.center-text
        - trans "Reset my password"
    - include "users/ajax/password_confirm_form.haml"

