{% load url from future %}
{% load i18n %}

<script type="text/javascript">

var ajax = new Ajaxion('{% url "reset-password-form" %}',
		       {'selector': '#reset-password-form',
			'events': 'submit'},
		       'POST',
		       [
			   {
			       'url': '{% url "reset-password-form" %}',
			       'visible': true,
			       'selectors' : [
				   {
				       'current': '#reset-password-form',
				       'target': '*',
				       'insert': false
				   }
			       ],
			   },
		       ],
		       {
			   'success': [
			       {'callback': Ajaxion.cb_push_before}
			   ],

		       }
		      );

ajax.start();
</script>
