{% load url from future %}
{% load i18n %}

<script type="text/javascript">
var ajax = new Ajaxion('{% url "sign-up-form" %}',
                       {'selector': '#sign-up-form',
			'events': 'submit'},
                       'POST',
                       [
			   {
                               'url': '{% url "sign-up-form" %}',
                               'visible': true,
                               'selectors' : [
                                   {
                                       'current': '#sign-up-form',
                                       'target': '*',
                                       'insert': false
                                   }
                               ],
                           }
	               ],
                       {
                           'success': [
                               {'callback': Ajaxion.cb_replace}
                           ],
			   'error': [Ajaxion.cb_error_push_before],
                       }
                      );
ajax.start();
</script>
