{% extends "users/base.html" %}
{% load url from future %}
{% load i18n user_tags %}

{% block "sub_head_js" %}
  {% include "users/sign_up_ajax.html" %}
{% endblock "sub_head_js" %}

{% block "title" %}{% trans "Sign up" %}{% endblock "title" %}
{% block body_classes %}span10 offset1{% endblock %}

{% block "content" %}
  <h1 class="centered-text">{% trans "Sign up" %}</h1>

  <div class="accordion" id="sign-up-accordion">
    <div class="accordion-group">
      <div class="accordion-heading">
	<h2>
	  <a class="accordion-toggle"
	     data-toggle="collapse"
	     data-parent="#sign-up-accordion"
	     href="#sign-up-social">
	      Sign up using a social media account <small>(faster)</small>
	  </a>
	</h2>
      </div>
      <div id="sign-up-social" class="accordion-body collapse in">
	<div class="accordion-inner">
	  <p class="alert alert-info">
	    {% trans "Signing up using one of your social media account is the simplest and fastest way to sign up. You won't have to fill any forms or to validate your account." %}
	  </p>

	  <p>{% trans "Click on the provider you want to use:" %}</p>

	  <ul class="nav nav-pills social-medias-icons">
	    {{ social_auth.backends|social_sign_in_links:request }}
	  </ul>
	</div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
	<h2>
	  <a class="accordion-toggle"
	     data-toggle="collapse"
	     data-parent="#sign-up-accordion"
	     href="#sign-up-manually">
	    Sign up manually <small>(painful)</small>
	  </a>
	</h2>
      </div>
      <div id="sign-up-manually" class="accordion-body collapse">
	<div class="accordion-inner">
	  <p class="alert alert-info">
	    {% trans "If you choose to sign up this way, we will send you an e-mail to validate your account." %}
	  </p>

	  <form class="form-horizontal" method="post"
		id="sign-up-form"
                action="{% url "sign-up" %}">
	    {% csrf_token %}
	    {{ form }}

	    <div class="form-actions">
	      <button type="submit"
		      data-loading-text="{% trans "Signing up..." %}"
		      class="btn btn-primary">
		{% trans "Sign up" %}
	      </button>
	      <button type="reset" class="btn btn-danger">
		{% trans "Reset" %}
	      </button>
	    </div>
	  </form>
	</div>
      </div>
    </div>
  </div>
{% endblock %}
