- extends "users/base.haml"
- load i18n user_tags

- block "title"
    - trans "Sign up"
- block "body_classes"
    col-lg-10 col-lg-offset-1 col-sm-10 col-sm-offset-1
- block "page-title"
    - trans "Sign up"

- block "breadcrumb-content"
    %li{'itemscope': None, 'itemtype': 'http://data-vocabulary.org/Breadcrumb'}
        %a{'itemprop': 'url',
           'data-depth' : '1',
           'data-ajax'  : 'body-content',
           'title'      : '{% trans "Sign up" %}',
           'href'       : '{% url "sign-up" %}'}
            %span{'itemprop': 'title'}
                {% trans "Sign up" %}

- block "content"
    #sign-up-accordion.panel-group
        .panel
            .panel-heading
                %h2.panel-title
                    %a.accordion-toggle{'data-toggle' : 'collapse',
                                        'data-parent' : '#sign-up-accordion',
                                        'href'        : '#sign-up-social'}
                        - trans "Sign up using a social media account"

                        %small
                            - trans "(faster)"
            #sign-up-social.panel-collapse.collapse.in
                .panel-body
                    %p.alert.alert-info<
                        - trans "Signing up using one of your social medias accounts is the simplest and fastest way to sign up. You won't have to fill any forms or validate your account."

                    %p<
                        - trans "Click on the provider you want to use:"

                    %ul.nav.nav-pills.social-medias-icons
                        {{ social_auth.backends|social_sign_in_links:request }}


        .panel
            .panel-heading
                %h2.panel-title
                    %a.accordion-toggle{'data-toggle' : 'collapse',
                                        'data-parent' : '#sign-up-accordion',
                                        'href'        : '#sign-up-manually'}

                        - trans "Sign up manually"
                        %small
                            - trans "(painful)"

            #sign-up-manually.panel-collapse.collapse
                .panel-body
                    %p.alert.alert-info
                        - trans "If you choose to sign up this way, we will send you an e-mail to validate your account."

                    - include "users/ajax/sign_up_form.haml" with form=form
