{% extends "users/base.html" %}
{% load url from future %}
{% load i18n %}

{% block "page-title" %}{% trans "Sign in" %}{% endblock %}
{% block "title" %}{% trans "Sign in" %}{% endblock "title" %}
{% block body_classes %}span6 offset3{% endblock %}

{% block "content" %}

  {% if success %}
    <p class="alert alert-success">
      {{ success }}
    </p>
  {% endif %}

  {% if error %}
    <p class="alert alert-error">
      {{ error }}
    </p>
  {% endif %}

  <form method="post" class="form-horizontal" action="{% url "sign-in" %}">
    {% csrf_token %}

    {{ form }}
    <input type="hidden" name="next" value="{{ next }}" />

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% trans "Sign in" %}</button>
      <button type="reset" class="btn btn-danger">{% trans "Reset" %}</button>
    </div>
  </form>

{% endblock %}
