- extends "users/base.haml"
- load i18n bootstrap

- block "page-title"
    - trans "Sign in"
- block "title"
   - trans "Sign in"
- block "body_classes"
    col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3

- block "breadcrumb-content"
    %li{'itemscope': None, 'itemtype': 'http://data-vocabulary.org/Breadcrumb'}
        %a{'itemprop': 'url',
           'data-depth' : '1',
           'data-ajax': 'body-content',
           'title': '{% trans "Sign in" %}',
           'href': '{% url "sign-in" %}'}
            %span{'itemprop': 'title'}
                - trans "Sign in"

- block "content"
    - if success
        #p.alert.alert-success
            {{ success }}

    - if error
        %p.alert.alert-error
            {{ error }}

    %form.form-horizontal{'method'    : 'post',
                          'action'    : '{% url "sign-in" %}'}
        - csrf_token

        {{ form|bootstrap_horizontal:"col-lg-4" }}

        %input{'type'   : 'hidden',
               'name'   : 'next',
               'value'  : '{{ next }}'}

        .row
            .form-action-horizontal-bigger
                %button.btn.btn-primary{'type': 'submit'}<
                    - trans "Sign in"

                %button.btn.btn-danger{'type' : 'reset'}<
                    - trans "Reset"
