{% extends "users/base.html" %}
{% load url from future %}
{% load i18n user_tags %}

{% block "title" %}{% trans "Sign up" %}{% endblock "title" %}
{% block body_classes %}span10 offset1{% endblock %}
{% block "page-title" %}{% trans "Sign un" %}{% endblock %}

{% block "content" %}
  <div class="accordion" id="sign-up-accordion">
    <div class="accordion-group">
      <div class="accordion-heading">
	<h2>
	  <a class="accordion-toggle"
	     data-toggle="collapse"
	     data-parent="#sign-up-accordion"
	     href="#sign-up-social">
	    {% trans "Sign up using a social media account" %}
	    <small>{% trans "(faster)" %}</small>
	  </a>
	</h2>
      </div>
      <div id="sign-up-social" class="accordion-body collapse in">
	<div class="accordion-inner">
	  <p class="alert alert-info">
	    {% trans "Signing up using one of your social medias accounts is the simplest and fastest way to sign up. You won't have to fill any forms or validate your account." %}
	  </p>

	  <p>{% trans "Click on the provider you want to use:" %}</p>

	  <ul class="nav nav-pills social-medias-icons">
	    {{ social_auth.backends|social_sign_in_links:request }}
	  </ul>
	</div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
	<h2>
	  <a class="accordion-toggle"
	     data-toggle="collapse"
	     data-parent="#sign-up-accordion"
	     href="#sign-up-manually">
	    {% trans "Sign up manually" %}
	    <small>{% trans "(painful)" %}</small>
	  </a>
	</h2>
      </div>
      <div id="sign-up-manually" class="accordion-body collapse">
	<div class="accordion-inner">
	  <p class="alert alert-info">
	    {% trans "If you choose to sign up this way, we will send you an e-mail to validate your account." %}
	  </p>

	  {% include "users/ajax/sign_up_form.html" with form=form %}
	</div>
      </div>
    </div>
  </div>
{% endblock %}
