{% extends "users/base.html" %}
{% load url from future %}
{% load i18n bootstrap user_tags %}

{% block "title" %}{% blocktrans with username=target_user.username %}Profile of {{ username }}{% endblocktrans %}{% endblock "title" %}
{% block body_classes %}span8 offset2{% endblock %}

{% block "content" %}
  <h1 class="center-text">{% blocktrans with username=target_user.username %}Profile of {{ username }}{% endblocktrans %}</h1>

  <div class="pull-left margin-right-2">
    {{ target_user|square_thumbnail:'160' }}
  </div>

  <ul class="unstyled space-li-10 margin-top-2">
    <li><strong>{% trans "Name:" %}</strong> {{ target_user.last_name }} {{ target_user.first_name }}

    {% if profile.website %}
      <li><strong>{% trans "Website:" %}</strong> <a href="{{ profile.website }}">{{ profile.website }}</a>
    {% endif %}

    {% if profile.occupation %}
      <li><strong>{% trans "Occupation:" %}</strong> {{ profile.occupation }}
    {% endif %}

    {% if profile.hobbies %}
      <li><strong>{% trans "Hobbies:" %}</strong> {{ profile.hobbies }}
    {% endif %}
  </ul>

  <ul class="nav nav-pills social-medias-icons">
    {{ target_user|social_user_links }}
  </ul>

</div>
{% endblock %}
