- extends "users/base.haml"
- load url from future
- load i18n bootstrap user_tags

- block "title"
    {% blocktrans with username=target_user.username %}Profile of {{ username }}{% endblocktrans %}
- block "page-subtitle"
    {% blocktrans with username=target_user.username %}Profile of {{ username }}{% endblocktrans %}
- block "body_classes"
    span8 offset2

- block "breadcrumb-content"
    %li<
        %span.divider<
            \/

    %li{'itemscope': None, 'itemtype': 'http://data-vocabulary.org/Breadcrumb'}
        %a{'itemprop': 'url',
           'data-depth' : '1',
           'data-ajax'  : 'body-content',
           'title'      : '{% trans "View profile" %}',
           'href'       : '{{ target_user.get_absolute_url }}'}
            %span{'itemprop': 'title'}
                - trans "View profile"


- block "content"
    %div{'itemscope': None, 'itemtype': 'http://data-vocabulary.org/Person'}
        .pull-left.margin-right-2
            {{ target_user|square_thumbnail:'160,True' }}

        %ul.unstyled.space-li-10..space-li-clean-first
            %li
                %strong
                    - trans "Name:"

                %span{'itemprop': 'familyName'}
                    {{ target_user.last_name }}

                %span{'itemprop': 'givenName'}
                    {{ target_user.first_name }}

                %meta{'itemprop': 'name', 'content': '{{ target_user.first_name }} {{ target_user.last_name }}'}

            - if profile.website
                %li
                    %strong
                        - trans "Website:"

                    %a{'href'       : '{{ profile.website }}',
                       'itemprop'   : 'url'}
                        {{ profile.website }}

            - if profile.occupation
                %li
                    %strong
                        - trans "Occupation:"
                    %span{'itemprop': 'jobTitle'}
                        {{ profile.occupation }}

            - if profile.hobbies
              %li
                %strong
                    - trans "Hobbies:"
                {{ profile.hobbies }}

        %ul.nav.nav-pills.social-medias-icons
            {{ target_user|social_user_links }}
