{% load i18n %}

<div class="modal hide fade" id="browser-warning">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">×</a>
    <h3>{% trans "Browser compatibilities" %}</h3>
  </div>
  <div class="modal-body">
    <p>
      {% trans "This website use some experimental features. To get the best experience using it, you will need the newest version of your browser or change to another one." %}
    </p>
    <p>
      {% trans "List of supported bowsers:" %}
      <div class="browser-list">

	<div class="item">
	  <a href="https://www.google.com/chrome">
	    <div class="browser-icon-chrome"></div>
	    <p>Google chrome</p>
	  </a>
	</div>
	<div class="item">
	  <a href="https://www.mozilla.org/firefox/new/">
	    <div class="browser-icon-firefox"></div>
	    <p>Firefox</p>
	  </a>
	</div>
      </div>
    </p>
    <p>
      {% trans "The other browsers have not been tested, some like Safari should work fine, others like Opera or Internet Explorer will miss several features." %}
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">
      Don't care, I'm a warrior
    </button>
    <button type="button" class="btn btn-success" data-dismiss="modal">
      My browser is good
    </button>
  </div>
</div>
