- load staticfiles i18n

%footer{'role': 'contentinfo'}
    .header
        .container-fluid
            .row-fluid
                .span2{'class': 'home'}
                .span2{'class': 'lab'}
                .span2{'class': 'about'}
                .span2{'class': 'portfolio'}
                .span2{'class': 'contact'}
                .span2{'class': 'blog'}


    .container
        .row
            .span3.brand {{ BRAND_NAME }}
                %small © 2013. All rights reserved.

            .span3
                %h5<
                    - trans "Navigation links"

                %ul.unstyled
                    %li
                        %a{'href': '{% url "home" %}'}
                            %i.icon-home
                            - trans "Home"

                    %li
                        %a{'href': '{% url "blog" %}'}
                            %i.icon-book
                            - trans "Blog"

                    %li
                        %a{'href': '{% url "lab" %}'}
                            %i.icon-beaker
                            - trans "Lab"

                    %li
                          %a{'href': '{% url "about" %}'}
                                %i.icon-user
                                - trans "About"

                    %li
                          %a{'href': '{% url "portfolio" %}'}
                                %i.icon-picture
                                - trans "Portfolio"

            .span3
                %h5<
                    - trans "Be social"

                %ul.unstyled
                    %li
                        %a.{'href': 'https://plus.google.com/107029584179497153748'}
                            %i.icon-google-plus
                            Google+

                    %li
                        %a.{'href': 'https://github.com/Nivl'}
                            %i.icon-github
                            Github

                    %li
                        %a.{'href': 'https://twitter.com/Nivl_'}
                            %i.icon-twitter
                            Twitter

                    %li
                        %a.{'href': 'https://www.linkedin.com/profile/view?id=221875113'}
                            %i.icon-linkedin
                            LinkedIn

                    %li
                        %a.{'href': '{% url "contact" %}'}
                            %i.icon-envelope
                            - trans "Contact"

            .span3
                %h5<
                    - trans "Actions"

                %ul.unstyled
                    %li
                        %a.scroll{'href': '#body'}
                            %i.icon-circle-arrow-up
                            - trans "Go to the top"

                    %li
                        %a.scroll{'href': "#middle-header"}
                            %i.icon-search
                            - trans "Go to the search form"

                    %li
                        %a.scroll{'href': '#body-content'}
                            %i.icon-th-large
                            - trans "Go to the content"

                    %li
                        %a{'href': '#', 'onClick': 'window.location.reload()'}
                            %i.icon-refresh
                            - trans "Refresh the page"