{% load staticfiles %}

<footer>
  <div class="container">
    <div class="row">
      <div class="span12">
        <p>
          © 2012. All Right Reserved. Melvin Laplanche<br />
        </p>
        <p>
          <a href="http://www.djangoproject.com/">
            <img src="{% static "commons/img/django_powered.gif" %}"
                 alt="A Django site"
                 title="A Django site">
          </a>

          <a href="http://www.alwaysdata.com/">
            <img src="{% static "commons/img/alwaysdata.png" %}"
                 alt="Hosted by Alwaysdata"
                 title="Hosted by Alwaysdata">
          </a>
        </p>
        <p>
          <a href="http://www.w3.org/html/logo/">
            <img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-device-graphics-multimedia-performance-semantics.png"
                 width="150"
                 height="37"
                 alt="HTML5 Powered with CSS3 / Styling, Device Access, Graphics, 3D &amp; Effects, Multimedia, Performance &amp; Integration, and Semantics"
                 title="HTML5 Powered with CSS3 / Styling, Device Access, Graphics, 3D &amp; Effects, Multimedia, Performance &amp; Integration, and Semantics">
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
