{% load i18n  %}
{% load url from future %}
{% load user_tags  %}

<header>
  <div id="navbar" class="navbar">
    <div class="navbar-inner">
      <div class="container-fluid">

        <a class="btn btn-navbar" data-toggle="collapse"
           data-target=".nav-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
        </a>

        <a class="brand" href="/">
          Laplanche-melv.in
        </a>

        <div class="nav-collapse">
          <ul id="navbar-main-list" class="nav pull-right">

            <li id="navbar-blog"
                {% ifequal act_menu "blog" %} class="active"{% endifequal %}>
              <a data-depth="1"
                 title="{% trans "Blog" %}"
                 data-ajax="body-content"
                 href="{% url "blog" %}">
                   {% trans "Blog" %}
              </a>
            </li>

            <li id="navbar-lab"
                {% ifequal act_menu "lab" %} class="active"{% endifequal %}>
              <a data-depth="1"
                 data-ajax="body-content"
                 href="{% url "lab" %}"
                 title="{% trans "Lab" %}">
                   {% trans "Lab" %}
              </a>
            </li>

            <li id="navbar-about"
                {% ifequal act_menu "home" %} class="active"{% endifequal %}>
              <a data-depth="0"
                 rel="author"
                 data-ajax="body-content"
                 title="{% trans "About" %}"
                 href="{% url "home" %}">
                   {% trans "About" %}
              </a>
            </li>

            <li id="navbar-portfolio"
                {% ifequal act_menu "portfolio" %} class="active"{% endifequal %}>
              <a data-depth="0"
                 data-ajax="body-content"
                 title="{% trans "Portfolio" %}"
                 href="{% url "portfolio" %}">
                   {% trans "Portfolio" %}
              </a>
            </li>

            <li id="navbar-cv"
                {% ifequal act_menu "cv" %} class="active"{% endifequal %}>
              <a data-depth="0"
                 data-ajax="body-content"
                 title="{% trans "C.V." %}"
                 href="{% url "cv" %}">
                   {% trans "C.V." %}
              </a>
            </li>

            <li id="navbar-contact"
                {% ifequal act_menu "contact" %} class="active"{% endifequal %}>
              <a data-depth="0"
                 data-ajax="body-content"
                 title="{% trans "Contact" %}"
                 href="{% url "contact" %}">
                   {% trans "Contact" %}
                 </a>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle"
                 href="#"
                 data-toggle="dropdown">
                   <i class="icon-cog"></i>
              </a>

              <ul class="dropdown-menu">
                {% if not user.is_authenticated %}
                  <li>
                    <a data-ajax="body-content"
                       data-depth="0"
                       title="{% trans "Sign up" %}"
                       href="{% url "sign-up" %}">
                         {% trans "Sign up" %}
                    </a>
                  </li>
                  
                  <li>
                    <a data-ajax="body-content"
                       data-depth="0"
                       title="{% trans "I lost my password" %}"
                       href="{% url 'reset-password' %}">
                         {% trans "I lost my password" %}
                    </a>
                  </li>

                  <li class="divider"></li>

                  <li class="login-box">

                    <h5>{% trans "Sign in" %}</h5>

                    <div class="social-media-box clearfix">
                      <p class="login-sm pull-left">
                        {% trans "Sign in with:" %}
                      </p>

                      <ul class="nav nav-pills social-medias-icons">
                        {{ social_auth.backends|social_sign_in_links:request }}
                      </ul>
                    </div>

                    <p>{% trans "Or sign in using your account:" %}</p>

                    <form action="{% url "sign-in" %}" method="post">
                      {% csrf_token %}
                      <input placeholder="{% trans "Username" %}"
                            id="id_username" name="username" type="text" />
                      <input placeholder="{% trans "Password" %}"
                             type="password"
                             id="id_password"  name="password" />
                      <input type="hidden"name="next"
                             value="{{ request.get_full_path }}" />
                      <input value="{% trans "Sign in" %}"
                            class="btn btn-primary" type="submit" />
                    </form>
                  </li>

                {% else %}
                  <li class="nav-header center-text">
                    {{ user.username }}
                  </li>

                  <li class="divider"></li>
                  
                  <li>
                    <a data-ajax="body-content"
                       data-depth="0"
                       title="{% trans "My profile" %}"
                       href="{{ user.get_absolute_url }}">
                         <i class="icon-user"></i> {% trans "My profile" %}
                    </a>
                  </li>

                  <li {% if not user.get_profile.has_password %} class="important"{% endif %}>
                    <a data-ajax="body-content"
                       data-depth="0"
                       title="{% trans "Edit my account" %}"
                       href="{% url "edit-account" %}">
                         <i class="icon-edit"></i> {% trans "Edit my account" %}
                    </a>
                  </li>

                  <li>
                    <a data-ajax="body-content"
                       data-depth="0"
                       title="{% trans "Edit my profile picture" %}"
                       href="{% url "edit-picture" %}">
                         <i class="icon-camera"></i> {% trans "Edit my profile picture" %}
                    </a>
                  </li>

                  <li>
                    <a data-ajax="body-content"
                       data-depth="0"
                       title="{% trans "Social media accounts" %}"
                       href="{% url "manage-social-account" %}">
                         <i class="icon-tasks"></i> {% trans "Social media accounts" %}
                    </a>
                  </li>

                  <li class="divider"></li>

                  <li>
                    <a href="{% url "sign-out" %}?next={{ request.get_full_path }}">
                      <i class="icon-off"></i> {% trans "Sign out" %}
                    </a>
                  </li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="sub-header">
    <div class="wrapper">

      <form method="get"
            action="{% url "haystack_search" %}"
            data-ajax="body-content"
            class="form-search navbar-search pull-right"
            data-depth="0"
            title="{% trans "Search" %}">

            <div class="input-append">
              <input type="text"
                     class="search-query"
                     placeholder="Search"
                     name="q"
                     data-provide="typeahead"
                     data-items="6">
                       <button type="submit" class="btn"><i class="icon-search"></i></button>
            </div>
      </form>

      <h1 id="page_title">{% trans "Welcome" %}</h1>

    </div>
  </div>
</header>
