- load i18n

#help.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                %h3<
                    - trans "Help"
            .modal-body
                %h4<
                    - trans "Keyboard shortcuts"

                .row
                    .col-lg-12
                        %h5.text-center<
                            - trans "Live Editing"
                        %dl.dl-horizontal
                            %dt<
                                e
                            %dd<
                                - trans "Enable live editing"

                .row
                    .col-lg-12
                        %h5.text-center<
                            - trans "Formatting"

                        %dl.dl-horizontal
                            %dt<
                                &lt;Ctrl&gt; + b
                            %dd<
                                - trans "Bold"

                            %dt<
                                &lt;Ctrl&gt; + i
                            %dd<
                                - trans "Italic"
                        %dl.dl-horizontal
                            %dt<
                                &lt;Ctrl&gt; + l
                            %dd<
                                - trans "Link"

                            %dt<
                                &lt;Ctrl&gt; + q
                            %dd<
                                - trans "Blockquote"

                            %dt<
                                &lt;Ctrl&gt; + k
                            %dd<
                                - trans "Code"

                            %dt<
                                &lt;Ctrl&gt; + G
                            %dd<
                                - trans "Image"
                        %dl.dl-horizontal
                            %dt<
                                &lt;Ctrl&gt; + o
                            %dd<
                                - trans "Numbered list"

                            %dt<
                                &lt;Ctrl&gt; + u
                            %dd<
                                - trans "Bulleted list"

                            %dt<
                                &lt;Ctrl&gt; + h
                            %dd<
                                - trans "Heading"

                            %dt<
                                &lt;Ctrl&gt; + r
                            %dd<
                                - trans "Horizontal rule"
