{% load i18n %}

<section class="pagination pagination-centered">
  <ul>
    {% if paginator.has_previous %}
      <li>
	<a rel="ajax-content"
	   title="{% blocktrans with i=paginator.previous_page_number %}Page {{ i }}{% endblocktrans %}"
	   data-depth="20"
	   href="?page={{ paginator.previous_page_number }}">«</a>

    {% else %}
      <li class="disabled">
	<a href="#" onClick="return false;">«</a>
    {% endif %}

    {% for i in paginator.paginator.page_range %}
      <li{% ifequal i paginator.number %} class="active"{% endifequal %}>
      	<a title="{% blocktrans %}Page {{ i }}{% endblocktrans %}"
	   {% ifequal i paginator.number %}
	     onClick="return false;"
	     href="#"
	   {% else %}
	     data-depth="20"
	     rel="ajax-content"
	     href="?page={{ i }}"
	   {% endifequal %}
	   >{{ i }}</a>
    {% endfor %}


    {% if paginator.has_next %}
      <li class="disabled">
	<a data-depth="20"
	   title="{% blocktrans with i=paginator.next_page_number %}Page {{ i }}{% endblocktrans %}"
	   rel="ajax-content"
	   href="?page={{ paginator.next_page_number }}">»</a>
    {% else %}
      <li class="disabled">
	<a onClick="return false;" href="#">»</a>
    {% endif %}
  </ul>
</section>
