- load i18n user_tags

#sign-in.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                %button.close{'data-dismiss': 'modal',
                              'aria-hidden': 'true'}
                    &times;

                %h4.modal-title
                    - trans "Sign in"

            %form{'action': '{% url "sign-in" %}', 'method': 'post'}
                .modal-body
                    .social-media-box.clearfix
                        %p.pull-left.margin-right-2<
                            - trans "Sign in with:"

                        %ul.nav.nav-pills.social-medias-icons<
                            {{ social_auth.backends|social_sign_in_links:request }}

                    %p<
                        - trans "Or sign in using your account:"

                        {% csrf_token %}

                        .form-group
                            %input.form-control{'placeholder': '{{ _("Username")|force_escape }}',
                                   'id'         : 'id_username',
                                   'name'       : 'username',
                                   'type'       : 'text'}

                        .form-group
                            %input.form-control{'placeholder' : '{% trans "Password" %}',
                                   'type'        : 'password',
                                   'id'          : 'id_password',
                                   'name'        : 'password'}

                        %input{'type': 'hidden',
                                'name': 'next',
                                'value': '{{ request.get_full_path }}'}

                .modal-footer
                    .pull-left
                        %a.btn.btn-danger{'href'   : '{% url "reset-password" %}'}
                            - trans "I lost my password"

                        %a.btn.btn-success{'href'   : '{% url "sign-up" %}'}
                            - trans "Sign up"

                    %input.btn.btn-primary{'type'   : 'submit',
                                           'value'  : '{% trans "Sign in" %}'}
