@import "ds/reset";
@import "ds/_typography";
@import "ds/_colors";
@import "ds/_spacing";
@import "ds/_utils";
@import "ds/defaults";

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text);
  line-height: var(--text-line-height);

  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";

  background-color: var(--color-primary);
  font-weight: 300;
}

.simplified-svg-logo {
  svg {
    fill: var(--color-text);
  }
}

.text-accent {
  color: var(--color-accent);
}
