@import "ds/reset";
@import "ds/_typography";
@import "ds/_colors";
@import "ds/_utils";
@import "ds/defaults";

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text);

  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";

  background-image: linear-gradient(to top, #000000cc, #000000cc), url("bg.jpg");
  background-size: auto, cover;
  background-attachment: fixed, fixed;
  background-position: center, center;
}
