- load i18n bootstrap

%form#edit-password-form.form-horizontal{'method': 'post',
                                         'action': '{% url "edit-password-form" %}'}

    .modal-body
        - if not user.get_profile.has_password
            .alert.alert-error
    	       - trans "You didn't set a password. You should set one quickly"

      {% csrf_token %}
      {{ form|bootstrap_horizontal:'col-lg-4 col-sm-4' }}

    .modal-footer
        %a.btn.btn-info{'href': '{% url "reset-password" %}'}
            - trans "I lost my password"

        %button.btn.btn-primary{'type': 'submit'}
            - trans "Edit"

        %button.btn.btn-danger{'type': 'reset'}
            - trans "Reset"
