- load i18n bootstrap

%form#edit-avatar-form{'method': 'post',
                       'action': '{% url "edit-avatar-form" %}'}
    - csrf_token

    %div.form-actions.text-center
        %button.btn.btn-primary{'type': 'submit'}
            - trans "Update"

    {{ form|bootstrap }}
