- load i18n

.alert.alert-success.alert-block.fade.in
    %a.close{'data-dismiss': 'alert'}<
        ×
    %h4.alert-heading<
        - trans "Updated!"
    - trans "Your thumbnail has been successfully updated."

