- load i18n bootstrap

%form#edit-settings-form.form-horizontal{'method'   : 'post',
                                         'action'   : '{% url "edit-settings-form" %}'}
    .modal-body
        - csrf_token
        {{ form|bootstrap_horizontal }}

    .modal-footer
        %button.btn.btn-primary{'type' : 'submit'}
            - trans "Edit"

        %button.btn.btn-danger{'type': 'reset'}
            - trans "Reset"