- load i18n bootstrap

%form#edit-email-form.form-horizontal{'method'  : 'post',
                                      'action'  : '{% url "edit-email-form" %}'}
    .modal-body
        - if not user.get_profile.has_password
            .alert.alert-error
                - trans "You didn't set a password, you cannot change your email address"

        - csrf_token
        {{ form|bootstrap_horizontal:'col-lg-4 col-sm-4' }}

    .modal-footer
        %button.btn.btn-primary{'type': 'submit'}
            - trans "Edit"

        %button.btn.btn-danger{'type': 'reset'}
            - trans "Reset"
