- load url from future
- load i18n

%form#edit-password-form.form-horizontal{'method': 'post',
                                         'action': '{% url "edit-password-form" %}'}

    .modal-body
        - if not user.get_profile.has_password
            .alert.alert-error
    	       - trans "You didn't set a password. You should set one quickly"

      {% csrf_token %}
      {{ form }}

    .modal-footer
        %button.btn.btn-primary{'type': 'submit'}
            - trans "Edit"

        %button.btn.btn-danger{'type': 'reset'}
            - trans "Reset"

        %a.btn.btn-info{'href': '{% url "reset-password" %}'}
            - trans "I lost my password"
