- load i18n bootstrap

%form#confirm-password-form.form-horizontal{'method': 'post',
                                            'action': '{% url "reset-password-confirm-form" uidb36=e_uidb36 token=e_token %}'}

    - csrf_token
    {{ form|bootstrap }}

    .form-actions
        %button.btn.btn-primary{'type': 'submit'}
            - trans "Reset my password"

        %button.btn.btn-danger{'type': 'reset'}
            - trans "Clear"
