- load url from future
- load i18n bootstrap

%form#reset-password-form.form-horizontal{'method': 'post',
                                          'action': '{% url "reset-password-form" %}'}
    - csrf_token
   {{ form|bootstrap }}

    .form-actions
        %button.btn.btn-primary{'type': 'submit'}
            - trans "Reset my password"

        %button.btn.btn-danger{'type': 'reset'}
            - trans "Clear"
