- load i18n

.alert.alert-success.alert-block
    %h4.alert-heading
        - trans "Check your emails!"
    - trans "Your account has been successfully created, but it still need to be activated. You will soon receive an email with the activation link."

