{% load markup i18n %}

<div class="element">
  <dl class="dl-horizontal">
    {% for content in cat.cvcontent_set.all %}
      {% if content.key %}
        <dt>{{ content.key }}
        {% if is_downloadable and content.value_for_download.strip %}
          <dd>{{ content.value_for_download|markdown }}
        {% else %}
          <dd>{{ content.value|markdown }}
        {% endif %}
      {% else %}
        {% if is_downloadable and content.value_for_download.strip %}
          <dd>{{ content.value_for_download }}
        {% else %}
          <dd>{{ content.value|markdown }}
        {% endif %}
      {% endif %}
    {% endfor %}
  </dl>
</div>