- load markup i18n

%ul.element.unstyled
    - for content in cat.cvcontent_set.all
        - if content.key
            %li
                %strong<
                    {{ content.key }}
                - trans ": "
                - if is_downloadable and content.value_for_download.strip
                    {{ content.value_for_download|markdown }}
                - else
                    {{ content.value|markdown }}
        - else
            - if is_downloadable and content.value_for_download.strip
                %li<
                    {{ content.value_for_download }}
            - else
                %li<
                    {{ content.value|markdown }}
