{% load i18n %}

<h1>{% trans "Images" %}</h1>

<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
  {% for image in images %}
    {% if forloop.counter0|divisibleby:3 %}
      <ul class="thumbnails">
    {% endif %}

    <li class="span3">
      <a class="thumbnail" rel="gallery"
	 title="{{ image.description }}" href="{{ image.image.url }}">
	<img src="{{ image.image.url }}" alt="{{ image.name }}"
	     title="{{ image.name }}">
      </a>

    {% if forloop.counter|divisibleby:3 or forloop.last %}
      </ul>
    {% endif %}
{% endfor%}
</div>
