{% load i18n markup user_tags %}

<h1>{% blocktrans with project_name=project.name %}Informations about {{ project_name }}{% endblocktrans %}</h1>


<ul class="unstyled">
  <li><strong>{% trans "Project License: " %}</strong>
    {% if project.license.url %}
      <a href="{{ project.license.url }}">
    {% endif %}

    {% if project.license.image %}
      <img src="{{ project.license.image.url }}"
	   alt="{{ project.license.name }}">
    {% else %}
      {{ project.license.name }}
    {% endif %}

    {% if project.license.url %}
      </a>
    {% endif %}

    {% if project.sources_url %}
      <li>
	<a class="btn" href="{{ project.sources_url }}">
	  <i class="icon-share"></i>
	    {% trans "Browse the sources" %}
	</a>
    {% endif %}
</ul>


<div class="well clearfix">
  <div id="diagram-wrapper" class="pull-right">
    <div id="diagram"></div>

    <div class="get">
	{% with project.projectlanguagerate_set.all as languages %}
	  {% for lang in languages %}
	    <div class="arc">
	      <span class="text">{{ lang.language.name }}</span>

	      <input type="hidden" class="percent"
		     value="{{ lang.rate }}" />

	      <input type="hidden" class="color"
		     value="#{{ lang.language.color }}" />
	    </div>
	  {% endfor %}
	{% endwith %}
    </div>
  </div>

  {{ project.description|markdown }}
</div>

{% with project.clients_user.all as clients_user %}
  {% with project.clients.all as clients %}
    {% if clients or clients_user%}
      <div id="clients" class="clearfix">
	<h2>{% trans "Client(s)" %}</h2>
	<div class="client-list">
	  {% for client in clients_user %}
	    <div class="qitem">
	      <a target="_parent" href="{{ client.get_profile.website }}">
		{{ client|square_thumbnail:"126" }}
	      <span class="caption">
		<h4>{{ client.get_full_name }}</h4>
		<p>
		  {{ client.get_profile.occupation }}
		</p>
	      </span>
	    </div>
	  {% endfor %}

	  {% for client in clients %}
	    <div class="qitem">
	      <a target="_blank" href="{{ client.url }}">
		<img src="{{ client.image.url }}"
		     alt="{{ client.name }}"
		     title="{{ client.name }}"
		     width="126" height="126"
		     class="thumbnail"></a>
	      <span class="caption">
		<h4>{{ client.name }}</h4>
		<p>
		  {{ client.description }}
		</p>
	      </span>
	    </div>
	  {% endfor %}
	</div>
      </div>
    {% endif %}
  {% endwith %}
{% endwith %}


{% with project.coworkers_user.all as coworkers_user %}
  {% with project.coworkers.all as coworkers %}
    {% if coworkers or coworkers_user %}
      <div id="coworkers" class="clearfix">
	<h2>{% trans "Team" %}</h2>
	<div>
	  {% for coworker in coworkers_user %}
	    <div>
	      <a href="{{ coworker.get_profile.website }}">
		{{ coworker|square_thumbnail:"126" }}
	      </a>
	      <div class="caption">
		<h5>{{ coworker.get_full_name }}</h5>
		<p>
		  {{ coworker.get_profile.occupation }}
		</p>
	      </div>
	    </div>
	  {% endfor %}

	  {% for coworker in coworkers %}
	    <div>
	      <a href="{{ coworker.url }}">
		<img src="{{ coworker.image.url }}"
		     alt="{{ coworker.name }}"
		     title="{{ coworker.name }}"
		     width="126" height="126">
	      </a>
	      <div class="caption">
		<h5>{{ coworker.name }}</h5>
		<p>
		  {{ coworker.description }}
		</p>
	      </div>
	    </div>
	  {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
{% endwith %}
