h1,
h2,
h3,
h4 {
  color: var(--color-accent);
  margin-bottom: var(--space-xxs);
  line-height: 1;
  font-weight: 700;
  border-bottom: solid var(--color-accent) 1px;

  padding-bottom: var(--space-sm);
  margin-bottom: var(--space-sm);
}

h2 {
  text-transform: uppercase;
  font-size: var(--text-lg);
  line-height: 1.65;
}

a {
  color: var(--color-link);
  text-decoration: none;
  border-bottom: 1px dotted var(--color-border);

  &:visited {
    color: var(--color-link);
  }
}

p {
  margin-bottom: var(--space-lg);
}
