{% load i18n tz %}

:javascript

    function clearPreview() {
        $('#form-preview').empty();
    };

    function addNewComment() {
        highlightCode();
        $('#comment-list .comment:last-child').flash();
    }

    function addCommentAjax(that) {
        ajaxPost(
            "{{ post.get_form_url }}", '#comment-form', function(data, proceed){
            clearPreview();
                if (proceed){
                    $(that).before(data);
                    $.jStorage.deleteKey('{{ storage_key }}');

                        ajaxSwitchElem('{{ post.get_form_url }}',
                                        '#comment-form',
                                        '*',
                                        [markdownEditor]);

                    {% if user.is_authenticated %}
                        ajaxSwitchElemContent('{{ post.get_comment_url }}',
                                            '#comment-list',
                                            '*',
                                            [addNewComment]);

                        ajaxSwitchElem('{{ post.get_comment_count_url }}',
                                            '#comment-count',
                                            '*');
                    {% endif %}
                } else {
                    markdownEditor();
                }
            },
            function(){
                ajaxCb_pushBefore(that);
            });

    }