{% load i18n tz %}

:javascript
    {% localtime off %}
        var url_values = {year: '{{ post.pub_date.year }}',
                          month: '{{ post.pub_date|date:'m' }}',
                          day: '{{ post.pub_date|date:'d' }}',
                          slug: '{{ post.slug }}'
                          }
    {% endlocaltime %}

    liveEdit('comment-single-', url_values, 'post-comment-single', 'pk');


    function clearPreview() {
        $('#form-preview').empty();
    };

    function addNewComment() {
        highlightCode();
        $('#comment-list .comment:last-child').animateHighlight();
    }

    function addCommentAjax(that) {
        Ajaxion_post(
            "{{ post.get_form_url }}", '#comment-form', function(data, proceed){
            clearPreview();
                if (proceed){
                    $(that).before(data);
                    $.jStorage.deleteKey('{{ storage_key }}');

                        Ajaxion_switch_elem('{{ post.get_form_url }}',
                                        '#comment-form',
                                        '*',
                                        [markdownEditor]);

                    {% if user.is_authenticated %}
                        Ajaxion_switch_elem_content('{{ post.get_comment_url }}',
                                            '#comment-list',
                                            '*',
                                            [addNewComment]);

                        Ajaxion_switch_elem('{{ post.get_comment_count_url }}',
                                            '#comment-count',
                                            '*');
                    {% endif %}
                } else {
                    markdownEditor();
                }
            },
            function(){
                Ajaxion_cb_error_push_before(that);
            });

    }

{% comment %}

    $(document).off('click', '.edit-link')
        .on('click', '.edit-link', function (e) {
            var that = this;
            var area = $(this).parents('.comment').find('.editable_area');
            var pk = $(area).prop('id').replace('comment_', '');

            {% localtime off %}
              var url_values = {
                      year:'{{ post.pub_date.year }}',
                      month:'{{ post.pub_date|date:'m' }}',
                      day:'{{ post.pub_date|date:'d' }}',
                      slug:'{{ post.slug }}',
                      pk:pk
              }
            {% endlocaltime %}

            var selector = '#' + $(area).prop('id');
            if ($(area).find(">:first-child").prop("tagName") == 'P') {
                var url = resolve_urls('post-comment-single-form', url_values);

                $.get(url, function(data){
                    $(selector).html(data);
                    $("#comment_" + pk + "_avatar").toggle();

                    var post_selector = '#comment-single-form-' + pk;

                    $(post_selector).on('submit', function(){
                        Ajaxion_post(
                            url, post_selector,
                            function(data, proceed){
                                if (proceed) {
                                    $(that).trigger('click');
                                }
                            });
                        return false;
                    });
                });
            } else {
                var url = resolve_urls('post-comment-single', url_values);

                $.get(url, function(data){
                    $(selector).html(data);
                    $("#comment_" + pk + "_avatar").toggle();

                    $(that).parents('.comment').animateHighlight();
                });
            }

            return false;
        });

{% endcomment %}