{% load i18n %}

<script type="text/javascript">

{% if user.is_authenticated %}
  commentFormAjax.to_reload[1]['disabled'] = false;
  commentFormAjax.to_reload[1]['url'] = '{{ post.get_comments_url }}';

  commentFormAjax.to_reload[2]['disabled'] = false;
  commentFormAjax.to_reload[2]['url'] = '{{ post.get_comment_count_url }}';
{% endif %}

commentFormAjax.callbacks['success'].push(
    {'callback': function(){$.jStorage.deleteKey('{{ storage_key }}');}}
);
commentFormAjax.url = '{{ post.get_form_url }}';
commentFormAjax.stop().start();

/* Comments ajax */
var boundAction = {};

$(document).off('mouseenter mouseleave', '.comment')
    .on({
	mouseenter: function() {
	    $(this).find('.edit-comment-link').show()
	},
	mouseleave: function() {
	    $(this).find('.edit-comment-link').hide()
	},
    }, '.comment');

$(document).off('click', '.edit-comment-link')
    .on('click', '.edit-comment-link', function (e) {
    var that = this;
    var area = $(this).parents('.comment').find('.editable_area');
    var pk = $(area).prop('id').replace('comment_', '');
    var commentEdit = new Ajaxion('', {}, 'GET');

    commentEdit.bind = {'selector': '#' + $(area).prop('id')};
    commentEdit.callbacks['success'] = [{'callback': Ajaxion.cb_insert},
					{'callback': function hide_avatar() {
					    $("#comment_" + pk + "_avatar")
						.toggle();
					}}];
    commentEdit.callbacks['error'] = [Ajaxion.cb_error_push_before];
    var url_values = {
        year:'{{ post.pub_date.year }}',
        month:'{{ post.pub_date|date:'m' }}',
        day:'{{ post.pub_date.day }}',
        slug:'{{ post.slug }}',
        pk:pk
    }

    if ($(area).find(">:first-child").prop("tagName") == 'P') {
	commentEdit.url = django_js_utils.urls.resolve('post-comment-single-form', url_values);

	commentEdit.callbacks['success'].push({'callback': function() {
	    var commentEditForm = new Ajaxion('', {}, 'POST');
            commentEditForm.bind = {'selector': '#comment-single-form-' + pk,
                                    'events': 'submit',
                                    'parent': '#comment_' + pk};
            commentEditForm.url = commentEdit.url;

	    commentEditForm.callbacks['success'] = [{'callback': function() {
		$(that).trigger('click');
	    }}];
	    commentEditForm.callbacks['error'] = [Ajaxion.cb_error_push_before];
	    commentEditForm.start();
            boundAction[$(area).prop('id')] = commentEditForm;
	}});
    } else {
        boundAction[$(area).prop('id')].stop();
	delete boundAction[$(area).prop('id')];
        commentEdit.url = django_js_utils.urls.resolve('post-comment-single', url_values);
	commentEdit.callbacks['success'].push({'callback': function () {
	    $(that).parents('.comment').animateHighlight();
	}});
    }
    commentEdit.start();
    commentEdit.stop();
    return false;
});

</script>
