- load humanize common_tags i18n tz

%section.post-list{'itemscope': None, 'itemtype': 'http://schema.org/Blog'}
    - for post in posts
        - if forloop.counter0|divisibleby:3
            <div class="row">

        .col-lg-4.post{'itemprop' : 'blogPosts',
                    'itemscope': None,
                    'itemtype' : 'http://schema.org/BlogPosting',
                    'class'    : '{% if not post.is_public %}private{% endif %}'}

            - for data in post.micro_data.all
                %meta{'itemprop': '{{ data.name }}', 'content': '{{ data.content }}'}

            %meta{'itemprop': 'creator', 'content': '{{ ADMIN.get_full_name|capfirst }}'}

            .content
                %time{'itemprop': 'datePublished',
                      'datetime'    :   '{{ post.pub_date|utc|date:"Y-m-d H:i\Z" }}'}<
                    {{ post.pub_date|date:"b" }}
                    %strong<
                        {{ post.pub_date|date:"d" }}


                %span.readmore<
                    - if outside
                        %a{'data-ajax'      : 'body-content',
                           'data-navbar'    : '#navbar-blog',
                           'data-depth'     : '30',
                           'title'          : '{{ post.title }}',
                           'href'           : '{{ post.get_absolute_url }}'}
                            %i.icon-plus-sign
                    - else
                        %a{'data-ajax'  : 'body-content-only',
                           'data-depth' : '30',
                           'title'      : '{{ post.title }}',
                           'href'       : '{{ post.get_absolute_url }}'}
                            %i.icon-plus-sign


                - if outside
                    %a{'itemprop'       : 'url',
                       'data-ajax'      : 'body-content',
                       'data-navbar'    : '#navbar-blog',
                       'data-depth'     : '30',
                       'title'          : '{{ post.title }}',
                       'href'           : '{{ post.get_absolute_url }}'}
                        %h4{'itemprop'       : 'name'}
                            {{ post|title }}
                - else
                    %a{'itemprop'       : 'url',
                       'data-ajax'  : 'body-content-only',
                       'data-depth' : '30',
                       'title'      : '{{ post.title }}',
                       'href'       : '{{ post.get_absolute_url }}'}
                        %h4{'itemprop'       : 'name'}
                            {{ post|title }}

                %section.description{'itemprop'       : 'description'}
                    {{ post.long_description|markdown }}

        - if forloop.counter|divisibleby:3 or forloop.last
            </div>

    - empty
        %p
            - trans "There are no posts."