- load markup humanize common_tags i18n

%section.post-list
    - for post in posts
        - if forloop.counter0|divisibleby:3
            <div class="row">

        .span4.post
            .content
                %span.date<
                    SEP <strong>05</strong>

                - if outside
                    %a{'data-ajax'      : 'body-content',
                       'data-navbar'    : '#navbar-blog',
                       'data-depth'     : '30',
                       'title'          : '{{ post.title }}',
                       'href'           : '{{ post.get_absolute_url }}'}
                        %h4<
                           {{ post|title }}
                - else
                    %a{'data-ajax'  : 'body-content-only',
                       'data-depth' : '30',
                       'title'      : '{{ post.title }}',
                       'href'       : '{{ post.get_absolute_url }}'}
                        %h4<
                           {{ post|title }}

                %section.description
                    {{ post.long_description|markdown }}

        - if forloop.counter|divisibleby:3 or forloop.last
            </div>

    - empty
        %p
            - trans "There are no posts."
