- load blog_tags i18n

#page-menu-icon
    %a{'href': '#'}
        %i.icon-chevron-right


#page-menu-wrapper
    .element
        .navbar.navbar-default
            .container
                .navbar-header
                    %button.navbar-toggle{'data-toggle' : 'collapse', 'data-target' : '#submenu-collapse'}
                        %span.icon-bar
                        %span.icon-bar
                        %span.icon-bar

                %a.navbar-brand{'href': '{% url "blog" %}'}
                    %strong
                        - trans 'Blog'
                    Menu

                #submenu-collapse.navbar-collapse.collapse
                    %ul.nav.navbar-nav.pull-right{'role': 'complementary'}
                        - blog_tagcloud
                        - blog_categories
                        - blog_archives
                        - blog_menus