- load blog_tags i18n

#page-menu-icon
        %a{'href': '#'}
            %i.icon-chevron-right


#page-menu-wrapper
    .element
        .container
            .row
                .span12
                    .navbar
                        .navbar-inner
                            .container
                                %button.btn.btn-navbar{'type'        : 'button',
                                                       'data-toggle' : 'collapse',
                                                       'data-target' : '.nav-collapse'}
                                    %span.icon-bar
                                    %span.icon-bar
                                    %span.icon-bar
                                %a.brand{'href': '{% url "blog" %}'}
                                    %strong
                                        - trans 'Blog'
                                    Menu
                                .nav-collapse.collapse.pull-right
                                    %ul.nav{'role': 'complementary'}
                                        - blog_tagcloud
                                        - blog_categories
                                        - blog_archives
                                        - blog_menus

-# %ul#left-menu
    -# - blog_categories
    -# - blog_menus
    -# - blog_tagcloud
    -# - blog_archives
