%a{'{{ object.attributes|safe }}' : None,
   'href'                         : '{{ object.link }}'}

    .informations
        %h4
            {{ object.name }}

        %i{'class': '{{ object.icon }}'}

        - if object.description
            %p
                {{ object.description }}