name: api

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

permissions:
  contents: read

defaults:
  run:
    working-directory: api

# Don't run more than one workflow for the same branch at a time
# This is to save credits on the CI provider
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
   PROD_IMAGE_URI: registry.fly.io/melvinla-api-prod

jobs:
  prepare-env:
    name: detect what files changed
    runs-on: ubuntu-latest
    container:
      # replace with variable https://github.com/actions/runner/issues/1182
      image: &service-images-go-dev ghcr.io/nivl/service-images-go-dev:sha-f8dbff4
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}
    outputs:
      code-changed: ${{ steps.changes.outputs.src }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup Go
        id: restore-cache
        uses: './.github/actions/setup-go'
        with:
          project-name: api

      - name: Update cache if needed
        shell: sh
        if: steps.restore-cache.outputs.is-cache-hit != 'true'
        run: go mod download

      - name: Check for file changes
        uses: dorny/paths-filter@668c092af3649c4b664c54e4b704aa46782f6f7c
        id: changes
        with:
          token: ${{ github.token }}
          filters: |
            src:
              - 'api/**/*.go'
              - 'api/Taskfile_CI.yml'
              - 'api/go.sum'
              - 'api/go.mod'
              - 'api/Dockerfile'
              - '.github/workflows/api.yml'
              - '.github/actions/go-*/*.yml'

  build:
    if: needs.prepare-env.outputs.code-changed == 'true'
    needs: [prepare-env]
    runs-on: ubuntu-latest
    container:
      image: *service-images-go-dev
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}

    steps:
      - uses: actions/checkout@v6

      - name: Setup Go
        id: restore-cache
        uses: './.github/actions/setup-go'
        with:
          project-name: api

      - run: task ci:build

      - name: Save binary
        uses: actions/upload-artifact@v5
        with:
          name: api
          path: ./api/bin/api
          if-no-files-found: error

  lint:
    if: needs.prepare-env.outputs.code-changed == 'true'
    needs: [prepare-env]
    runs-on: ubuntu-latest
    container:
      image: *service-images-go-dev
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup Go
        id: restore-cache
        uses: './.github/actions/setup-go'
        with:
          project-name: api

      - run: task ci:lint

  test-code:
    if: needs.prepare-env.outputs.code-changed == 'true'
    needs: [prepare-env]
    runs-on: ubuntu-latest
    container:
      image: *service-images-go-dev
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}

    steps:
      - uses: actions/checkout@v6

      - name: Setup Go
        id: restore-cache
        uses: './.github/actions/setup-go'
        with:
          project-name: api

      - name: Test
        run: task ci:test RESULTS_DIR=/tmp/test-results

      - name: Annotate tests
        if: success() || failure()
        uses: guyarb/golang-test-annotations@2941118d7ef622b1b3771d1ff6eae9e90659eb26
        with:
          test-results: /tmp/test-results/results.json
          working-directory: api

  build-image:
    if: |
      always() &&
      needs.prepare-env.outputs.code-changed == 'true' &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled')
    name: Build docker image
    runs-on: ubuntu-latest
    needs:
      - build
    permissions:
      contents: read
      packages: read

    steps:
      - uses: actions/checkout@v6

      - name: Restore Binary
        uses: actions/download-artifact@v6
        with:
          name: api
          path: ./api/bin

      - name: Build Image
        uses: docker/build-push-action@9e436ba9f2d7bcd1d038c8e55d039d37896ddc5d
        with:
          context: ./api
          push: false

  publish-image:
    if: |
      always() &&
      github.event_name == 'push' && github.ref == 'refs/heads/main' &&
      needs.prepare-env.outputs.code-changed == 'true' &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled')
    name: Build and Publish image to registry
    runs-on: ubuntu-latest
    needs:
      - build
      - lint
      - test-code
      - build-image
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v6

      - name: Restore Binary
        uses: actions/download-artifact@v6
        with:
          name: api
          path: ./api/bin

      - name: Install flyctl
        uses: superfly/flyctl-actions/setup-flyctl@63da3ecc5e2793b98a3f2519b3d75d4f4c11cec2

      - name: Login to the Registry
        run: flyctl auth docker
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
        with:
          images: ${{ env.PROD_IMAGE_URI }}
          tags: |
            type=sha
            type=raw,value=latest

      - name: Build Image, tag it, and push to Github Container Registry
        uses: docker/build-push-action@9e436ba9f2d7bcd1d038c8e55d039d37896ddc5d
        with:
          context: ./api
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deploy-to-prod:
    if: |
      always() &&
      github.event_name == 'push' && github.ref == 'refs/heads/main' &&
      needs.prepare-env.outputs.code-changed == 'true' &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled')
    name: Deploy to prod
    runs-on: ubuntu-latest
    container:
      image: *service-images-go-dev
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}
    needs:
      - publish-image
    steps:
      - uses: actions/checkout@v6

      - name: Install flyctl
        uses: superfly/flyctl-actions/setup-flyctl@63da3ecc5e2793b98a3f2519b3d75d4f4c11cec2

      - name: Deploy
        run: flyctl deploy --image ${{ env.PROD_IMAGE_URI }}:latest --config ./fly.toml
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
        timeout-minutes: 5

  # This job is what github action will check to see if a PR is ready to
  # be merged.
  api-required-check:
    needs:
      [
        prepare-env,
        build,
        lint,
        test-code,
        build-image,
      ]
    # This is necessary since a failed/skipped dependent job would cause this job to be skipped
    if: always()
    runs-on: ubuntu-latest
    steps:
      # If any jobs we depend on fail, we will fail since this is a required check
      # NOTE: A timeout is considered a failure
      - name: Check for failures
        if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: |
          echo "One of the dependent jobs have failed. You may need to re-run it." && exit 1
