{% load user_tags %}

{% if is_user %}
   <div class="item">
     {{ item|square_thumbnail:"126" }}
     <div class="caption">
      <h6>
        <a data-ajax="body-content-only"
           data-depth="40"
           title="{{ item.get_full_name }}"
           href="{{ item.get_absolute_url }}">
           {{ item.get_full_name }}
         </a>
       </h6>
       <p>
         {{ item.get_profile.occupation }}
       </p>
     </div>
   </div>
{% else %}
  <div class="item">
    <div class="thumbnail">
      <img src="{{ item.image.url }}"
           alt="{{ item.name }}"
           title="{{ item.name }}"
           width="126" height="126">
    </div>
    <div class="caption">
      <h6>
        <a href="{{ item.url }}">
          {{ item.name }}
        </a>
      </h6>

      <p>
        {{ item.description }}
      </p>
    </div>
  </div>
{% endif %}
