- load i18n common_tags

%h2
    - trans "Images"

    - for image in images
        - if forloop.counter0|divisibleby:3
            <ul class="thumbnails">

        %li.span3{'itemprop' : 'screenshot',
                  'itemscope': None,
                  'itemtype' : 'http://schema.org/ImageObject'}

            %meta{'itemprop': 'title',
                  'content' : '{{ image.description }}'}

            %a.thumbnail.highslide{'title'        : '{{ image.name }}',
                                   'href'         : '{{ image.image.url }}'}

                %img{'src'      :   '{{ image.image.url }}',
                     'alt'      :   '{{ image.name }}',
                     'itemprop' :   'contentURL'}

            - if image.description
                .highslide-caption{'itemprop': 'caption'}
                    {{ image.description|markdown }}

        - if forloop.counter|divisibleby:3 or forloop.last
            </ul>