{% load i18n %}

%h2
    - trans "Images"


- for image in images
    - if forloop.counter0|divisibleby:3
        <ul class="thumbnails">

    %li.span3
        %a.thumbnail.highslide{'title'        : '{{ image.description }}',
                               'href'         : '{{ image.image.url }}'}

            %img{'src'   :   '{{ image.image.url }}',
                 'alt'   :   '{{ image.name }}'}

            .highslide-caption
                {{ image.name }}

    - if forloop.counter|divisibleby:3 or forloop.last
        </ul>
