- load i18n markup user_tags

%h2<
    {% blocktrans with project_name=project.name %}Information about {{ project_name }}{% endblocktrans %}

%ul.unstyled.margin-bottom-3
    %li
        %strong<
            - trans "Project License: "

        %span{'class'   : '{% if perms.lab.change_project %}lab-project-license-live-edit{% endif %}',
              'id'      : 'lab-project-license-{{ project.pk }}'}
            - include 'ajax/single_field_link_value.haml' with value=project.license.name value_url=project.license.url

        - if project.sources_url
            %li
                %a{'class'  : 'btn',
                   'href'   : '{{ project.sources_url }}'}
                    %i.icon-share
                    - trans "Browse the sources"


.clearfix
    .rounded-diagram-wrapper.pull-right
        #rounded-diagram

        .get
            - with project.projectlanguagerate_project.all as languages
                - for lang in languages
                    .arc
                        %span.text<
                            {{ lang.language.name }}

                        %input{'type'     : 'hidden',
                               'class'    : 'percent',
                               'value'    : '{{ lang.rate }}'}

                        %input{'type'     : 'hidden',
                               'class'    : 'color',
                               'value'    : '#{{ lang.language.color }} '}

    %div{'id'      : 'lab-project-description-{{ project.pk }}',
         'class'   : '{% if perms.lab.change_project %}lab-project-description-live-edit{% endif %}',
         'itemprop': 'description'}
        - include 'ajax/single_field_value_md.haml' with value=project.description


- with project.lab_post_blog.all as entries
    - if entries
        %h3
            - trans "Blog entries related to this project"
        %p
            - for entry in entries
                %a.btn{'href' : '{{ entry.get_absolute_url }}'}
                    {{ entry }}

- with project.clients_user.all as clients_user
    - with project.clients.all as clients
        - if clients or clients_user
            #clients.clearfix
                %h3<
                    - trans "Client(s)"

                .business-card
                    .real_user.pull-left{'id'      : 'lab-project-realclients-{{ project.pk }}',
                                         'class'   : '{% if perms.lab.change_project %}lab-project-realclients-live-edit{% endif %}'}
                        - include "lab/ajax/business_card.haml" with items=client_user is_user=1

                    .fake_user{'id'      : 'lab-project-clients-{{ project.pk }}',
                               'class'   : '{% if perms.lab.change_project %}lab-project-clients-live-edit{% endif %}'}
                        - include "lab/ajax/business_card.haml" with items=clients is_user=0


- with project.coworkers_user.all as coworkers_user
    - with project.coworkers.all as coworkers
        - if coworkers or coworkers_user
            #coworkers.clearfix
                %h3<
                    - trans "Team"

                .business-card
                    .real_user.pull-left{'id'      : 'lab-project-realcoworkers-{{ project.pk }}',
                                         'class'   : '{% if perms.lab.change_project %}lab-project-realcoworkers-live-edit{% endif %}'}
                        - include "lab/ajax/business_card.haml" with items=coworkers_user is_user=1


                    .fake_user{'id'      : 'lab-project-coworkers-{{ project.pk }}',
                               'class'   : '{% if perms.lab.change_project %}lab-project-coworkers-live-edit{% endif %}'}
                        - include "lab/ajax/business_card.haml" with items=coworkers is_user=0
