- load i18n markup user_tags

%h2<
    {% blocktrans with project_name=project.name %}Information about {{ project_name }}{% endblocktrans %}

%ul.unstyled.margin-bottom-3
    %li
        %strong<
            - trans "Project License: "

        %span{'data-type'   :  '{% if perms.lab.change_project %}live-editable{% endif %}',
              'data-target' :  'lab-project-license',
              'data-pk'     :  '{{ project.pk }}'}
            - include 'ajax/single_field_value.haml' with value=project.license.name value_url=project.license.url

        - if project.sources_url
            %li
                %a{'class'  : 'btn',
                   'href'   : '{{ project.sources_url }}'}
                    %i.icon-share
                    - trans "Browse the sources"


.clearfix
    .donut-chart.chart-wrapper.pull-right
        #language-rates.chart

        .data
            - with project.projectlanguagerate_project.all as languages
                - for lang in languages
                    .tuple{'data-label': '{{ lang.language.name }}',
                           'data-value': '{{ lang.rate }}',
                           'data-color': '#{{ lang.language.color }}'}


    %div{'itemprop'    : 'description',
         'data-type'   :  '{% if perms.lab.change_project %}live-editable{% endif %}',
         'data-target' :  'lab-project-description',
         'data-pk'     :  '{{ project.pk }}'}
        - include 'ajax/single_field_value_md.haml' with value=project.description


- with project.lab_post_blog.all as entries
    - if entries
        %h3
            - trans "Blog entries related to this project"
        %p
            - for entry in entries
                %a.btn{'href' : '{{ entry.get_absolute_url }}'}
                    {{ entry }}

- with project.clients_user.all as clients_user
    - with project.clients.all as clients
        - if clients or clients_user
            #clients.clearfix
                %h3<
                    - trans "Client(s)"

                .business-card
                    .real_user.pull-left.editable{'data-type'   :  '{% if perms.lab.change_project %}live-editable{% endif %}',
                                                  'data-target' :  'lab-project-realclients',
                                                  'data-pk'     :  '{{ project.pk }}'}
                        - include "lab/ajax/business_card.haml" with items=client_user is_user=1

                    .fake_user.editable{'data-type'   :  '{% if perms.lab.change_project %}live-editable{% endif %}',
                                        'data-target' :  'lab-project-clients',
                                        'data-pk'     :  '{{ project.pk }}'}
                        - include "lab/ajax/business_card.haml" with items=clients is_user=0


- with project.coworkers_user.all as coworkers_user
    - with project.coworkers.all as coworkers
        #coworkers.clearfix.editable-wrapper{'class' : '{% if not coworkers and not coworkers_user %}hide{% endif %}'}
            %h3<
                - trans "Team"

            .business-card
                .real_user.pull-left.editable{'data-type'   :  '{% if perms.lab.change_project %}live-editable{% endif %}',
                                              'data-target' :  'lab-project-realcoworkers',
                                              'data-pk'     :  '{{ project.pk }}'}
                    - include "lab/ajax/business_card.haml" with items=coworkers_user is_user=1


                .fake_user.editable{'data-type'   :  '{% if perms.lab.change_project %}live-editable{% endif %}',
                                    'data-target' :  'lab-project-coworkers',
                                    'data-pk'     :  '{{ project.pk }}'}
                    - include "lab/ajax/business_card.haml" with items=coworkers is_user=0
