{% load humanize common_tags i18n tz %}

<h1>{% trans "Progress" %}</h1>

  <div class="progress progress-striped {% if project.overall_progress != 100%}active{% endif %}">
    <div class="bar" style="width:{{ project.overall_progress }}%;"></div>
  </div>

<div class="row">
  <div class="span8 offset1">
    <dl class="dl-horizontal">
      {% for event in progress %}
	<dt>
	  <time datetime="{{ event.pub_date|utc|date:"Y-m-d H:i\Z" }}">
	    {{ event.pub_date|naturalday }}
	  </time>
	  <dd>
	    <span>
	      {{ event.description }}
	    </span>
	  {% endfor%}
    </dl>
  </div>
</div>
{% if todo %}
  <div class="row">
    <h2>{% trans "Todo" %}</h2>
    <div class="span8 offset1">
      <ul>
	{% for task in todo %}
	  <li class="dl-horizontal">
	    {{ task.task }}
	  {% endfor%}
    </div>
  </div>
{% endif %}

