- load humanize common_tags i18n tz

%h2<
    - trans "Progress"


%div{'id'      : 'lab-project-progress-rate-{{ project.pk }}',
     'class'   : '{% if perms.lab.change_project %}lab-project-progress-rate-live-edit{% endif %}'}
    - include 'lab/ajax/overall_progress.haml' with value=project.overall_progress


.row
    .span8.offset1
        %dl.dl-horizontal
            - for event in progress
                %dt{'id'      : 'lab-project-progress-date-{{ event.pk }}',
                    'class'   : '{% if perms.lab.change_progress %}lab-project-progress-date-live-edit{% endif %}'}
                    {{ event.pub_date|naturalday }}
                %dd{'id'      : 'lab-project-progress-description-{{ event.pk }}',
                    'class'   : '{% if perms.lab.change_progress %}lab-project-progress-description-live-edit{% endif %}'}
                      {{ event.description }}

- if todo
    %div.row
        %h3
            - trans "Todo"

        .span8.offset1
            %ul
                - for task in todo
                    %li.dl-horizontal
                        {{ task.task }}

