- load humanize common_tags i18n tz

%h2<
    - trans "Progress"


%div{'data-type'   :  '{% if perms.lab.change_project %}live-editable{% endif %}',
     'data-target' :  'lab-project-progress',
     'data-pk'     :  '{{ project.pk }}'}
    - include 'lab/ajax/overall_progress.haml' with value=project.overall_progress


.row
    .span8.offset1
        %dl.dl-horizontal
            - for event in progress
                %dt{'data-type'   :  '{% if perms.lab.change_progress %}live-editable{% endif %}',
                    'data-target' :  'lab-progress-date',
                    'data-pk'     :  '{{ event.pk }}'}
                    {{ event.pub_date|naturalday }}

                %dd{'data-type'   :  '{% if perms.lab.change_progress %}live-editable{% endif %}',
                    'data-target' :  'lab-progress-description',
                    'data-pk'     :  '{{ event.pk }}'}
                      {{ event.description }}

- if todo
    %div.row
        %h3
            - trans "Todo"

        .span8.offset1
            %ul
                - for task in todo
                    %li.dl-horizontal
                        {{ task.task }}

