- load humanize common_tags i18n

%h2<
    - trans "Videos"

- for video in videos
    .video{'itemprop' : 'screenshot',
           'itemscope': None,
           'itemtype' : 'http://schema.org/ImageObject'}

        %h3{'itemprop'    : 'name',
            'data-type'   :  '{% if perms.lab.change_video %}live-editable{% endif %}',
            'data-target' :  'lab-video-name',
            'data-pk'     :  '{{ video.pk }}'}
            - include 'ajax/single_field_value.haml' with value=video.name

        %div{'itemprop' : 'description',
             'data-type'   :  '{% if perms.lab.change_video %}live-editable{% endif %}',
             'data-target' :  'lab-video-description',
             'data-pk'     :  '{{ video.pk }}'}
            - include 'ajax/single_field_value_md.haml' with value=video.description

        %iframe{'src'           : '{{ video.url }}',
                'frameborder'   : '0',
                'width'         : '480',
                'height'        : '270'}
