- load humanize common_tags i18n

%h2<
    - trans "Videos"

- for video in videos
    .video{'itemprop' : 'screenshot',
           'itemscope': None,
           'itemtype' : 'http://schema.org/ImageObject'}

        %h3{'itemprop' : 'name'}
            {{ video.name }}
        %p{'itemprop' : 'description'}
            {{ video.description }}

        %iframe{'src'           : '{{ video.url }}',
                'frameborder'   : '0',
                'width'         : '480',
                'height'        : '270'}
